* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

html,
body {
    width: 100%;
    height: 100%;
}

header {
    width: 100%;
    height: auto;
    overflow: hidden;
}

header>div {
    width: 100%;
    height: auto;
    overflow: hidden;
    background-image: url("../images/pic_old/dog_pic/dog_1.JPG");
    background-size: cover;
}

header>div>div {
    width: auto;
    height: auto;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
}

header>div>div>a {
    width: 208px;
    height: 204px;
    border-radius: 45%;
    background-image: url("../images/pic_old/logo.png");
    background-size: cover;
    display: block;
    margin: 27px 60px 0 60px;
}

header>div>div>p {
    font-size: 40px;
    color: #fff;
    line-height: 231px;
    letter-spacing: 8px;
}

header>div>div>nav {
    width: 1160px;
    height: 97px;
    overflow: hidden;
    background-color: #fff;
    margin-left: 223px;
}

header>div>div>nav>a {
    float: left;
    width: 20%;
    height: auto;
    font-size: 15px;
    color: black;
    text-align: center;
    line-height: 97px;
}

header>div>div>nav>a:hover {
    background-color: coral;
}

header>div>h1 {
    font-size: 90px;
    color: #fff;
    letter-spacing: 6px;
    text-align: center;
    padding-top: 45%;
    padding-bottom: 5%;
}

aside {
    width: 100%;
    height: auto;
    overflow: hidden;
    background-image: url("../images/pic_old/dog_pic/dog_3.JPG");
    background-size: cover;
}

aside>div {
    width: 100%;
    height: auto;
    overflow: hidden;
    padding-top: 257px;
    padding-bottom: 197px;
    padding-left: 75px;
}

aside>div>div {
    width: 20px;
    height: 76px;
    background-color: #FFBA08;
    float: left;
}

aside>div>h2 {
    font-size: 50px;
    color: #fff;
    padding-left: 50px;
}

#icon1 {
    width: 111px;
    height: 111px;
    overflow: hidden;
    background-image: url("../images/pic/circle.png");
    background-repeat: no-repeat;
    padding: 0;
    margin: 0 auto 122px auto;
}

#aside2 {
    width: 100%;
    height: auto;
    overflow: hidden;
    background-color: #F1EFED;
}

#aside2>p {
    font-size: 50px;
    color: #BDAEAE;
    padding: 356px 0 489px 311px;
}

article {
    width: 100%;
    height: 1500px;
    overflow: hidden;
    background-color: #14213D;
    position: relative;
}

article>div {
    position: absolute;
}

#arrow1 {
    width: 103px;
    height: 59px;
    overflow: hidden;
    background-image: url("../images/pic/Path.png");
    margin: 0 auto;
    position: initial;
    margin: 110px auto 80px auto;
}

#dog_pic {
    width: 814px;
    height: 727px;
    overflow: hidden;
    background-size: cover;
    margin: 150px 0 0 235px;
    z-index: 1;
}

.dog_pic1 {
    background-image: url("../images/pic_old/dog_pic/動物之家.jpg");
}

.dog_pic2 {
    background-image: url("../images/pic_old/dog_pic/dog_5.JPG");
}

.dog_pic3 {
    background-image: url("../images/pic_old/dog_pic/好好善待動物協會2.jpg");
}

#story {
    width: 900px;
    height: 595px;
    overflow: hidden;
    background-color: #fff;
    z-index: 2;
    margin: 250px 0 0 895px;
}

#story>div {
    width: 215px;
    height: 120px;
    overflow: hidden;
    background-color: black;
    margin: 475px 0 0 685px;
}

#story>div>a {
    font-size: 27px;
    color: #fff;
    line-height: 120px;
    margin: 0 10px 0 10px;
}

#story>div>a.btn1 {
    margin-left: 64px;
}

#arrow2 {
    width: 103px;
    height: 59px;
    overflow: hidden;
    background-image: url("../images/pic/Path.png");
    margin: 0 auto;
    margin: 56% 0 0 47%;
}

#aside3 {
    width: 100%;
    height: auto;
    overflow: hidden;
    background-color: #F1EFED;
}

#aside3>p {
    font-size: 50px;
    color: #BDAEAE;
    padding: 356px 0 354px 516px;
}

#aside4 {
    width: 100%;
    height: auto;
    overflow: hidden;
    background-color: #14213D;
}

#aside4>div {
    width: 103px;
    height: 59px;
    overflow: hidden;
    background-image: url("../images/pic/Path.png");
    margin: 170px auto;
}

footer {
    width: 100%;
    height: auto;
    overflow: hidden;
    background-color: #14213D;
}

#arrow3 {
    width: 103px;
    height: 59px;
    overflow: hidden;
    background-image: url("../images/pic/Path.png");
    margin: 363px auto 0 auto;
}

#left_bar {
    width: 204px;
    height: 363px;
    overflow: hidden;
    background-image: url("../images/pic/Rectangle\ 29.png");
    margin-top: -186px;
    float: left;
}

#left_bar>a {
    font-size: 20px;
    color: #fff;
    padding: 0 46px 0 43px;
    line-height: 52px;
    float: left;
}

#left_bar>a.left_1 {
    padding-top: 58px;
}

#left_bar>a:hover {
    color: #FF521C;
}

#down_bar {
    width: 651px;
    height: 155px;
    overflow: hidden;
    background-image: url("../images/pic/Group\ 74.png");
    float: right;
    margin: 52px 622px 0 0;
}

#down_bar>a {
    font-size: 22px;
    color: #fff;
    line-height: 210px;
    margin: 0 52px;
}

#down_bar>a.down_1 {
    margin-left: 101px;
}