* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

img {
    display: block;
}

header {
    width: 100%;
    height: 850px;
    background-color: #ffa958;
    >h1{
        font-size: 40px;
        font-weight: bolder;
        color: #fff;
        padding: 16% 0 0 1%;
        line-height: 70px;
        >span{
            font-size: 96px;
        }
    }  
}

// #logo {
//     width: 208px;
//     height: 204px;
//     position: absolute;
//     border-radius: 45%;
//     background-image: url("../images/pic/logo.png");
//     background-size: 208px 204px;
//     margin: 27px 0 0 40px;
//     z-index: 3;
// }

#top{
    width: 100%;
    height: 333px;
    position: relative;
    background-image: url("../images/pic/page4/照片鍊子上層.png");
    >img{
        position: absolute;
        &.pic1{
            top: 56%;
            left: 2%;
        }
        &.pic2{
            top: 64%;
            left: 36%;
        }
        &.pic3{
            top: 84%;
            left: 65%;
        }
    }
}

#section_bg{
    width: 100%;
    height: auto;
    overflow: hidden;
    background-image: url("../images/pic/網頁背景.png");
}

#section_1{
    width: 100%;
    height: 500px;
    padding-top: 100px;
    position: relative;
    >div{
        width: 680px;
        height: 300px;
        background-image: url("../images/pic/page4/左選單1.png");
        background-repeat: no-repeat;
        background-position: 100%;
        background-size: cover;
        margin-left: -12%;
        &.in{
            animation: in_left 1s forwards ease-in-out;
        }
        &.out{
            animation: out_left 1s forwards ease-in-out;
        }
        >img{
            width: 350px;
            height: 350px;
            border-radius: 5%;
            margin: -3% auto 0 auto;
        }
    }
    >h1{
        position: absolute;
        color: #242424;
        font-size: 80px;
        font-weight: bolder;
        top: 31%;
        left: 49%;
        opacity: 0;
        &.word_show{animation: show 1s forwards ease-in-out;}
        &.word_hide{animation: hide 1s forwards ease-in-out;}
    }
    >p{
        position: absolute;
        color: #242424;
        font-size: 40px;
        font-weight: bold;
        top: 40%;
        left: 66%;
        opacity: 0;
        &.word_show{animation: show 1s forwards ease-in-out;}
        &.word_hide{animation: hide 1s forwards ease-in-out;}
    }
}

@keyframes in_left {
    0%{}
    100%{transform: translateX(30%);}
}
@keyframes out_left {
    0%{transform: translateX(30%);}
    100%{transform: translateX(0%);}
}
@keyframes in_right {
    0%{}
    100%{transform: translateX(-30%);}
}
@keyframes out_right {
    0%{transform: translateX(-30%);}
    100%{transform: translateX(0%);}
}
@keyframes show {
    0%{opacity: 0;}
    100%{opacity: 1;}
}
@keyframes hide {
    0%{opacity: 1;}
    100%{opacity: 0;}
}

#section_2{
    width: 100%;
    height: 500px;
    padding-top: 100px;
    position: relative;
    >div{
        width: 680px;
        height: 300px;
        background-image: url("../images/pic/page4/右選單1.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 0%;
        margin-left: 77%;
        >img{
            width: 350px;
            height: 350px;
            border-radius: 5%;
            margin: -3% auto 0 auto;
        }
    }
}

#section_3{
    width: 100%;
    height: 500px;
    padding-top: 100px;
    position: relative;
    >div{
        width: 680px;
        height: 300px;
        background-image: url("../images/pic/page4/左選單1.png");
        background-repeat: no-repeat;
        background-position: 100%;
        background-size: cover;
        margin-left: -12%;
        >img{
            width: 350px;
            height: 350px;
            border-radius: 5%;
            margin: -3% auto 0 auto;
        }      
    }
    >h1{
        position: absolute;
        color: #242424;
        font-size: 80px;
        font-weight: bolder;
        top: 31%;
        left: 49%;
        opacity: 0;
        &.word_show{animation: show 1s forwards ease-in-out;}
        &.word_hide{animation: hide 1s forwards ease-in-out;}
    }
    >p{
        position: absolute;
        color: #242424;
        font-size: 40px;
        font-weight: bold;
        top: 40%;
        left: 66%;
        opacity: 0;
        &.word_show{animation: show 1s forwards ease-in-out;}
        &.word_hide{animation: hide 1s forwards ease-in-out;}
    }
}

#section_4{
    width: 100%;
    height: 500px;
    padding-top: 100px;
    position: relative;
    >div{
        width: 680px;
        height: 300px;
        background-image: url("../images/pic/page4/右選單1.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 0%;
        margin-left: 77%;
        >img{
            width: 350px;
            height: 350px;
            border-radius: 5%;
            margin: -3% auto 0 auto;
        }
    }
}

#section_5{
    width: 100%;
    height: 500px;
    padding-top: 100px;
    position: relative;
    >div{
        width: 680px;
        height: 300px;
        background-image: url("../images/pic/page4/左選單1.png");
        background-repeat: no-repeat;
        background-position: 100%;
        background-size: cover;
        margin-left: -12%;
        >img{
            width: 350px;
            height: 350px;
            border-radius: 5%;
            margin: -3% auto 0 auto;
        }    
    }
    >h1{
        position: absolute;
        color: #242424;
        font-size: 80px;
        font-weight: bolder;
        top: 31%;
        left: 49%;
        opacity: 0;
        &.word_show{animation: show 1s forwards ease-in-out;}
        &.word_hide{animation: hide 1s forwards ease-in-out;}
    }
    >p{
        position: absolute;
        color: #242424;
        font-size: 40px;
        font-weight: bold;
        top: 40%;
        left: 66%;
        opacity: 0;
        &.word_show{animation: show 1s forwards ease-in-out;}
        &.word_hide{animation: hide 1s forwards ease-in-out;}
    }
}

#last{
    width: 100%;
    height: 1080px;
    background-image: url("../images/pic/網頁背景.png");
    position: relative;
    >img{
        position: absolute;
        left: 0;
        top: 20%;  
    }
}

#info{
    width: 100%;
    height: 900px;
    background-image: url("../images/pic/網頁背景.png");
    >div{
        width: 100%;
        height: 70%;
        background-image: url("../images/pic/page4/收容所背景底色.png");
        display: grid;
        grid-template-columns: calc(100%/3) calc(100%/3) calc(100%/3);
        grid-template-rows: 100%;
        >div{
            width: 434px;
            height: 520px;
            background-image: url("../images/pic/page4/收容所框架.png");
            margin:auto;
            >a{
                display: inline-block;
                width: 157px;
                height: 53px;
                background-image: url("../images/pic/page4/收容所-按鈕.png");
                margin: 100% 0 0 32%;
            }
        }
    }
}

footer {
    width: 100%;
    height: 100px;
    background-color: #14213D;
}

#left_bar {
    width: 86px;
    height: 86px;
    overflow: hidden;
    background-image: url("../images/pic/選單內底框.png");
    background-size: cover;
    background-position: 100%;
    border-radius: 50px;
    position: fixed;
    top: 4%;
    left: 94%;
    z-index: 999;
    &:hover {
        animation: push 0.5s ease forwards;
    }
    >a {
        width: 80px;
        height: 80px;
        background-image: url("../images/pic/選單內灰園框.png");
        background-size: cover;
        background-position: 100%;
        display: block;
        border-radius: 50%;
        font-size: 20px;
        font-weight: bolder;
        color: #fff;
        margin: 3px auto 0 auto;
        text-align: center;
        line-height: 80px;
        &:hover {
            color: #ff754b;
        }
        &.left_1{
            background-image: url("../images/pic/選單.png");
            background-size: cover;
        }
    }
}

@keyframes push {
    0% {}
    100% {
        height: 418px;
    }
}