* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

img {
    display: block;
}

header {
    width: 100%;
    height: 1080px;
    overflow: hidden;
    background-image: url("../images/pic/收容所.jpg");
    background-size: cover;
}

#logo {
    width: 208px;
    height: 204px;
    background-image: url("../images/pic/logo.png");
    background-size: 208px 204px;
    margin: 27px 0 0 40px;
}

#pick1 {
    width: 300px;
    height: 300px;
    display: inline-block; 
}

#pick2 {
    width: 300px;
    height: 300px;
    display: inline-block;  
}

#pick3 {
    width: 300px;
    height: 300px;
    display: inline-block;
}

.click_in {
    animation: in 0.8s ease-in-out forwards;
}

#main_section {
    width: 300%;
    height: 1200px;
    overflow: hidden;
    display: flex;
    align-content: flex-start;
}

article {
    width: 100%;
    height: 1200px;
    overflow: hidden;
    background-color: #14213D;
    position: absolute;
}

#story_1 {
    left: -100%;
}

#story_2 {
    left: 0%;
}

#story_3 {
    left: 100%;
}

article>div {
    position: absolute;
}

#arrow1 {
    width: 103px;
    height: 59px;
    overflow: hidden;
    background-image: url("../images/pic/Path.png");
    position: initial;
    margin: 110px auto;
}

#dogPic {
    width: 1024px;
    height: 576px;
    overflow: hidden;
    background-size: cover;
    margin: 0 0 0 150px;
    z-index: 1;
    border-radius: 12%;
}

.dog_pic1 {
    background-image: url("../images/pic/2.jpg");
}

.dog_pic2 {
    background-image: url("../images/pic/3.jpg");
}

.dog_pic3 {
    background-image: url("../images/pic/5.jpg");
}

.dog_pic4 {
    background-image: url("../images/pic/6.jpg");
}

.dog_pic5 {
    background-image: url("../images/pic/7.jpg");
}

.dog_pic6 {
    background-image: url("../images/pic/8.jpg");
}

.dog_pic7,
.dog_pic8,
.dog_pic9,
.dog_pic10 {
    background-image: url("../images/pic/9.jpg");
}

#story_Fir, 
#story_Sec, 
#story_Thr {
    position: relative;
    width: 600px;
    height: 450px;
    overflow: hidden;
    background-color: #fff;
    z-index: 2;
    margin: 320px 0 0 1000px;
    border-radius: 12%;
    >p {
        font-size: 23px;
        text-align: center;
        padding-top: 30%;
        animation: word_show 0.5s ease-in forwards;
    }
}

@keyframes word_show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.hide {
    display: none;
}

#story_Fir>div,
#story_Sec>div,
#story_Thr>div {
    position: absolute;
    width: 215px;
    height: 120px;
    overflow: hidden;
    background-color: black;
    left: 41%;
    top: 83%;
    border-radius: 40%;
    >a {
        font-size: 27px;
        color: #fff;
        line-height: 102px;
        margin: 0 10px 0 10px;
        &:hover {
            color: rgb(255, 110, 110);
        }
        &.active{
            color: rgb(255, 110, 110);
        }
    }
}

.btn1,
.btn5,
.btn8 {
    margin-left: 61px;
}

#arrow2 {
    width: 103px;
    height: 59px;
    overflow: hidden;
    position: absolute;
    left: 49%;
    top: 93%;
    background-image: url("../images/pic/Path.png");
    background-repeat: no-repeat;
    animation: arrowMove 3s linear infinite;
    opacity: 0.5;
}

@keyframes arrowMove {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(120px);
    }
}

#abandon1,
#abandon2,
#abandon3 {
    width: 100%;
    height: 0;
    overflow: hidden;
    background-image: url("../images/pic/網頁背景.png");
    position: relative;
    > {
        h1 {
            color: rgb(138, 136, 136);
            font-size: 60px;
            padding: 10% 7%;
            >span {}
        }
        p {
            text-align: center;
            padding: 0 15% 10% 15%;
            font-size: 30px;
            line-height: 45px;
        }
    }
}

#story_end{
    width: 100%;
    height: 1080px;
    background-image: url("../images/pic/相框.png");
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

footer {
    width: 100%;
    height: auto;
    overflow: hidden;
    background-color: #14213D;
}

#arrow3 {
    width: 103px;
    height: 59px;
    overflow: hidden;
    background-image: url("../images/pic/Path.png");
    margin: 200px auto 0 auto;
}

#left_bar {
    width: 86px;
    height: 86px;
    overflow: hidden;
    background-color: #fff;
    border-radius: 50px;
    position: fixed;
    top: 5%;
    left: 94%;
    &:hover {
        animation: push 0.5s ease forwards;
    }
    >a {
        width: 80px;
        height: 80px;
        display: block;
        border-radius: 50%;
        font-size: 20px;
        margin: 3px auto 0 auto;
        text-align: center;
        line-height: 80px;
        &:hover {
            color: #FF521C;
        }
        &.left_1{
            background-image: url("../images/pic/選單.png");
            background-size: cover;
            background-position: 50% 50%;
        }
    }
}

@keyframes push {
    0% {}
    100% {
        height: 418px;
    }
}