@font-face {
    font-family: FakePearl-Regular;
    src: url(https://cdn.jsdelivr.net/gh/max32002/FakePearl@1.1/webfont/FakePearl-Regular.woff2) format("woff2")
    , url(https://cdn.jsdelivr.net/gh/max32002/FakePearl@1.1/webfont/FakePearl-Regular.woff) format("woff");
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: FakePearl-Regular;
}

html,
body {
    width: 100%;
    height: 100%;
}

img {
    display: block;
}

header {
    width: 100%;
    height: 1080px;
    overflow: hidden;
    background-image: url("../images/pic/收容所.jpg");
    background-size: cover;
    position: relative;
    >a{
        position: absolute;
    }
}

#logo {
    width: 208px;
    height: 204px;
    background-image: url("../images/pic/logo.png");
    background-size: 208px 204px;
    margin: 27px 0 0 40px;
}

#pick1 {
    width: 320px;
    height: 350px;
    display: inline-block;
    top: 67%;
    left: 23%; 
}

#pick2 {
    width: 240px;
    height: 320px;
    display: inline-block; 
    top:67%;
    left: 46%; 
}

#pick3 {
    width: 440px;
    height: 350px;
    display: inline-block;
    top: 67%;
    left: 61%;
}

.click_in {
    animation: in 0.8s ease-in-out forwards;
}

#main_section {
    width: 100%;
    height: 1000px;
}

article {
    width: 100%;
    height: 1000px;
    background-image: url("../images/pic/網頁背景修改.jpg");
    background-size: cover;
    background-position: 50% 0%;
    position: absolute;
}

#story_1 {
    left: -100%;
}

#story_2 {
    left: 0%;
}

#story_3 {
    left: 100%;
}

article>div {
    position: absolute;
}

#chain {
    width: 78px;
    height: 1000px;
    background-image: url("../images/pic/page2/鍊子首端.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom 0px right 0px;
    margin-left: 100px;
}


#dogPic_bg,
#dogPic2_bg,
#dogPic3_bg{
    width: 1140px;
    height: 620px;  
    background-image: url("../images/pic/page1/故事框.png");
    background-size: 93%;
    background-repeat: no-repeat;
    background-position:center;
    position: absolute;
    top: 18.5%;
    left: 5.5%;
}

#dogPic,
#dogPic2,
#dogPic3 {
    width: 800px;
    height: 450px;
    position: absolute;
    border-radius: 15px;
    top:14%;
    left:20%;
    background-size: 100%;
}

.dog_pic1 {background-image: url("../images/pic/story/分支1/1.jpg");}
.dog_pic2 {background-image: url("../images/pic/story/分支1/2.jpg");}
.dog_pic3 {background-image: url("../images/pic/story/分支1/3.jpg");}
.dog_pic4 {background-image: url("../images/pic/story/分支1/4.jpg");}
.dog_pic5 {background-image: url("../images/pic/story/分支1/5.jpg");}
.dog_pic6 {background-image: url("../images/pic/story/分支1/6.jpg");}
.dog_pic7 {background-image: url("../images/pic/story/分支2/1.jpg");}
.dog_pic8 {background-image: url("../images/pic/story/分支2/2.jpg");}
.dog_pic9 {background-image: url("../images/pic/story/分支2/3.jpg");}
.dog_pic10 {background-image: url("../images/pic/story/分支2/4.jpg");}
.dog_pic11 {background-image: url("../images/pic/story/分支2/5.jpg");}
.dog_pic12 {background-image: url("../images/pic/story/分支3/1.jpg");}
.dog_pic13 {background-image: url("../images/pic/story/分支3/2.jpg");}
.dog_pic14 {background-image: url("../images/pic/story/分支3/3.jpg");}
.dog_pic15 {background-image: url("../images/pic/story/分支3/4.jpg");}
.dog_pic16 {background-image: url("../images/pic/story/分支3/5.jpg");}

#story_Fir, 
#story_Sec, 
#story_Thr {
    width: 600px;
    height: 700px;
    overflow: hidden;
    background-image: url("../images/pic/故事框右.png");
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    top: 15%;
    left:67%;
    >p {
        font-size: 24px;
        color: rgb(241, 241, 241);
        line-height: 48px;
        font-weight: bold;
        text-align: center;
        animation: word_show 0.5s ease-in forwards;
    }
}

#storyline_3,
#storyline_11{
    padding-top: 33%;
}
#storyline_1,
#storyline_10,
#storyline_12{
    padding-top: 37%;
}
#storyline_2,
#storyline_7,
#storyline_14,
#storyline_15,
#storyline_16{
    padding-top: 40%;
}
#storyline_4,
#storyline_5,
#storyline_6,
#storyline_8,
#storyline_9,
#storyline_13{
    padding-top: 45%;
}

@keyframes word_show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.hide {
    display: none;
}

#story_Fir>div,
#story_Sec>div,
#story_Thr>div {
    width: 92%;
    height: 10%;
    overflow: hidden;
    background-image: url("../images/pic/換頁鍵/故事換頁面底框.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 89%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 4%;
    top: 78%;
    >a {
        width: 50px;
        height: 50px;
        display: block;
        border-radius: 50%;
        background-size: cover;
        margin: 0 10px 0 10px;
        &:hover {
            width: 65px;
            height: 65px;
        }
        &.active{
            width: 65px;
            height: 65px;
        }
        &.btn1{background-image: url("../images/pic/換頁鍵/1.png");}
        &.btn2{background-image: url("../images/pic/換頁鍵/2.png");}
        &.btn3{background-image: url("../images/pic/換頁鍵/3.png");}
        &.btn4{background-image: url("../images/pic/換頁鍵/4.png");}
        &.btn5{background-image: url("../images/pic/換頁鍵/5.png");}
        &.btn6{background-image: url("../images/pic/換頁鍵/6.png");}
        &.btn7{background-image: url("../images/pic/換頁鍵/1.png");}
        &.btn8{background-image: url("../images/pic/換頁鍵/2.png");}
        &.btn9{background-image: url("../images/pic/換頁鍵/3.png");}
        &.btn10{background-image: url("../images/pic/換頁鍵/4.png");}
        &.btn11{background-image: url("../images/pic/換頁鍵/5.png");}
        &.btn12{background-image: url("../images/pic/換頁鍵/1.png");}
        &.btn13{background-image: url("../images/pic/換頁鍵/2.png");}
        &.btn14{background-image: url("../images/pic/換頁鍵/3.png");}
        &.btn15{background-image: url("../images/pic/換頁鍵/4.png");}
        &.btn16{background-image: url("../images/pic/換頁鍵/5.png");}
    }
}

#arrowDown1,
#arrowDown2,
#arrowDown3 {
    width: 103px;
    height: 59px;
    position: absolute;
    left: 49%;
    top: 90%;
    background-image: url("../images/pic/Path.png");
    background-repeat: no-repeat;
    animation: arrowMove 3s linear infinite;
    opacity: 0.5;
}

@keyframes arrowMove {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(120px);
    }
}


#abandon1,
#abandon2,
#abandon3 {
    width: 100%;
    height:0px;
    overflow: hidden;
    background-image: url("../images/pic/網頁背景修改.jpg");
    background-size: cover;
    background-position: 50% 24%;
    display: flex;
}

#chain2{
    width: 78px;
    height: 942px;
    display: inline-block;
    background-image: url("../images/pic/page2/鍊子2.png");
    background-repeat: no-repeat;
    background-size: 86%;
    background-position: bottom 10px right 7px;
    margin-left: 100px;
}

#info1,
#info2,
#info3{
    width: 1650px;
    height: 1100px;
    background-image: url("../images/pic/page2/知識點框.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    margin-left: 2%;
    position: relative;
    >div{
        width: 270px;
        height: 270px;
        position: absolute;
        top: 10%;
        left: 1.5%;
        background-repeat: no-repeat;
        &.white{
            background-image: url("../images/pic/page2/小白.png");
            background-size: 110%;
            background-position: 75% 100%;
        }
        &.black{
            background-image: url("../images/pic/page2/小黑.png");
            background-size: 250%;
            background-position:59% 120%;
        }
        &.yellow{
            background-image: url("../images/pic/page2/小黃.png");
            background-size: 100%;
            background-position: 50% 50%;
        }
    }
    >div.p2,
    div.p1,
    div.p3{
        width: 83%;
        height: 46%;
        background-image: url("../images/pic/page2/領養結紮兩區.png");
        background-size: 100%;
        position: absolute;
        top: 39%;
        left: 12%;
        &.p3{
            background-image: url("../images/pic/page2/棄養.png");
            background-size: 86%;
            background-position: 50% 50%;
        }
        >p {
            display:block;
            float: left;
            width: 46%;
            height: 90%;
            font-size: 24px;
            font-weight: bold;
            line-height: 45px;
            margin-top:1%;
            overflow: scroll;
            overflow-x: hidden;
            &.p3{
                text-align: center;
                padding:0 2%;
                width: 80%;
                margin-left: 10.5%;
                margin-top: 2%;
            }
            &.p1L{padding:0 1% 0 2%;}
            &.p1R{
                margin-left: 6.5%;
                padding:0 1% 0 2%;    
            }
            &.p2L{padding:0 1% 0 2%;}
            &.p2R{
                margin-left: 6.5%;
                padding:0 1% 0 2%;
            }
            >span{color: #ff754b;}
        }
    }
    >h1 {
        width: 100%;
        height: 119px;
        display: block;
        margin: 18% 0 0% 4%;
        background-image: url("../images/pic/page2/小知識標題.png");
        background-repeat: no-repeat;
        background-position: 50% 50%;
        text-align: center;
        color: rgb(138, 136, 136);
        line-height: 119px;
        font-size: 52px;
        font-weight: bolder;
    }
}

#story_end{
    width: 100%;
    height: 1180px;
    overflow: hidden;
    background-image: url("../images/pic/網頁背景修改.jpg");
    background-position: 50% 49.6%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    &.click1{height: 0px;}
    &.click2{height: 0px;}
    &.click3{height: 0px;}
    >h1{
        font-size: 4em;
        font-weight: bold;
        white-space: nowrap;
        overflow: hidden;
        position: absolute;
        top: 25%;
        color: rgb(241, 204, 151);
        text-shadow: -1px 2px rgb(56, 56, 56);
        width: 0;
        &.h1_type{
            width: 14em;
            border-right: 0.2rem solid transparent;
            animation: typing 3s steps(14),caret 1s steps(1) 3;
        }
        &.h2_type{
            width: 11em;
            border-right: 0.2rem solid transparent;
            color: transparent;
            text-shadow: none;
            animation: typing 2s steps(11) 3.5s,caret 1s steps(1) 3.5s 2,time_delay 1s 3.5s forwards;
        }
    }
    >div{
        width: 100%;
        height: 100%;
        background-image: url("../images/pic/page2/相框.png");
        background-size: 100%;
        background-position: 50% 100%;
        background-repeat: no-repeat;
        position: relative;
        >a{
            width: 56.3%;
            height: 48%;
            background-image: url("../images/pic/page2/三隻狗2.jpg");
            background-size: cover;
            position: absolute;
            top:0;
            left: 0;
            right: 1%;
            bottom:-30.5%;
            margin:auto;
            &:hover{
                transform: scale(1.01);
            }
        }
    }
}

#p1{
    top:18%;
    left: 7%;
}
#p2{
    top:18%;
    left: 58%;
}

@keyframes typing{
    from{width: 0;}
}
@keyframes caret{
    50%{border-color: rgb(77, 77, 77);}
}
@keyframes time_delay{
    from{
        color: rgb(241, 204, 151);
        text-shadow: -1px 2px rgb(56, 56, 56);
    }
    to{
        color: rgb(241, 204, 151);
        text-shadow: -1px 2px rgb(56, 56, 56);
    }
}

#aboutUs{
    width: 1695px*0.8;
    height: 948px*0.8;
    background-image: url("../images/pic/page4/關於我們.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    top: 10%;
    left: 13%;
    z-index: 3;
    &.about_hide{display: none;}
    >a{
        width: 55px;
        height: 50px;
        display: block;
        position: absolute;
        top: 3.1%;
        left: 4.3%;
        &:hover{
            border: 2px solid rgb(99, 99, 99);
        }
    }
    >div{
        width: 90%;
        height: 78%;
        position: absolute;
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: 50% 50%;
        top: 15%;
        left: 7%;
        >div{
            width: 260px;
            height: 260px;
            border-radius: 50%;
            background-size: cover;
        }
        >h1{
            display: block;
            font-size: 30px;
            font-weight: bolder;
            text-align: center;
            color: #152850;
            line-height: 295px;
            text-shadow: -2px 2px #BDAEAE;
        }
    } 
}

#member1{
    background-image: url("../images/pic/aboutUs/鍾.JPG");
    background-position: 36% 50%;
    margin: auto;
}
#member2{
    background-image: url("../images/pic/aboutUs/林.jpeg");
    background-position: 57% 50%;
    margin:auto 0 auto 15%;
}
#member3{
    background-image: url("../images/pic/aboutUs/蔡.JPG");
    background-position: 43% 50%;
    margin: auto;
}
#member4{
    background-image: url("../images/pic/aboutUs/趙.JPG");
    background-position: 69% 50%;
    margin:auto 0 auto 15%;
}

footer {
    width: 100%;
    height: auto;
    background-color: #14213D;
    >p{
        text-align: center;
        color: #fff;
        line-height: 40px;
    }
}

#left_bar {
    width: 86px;
    height: 86px;
    overflow: hidden;
    background-image: url("../images/pic/選單內底框.png");
    background-size: 100% 120%;
    background-position: 100%;
    border-radius: 50px;
    position: fixed;
    top: 4%;
    left: 94%;
    &:hover {
        animation: push 0.5s ease forwards;
    }
    >a {
        width: 80px;
        height: 80px;
        display: block;
        background-image: url("../images/pic/選單內灰園框.png");
        background-size: cover;
        background-position: 100%;
        border-radius: 50%;
        font-size: 20px;
        font-weight: bolder;
        color: #fff;
        margin: 3px auto 0 auto;
        text-align: center;
        line-height: 80px;
        &:hover {
            color: #ff754b;
        }
        &.left_1{
            background-image: url("../images/pic/選單.png");
            background-size: cover;
            background-position: 50% 50%;
        }
    }
}

@keyframes push {
    0% {}
    100% {
        height: 501px;
    }
}