@font-face {
    font-family: FakePearl-Regular;
    src: url(https://cdn.jsdelivr.net/gh/max32002/FakePearl@1.1/webfont/FakePearl-Regular.woff2) format("woff2")
    , url(https://cdn.jsdelivr.net/gh/max32002/FakePearl@1.1/webfont/FakePearl-Regular.woff) format("woff");
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: FakePearl-Regular;
}

html,
body {
    width: 100%;
    height: 100%;
}

img {
    display: block;
}

header {
    width: 100%;
    height: 850px;
    background-color: #ffa958;
    >h1{
        font-size: 40px;
        font-weight: bolder;
        color: #fff;
        padding: 16% 0 0 1%;
        line-height: 70px;
        >span{
            font-size: 96px;
        }
    }  
}

// #logo {
//     width: 208px;
//     height: 204px;
//     position: absolute;
//     border-radius: 45%;
//     background-image: url("../images/pic/logo.png");
//     background-size: 208px 204px;
//     margin: 27px 0 0 40px;
//     z-index: 3;
// }

#top{
    width: 100%;
    height: 333px;
    position: relative;
    background-image: url("../images/pic/page4/照片鍊子上層.png");
    background-repeat: no-repeat;
    background-size: cover;
    >img{
        position: absolute;
        &.pic1{
            top: 56%;
            left: 2%;
        }
        &.pic2{
            top: 64%;
            left: 36%;
        }
        &.pic3{
            top: 84%;
            left: 65%;
        }
    }
}

#section_bg{
    width: 100%;
    height: auto;
    overflow: hidden;
    background-image: url("../images/pic/網頁背景修改.jpg");
    background-size: cover;
}

#section_1{
    width: 100%;
    height: 500px;
    padding-top: 100px;
    position: relative;
    >div{
        width: 680px;
        height: 300px;
        background-image: url("../images/pic/page4/左選單1.png");
        background-repeat: no-repeat;
        background-position: 100%;
        background-size: cover;
        margin-left: -12%;
        position: relative;
        &.in{animation: in_left 1s forwards ease-out;}
        &.out{animation: out_left 1s forwards ease-out;}
        >a{
            width: 300px;
            height: 300px;
            border-radius: 50%;
            display: block;
            position: absolute;
            background-image: url("../images/pic/page4/寵物認養.png");
            background-size: cover;
            top:-5%;
            left: 25%;
        }
    }
    >h1{
        position: absolute;
        color: #242424;
        font-size: 80px;
        font-weight: bolder;
        top: 31%;
        left: 49%;
        opacity: 0;
        &.word_show{animation: show 1s forwards ease-in-out;}
        &.word_hide{animation: hide 1s forwards ease-in-out;}
    }
    >p{
        position: absolute;
        color: #242424;
        font-size: 40px;
        font-weight: bold;
        top: 49%;
        left: 59%;
        opacity: 0;
        &.word_show{animation: show 1s forwards ease-in-out;}
        &.word_hide{animation: hide 1s forwards ease-in-out;}
    }
}

@keyframes in_left {
    0%{}
    100%{transform: translateX(30%);}
}
@keyframes out_left {
    0%{transform: translateX(30%);}
    100%{transform: translateX(0%);}
}
@keyframes in_right {
    0%{}
    100%{transform: translateX(-30%);}
}
@keyframes out_right {
    0%{transform: translateX(-30%);}
    100%{transform: translateX(0%);}
}
@keyframes show {
    0%{opacity: 0;}
    100%{opacity: 1;}
}
@keyframes hide {
    0%{opacity: 1;}
    100%{opacity: 0;}
}

#section_2{
    width: 100%;
    height: 500px;
    padding-top: 100px;
    position: relative;
    >div{
        width: 680px;
        height: 300px;
        background-image: url("../images/pic/page4/右選單1.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 0%;
        position: relative;
        margin-left: 77%;
        &.in{animation: in_right 1s forwards ease-out;}
        &.out{animation: out_right 1s forwards ease-out;}
        >a{
            width: 300px;
            height: 300px;
            border-radius: 50%;
            display: block;
            position: absolute;
            background-image: url("../images/pic/page4/志工招募.png");
            background-size: 115%;
            top: -11%;
            left: 20%;
        }
    }
    >h1{
        position: absolute;
        color: #242424;
        font-size: 80px;
        font-weight: bolder;
        top: 31%;
        left: 18%;
        opacity: 0;
        &.word_show{animation: show 1s forwards ease-in-out;}
        &.word_hide{animation: hide 1s forwards ease-in-out;}
    }
    >p{
        position: absolute;
        color: #242424;
        font-size: 40px;
        font-weight: bold;
        top: 49%;
        left: 29%;
        opacity: 0;
        &.word_show{animation: show 1s forwards ease-in-out;}
        &.word_hide{animation: hide 1s forwards ease-in-out;}
    }
}

#section_3{
    width: 100%;
    height: 500px;
    padding-top: 100px;
    position: relative;
    >div{
        width: 680px;
        height: 300px;
        background-image: url("../images/pic/page4/左選單1.png");
        background-repeat: no-repeat;
        background-position: 100%;
        background-size: cover;
        position: relative;
        margin-left: -12%;
        &.in{animation: in_left 1s forwards ease-out;}
        &.out{animation: out_left 1s forwards ease-out;}
        >a{
            width: 300px;
            height: 300px;
            border-radius: 50%;
            display: block;
            background-image: url("../images/pic/page4/線上捐款.png");
            background-size: 115%;
            position: absolute;
            top:-9%;
            left: 22%;
        }      
    }
    >h1{
        position: absolute;
        color: #242424;
        font-size: 80px;
        font-weight: bolder;
        top: 31%;
        left: 49%;
        opacity: 0;
        &.word_show{animation: show 1s forwards ease-in-out;}
        &.word_hide{animation: hide 1s forwards ease-in-out;}
    }
    >p{
        position: absolute;
        color: #242424;
        font-size: 40px;
        font-weight: bold;
        top: 49%;
        left: 59%;
        opacity: 0;
        &.word_show{animation: show 1s forwards ease-in-out;}
        &.word_hide{animation: hide 1s forwards ease-in-out;}
    }
}

#section_4{
    width: 100%;
    height: 500px;
    padding-top: 100px;
    position: relative;
    >div{
        width: 680px;
        height: 300px;
        background-image: url("../images/pic/page4/右選單1.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 0%;
        position: relative;
        margin-left: 77%;
        &.in{animation: in_right 1s forwards ease-out;}
        &.out{animation: out_right 1s forwards ease-out;}
        >a{
            width: 300px;
            height: 300px;
            display: block;
            border-radius: 50%;
            position: absolute;
            background-image: url("../images/pic/page4/寵物陪睡.png");
            background-size: 113%;
            top: -11%;
            left: 20%;
        }
    }
    >h1{
        position: absolute;
        color: #242424;
        font-size: 80px;
        font-weight: bolder;
        top: 31%;
        left: 18%;
        opacity: 0;
        &.word_show{animation: show 1s forwards ease-in-out;}
        &.word_hide{animation: hide 1s forwards ease-in-out;}
    }
    >p{
        position: absolute;
        color: #242424;
        font-size: 40px;
        font-weight: bold;
        top: 49%;
        left: 29%;
        opacity: 0;
        &.word_show{animation: show 1s forwards ease-in-out;}
        &.word_hide{animation: hide 1s forwards ease-in-out;}
    }
}

#section_5{
    width: 100%;
    height: 500px;
    padding-top: 100px;
    position: relative;
    >div{
        width: 680px;
        height: 300px;
        background-image: url("../images/pic/page4/左選單1.png");
        background-repeat: no-repeat;
        background-position: 100%;
        background-size: cover;
        position: relative;
        margin-left: -12%;
        &.in{animation: in_left 1s forwards ease-out;}
        &.out{animation: out_left 1s forwards ease-out;}
        >a{
            width: 300px;
            height: 300px;
            border-radius: 50%;
            display: block;
            background-image: url("../images/pic/page4/贊助商品.png");
            background-size: cover;
            position: absolute;
            top:-5%;
            left: 25%;
        }    
    }
    >h1{
        position: absolute;
        color: #242424;
        font-size: 80px;
        font-weight: bolder;
        top: 31%;
        left: 49%;
        opacity: 0;
        &.word_show{animation: show 1s forwards ease-in-out;}
        &.word_hide{animation: hide 1s forwards ease-in-out;}
    }
    >p{
        position: absolute;
        color: #242424;
        font-size: 40px;
        font-weight: bold;
        top: 49%;
        left: 59%;
        opacity: 0;
        &.word_show{animation: show 1s forwards ease-in-out;}
        &.word_hide{animation: hide 1s forwards ease-in-out;}
    }
}


#info{
    width: 100%;
    height: 1600px;
    background-image: url("../images/pic/網頁背景修改.jpg");
    background-size: cover;
    background-position: 50% 54%;
    >img{
        width: 100%;
        height: auto;
        margin: 0 auto;
    }
    >div{
        width: 100%;
        height: 60%;
        display: grid;
        grid-template-columns: calc(100%/3) calc(100%/3) calc(100%/3);
        grid-template-rows: 100%;
        >div{
            width: 995px*0.5;
            height: 1347px*0.5;
            background-size: 99%;
            background-repeat: no-repeat;
            position: relative;
            margin:auto;
            &.info1{background-image: url("../images/pic/page4/流浪動物救援協會.png");}
            &.info2{background-image: url("../images/pic/page4/民雄.png");}
            &.info3{background-image: url("../images/pic/page4/嘉義市.png");}
            >a.a1{
                width: calc(315px*0.2);
                height: calc(327px*0.2);
                display: block;
                background-image: url("../images/pic/page4/導航.png");
                background-size: cover;
                position: absolute;
                top:60%;
                left: 80%;
                &:hover{
                    transform: rotate(10deg);
                }
            }
            >h1{
                font-size: 30px;
                font-weight: bolder;
                text-align: center;
                color: #3E8E7E;
                padding: 69% 5% 7.5% 5%;
                &.p1{
                    text-align:left;
                    padding: 66% 5% 3.5% 5% ;
                }
            }
            >p{
                font-size: 20px;
                line-height: 30px;
                font-weight: bold;
                color: rgb(71, 71, 71);
                padding: 0 9%;
            }
            >a.a2{
                display:block;
                position: absolute;
                width: 157px;
                height: 53px;
                color: #CCD1E4;
                text-align: center;
                font-size: 24px;
                line-height: 50px;
                background-image: url("../images/pic/page4/收容所-按鈕.png");
                background-size: 100%;
                background-repeat: no-repeat;
                top:88%;
                left: 34%;
                &:hover{
                    color: #fff;
                }
            }
        }
    }
}


#last{
    width: 100%;
    height: 1200px;
    background-image: url("../images/pic/page4/結尾圖滿版.png");
    background-size: cover;
    background-position: 50% 55%;
}


#aboutUs{
    width: 1695px*0.8;
    height: 948px*0.8;
    background-image: url("../images/pic/page4/關於我們.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    top: 10%;
    left: 13%;
    z-index: 3;
    &.about_hide{display: none;}
    >a{
        width: 55px;
        height: 50px;
        display: block;
        position: absolute;
        top: 3.1%;
        left: 4.3%;
        &:hover{
            border: 2px solid rgb(99, 99, 99);
        }
    }
    >div{
        width: 90%;
        height: 78%;
        position: absolute;
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: 50% 50%;
        top: 15%;
        left: 7%;
        >div{
            width: 260px;
            height: 260px;
            border-radius: 50%;
            background-size: cover;
        }
        >h1{
            display: block;
            font-size: 30px;
            font-weight: bolder;
            text-align: center;
            color: #152850;
            line-height: 295px;
            text-shadow: -2px 2px #BDAEAE;
        }
    } 
}

#member1{
    background-image: url("../images/pic/aboutUs/鍾.JPG");
    background-position: 36% 50%;
    margin: auto;
}
#member2{
    background-image: url("../images/pic/aboutUs/林.jpeg");
    background-position: 57% 50%;
    margin:auto 0 auto 15%;
}
#member3{
    background-image: url("../images/pic/aboutUs/蔡.JPG");
    background-position: 43% 50%;
    margin: auto;
}
#member4{
    background-image: url("../images/pic/aboutUs/趙.JPG");
    background-position: 69% 50%;
    margin:auto 0 auto 15%;
}

footer {
    width: 100%;
    height: 50px;
    background-color: #14213D;
}

#left_bar {
    width: 86px;
    height: 86px;
    overflow: hidden;
    background-image: url("../images/pic/選單內底框.png");
    background-size: 100% 120%;
    background-repeat: no-repeat;
    background-position: 100%;
    border-radius: 50px;
    position: fixed;
    top: 4%;
    left: 94%;
    z-index: 999;
    &:hover {
        animation: push 0.5s ease forwards;
    }
    >a {
        width: 80px;
        height: 80px;
        background-image: url("../images/pic/選單內灰園框.png");
        background-size: cover;
        background-position: 100%;
        display: block;
        border-radius: 50%;
        font-size: 20px;
        font-weight: bolder;
        color: #fff;
        margin: 3px auto 0 auto;
        text-align: center;
        line-height: 80px;
        &:hover {
            color: #ff754b;
        }
        &.left_1{
            background-image: url("../images/pic/選單.png");
            background-size: cover;
        }
    }
}

@keyframes push {
    0% {}
    100% {
        height: 501px;
    }
}