* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

img {
    display: block;
}

header {
    width: 100%;
    height: 900px;
    overflow: hidden;
    display: flex;
    >h1{
        position: absolute;
        left: 75%;
        top: 65%;
        font-weight: bold;
        font-size: 60px;
        text-align: center;
        line-height: 100px;
        color: black;
    }    
}

#logo {
    width: 208px;
    height: 204px;
    position: absolute;
    background-image: url("../images/pic/logo.png");
    background-size: cover;
    margin: 27px 0 0 40px;
    z-index: 3;
}
#top_video{
    width: 100%;
    height: 100%;
    overflow: hidden;
    >video{
        width: 100%;
        height: auto;
    }
    >div{
        width: 100%;
        height: 900px;
        position: absolute;
        left: 0;
        top: 0;
        background-color: rgba(255, 177, 153, 0.8);
        mix-blend-mode: screen;
    }
}

#triangle{
    width: 0;
    height: 0;
    position: absolute;
    top: 11%;
    left: 58%;
    border-style: solid;
    border-width: 0 0 800px 800px;
    border-color: transparent transparent #fff transparent;
}


#interview{
    width: 100%;
    height: 1080px;
    overflow: hidden;
    background-color: #fff;
    position: relative;
}

#v1{
    width: 1000px;
    height: auto;
    position: absolute;
    top: 28%;
    left: 15%;
    z-index: 2;
}

#v2{
    width: 900px;
    height: auto;
    position: absolute;
    top: 16%;
    left: 4%;
    z-index: 1;
}

.switch1{
    animation: up_back 0.8s forwards ease-in-out;
}
.switch2{
    animation: up_front 0.8s forwards ease-in-out;
}
.switch3{
    animation: down_front 0.8s forwards ease-in-out;
}
.switch4{
    animation: down_back 0.8s forwards ease-in-out;
}

@keyframes up_back{
    0%{
        width: 1000px;
        top: 28%;
        left: 15%;
        z-index: 2;
    }
    50%{
        top: 4%;
        z-index: 1;
    }
    100%{
        width: 900px;
        top: 16%;
        left: 4%;
        z-index: 1;
    }
}

@keyframes up_front{
    0%{
        width: 900px;
        top: 16%;
        left: 4%;
        z-index: 1;
    }
    50%{
        top: 4%;
        z-index: 2;
    }
    100%{
        width: 1000px;
        top: 28%;
        left: 15%;
        z-index: 2;
    }
}
@keyframes down_front{
    0%{
        width: 900px;
        top: 16%;
        left: 4%;
        z-index: 1;
    }
    50%{
        top: 40%;
        z-index: 2;
    }
    100%{
        width: 1000px;
        top: 28%;
        left: 15%;
        z-index: 2;
    }
}
@keyframes down_back{
    0%{
        width: 1000px;
        top: 28%;
        left: 15%;
        z-index: 2;
    }
    50%{
        top: 40%;
        z-index: 1;
    }
    100%{
        
        width: 900px;
        top: 16%;
        left: 4%;
        z-index: 1;
    }
}

#up_btn{
    width: 200px;
    height: 80px;
    display: inline-block;
    position: absolute;  
    top:10%;
    left: 70%;  
    background-image: url("../images/pic/Polygon\ 1.png");
    background-size: 200px 80px;
}

#down_btn{
    width: 200px;
    height: 80px;
    display: inline-block;
    position: absolute;  
    top:20%;
    left: 70%;  
    background-image: url("../images/pic/Polygon\ 2.png");
    background-size: 200px 80px;
}

main {
    width: 100%;
    height: auto;
    overflow: hidden;
    background-color: #30DFF4;
    position: relative;
}

#left_side{
    width: 15%;
    height: 1080px;
    >a{
        width: 100%;
        height: calc(100%/3);
        display: block;
        background-color: #FF521C;
        &:hover{
            background-color: #14213D;
        }
    }
}

#wall {
    width: 1440px;
    height: 720px;
    position: absolute;
    top:20%;
    left: 20%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 50% 50%;
    background-color: rgb(243, 169, 84);
    >a {
        border-radius: 10px;
        &:hover{
            animation: touch 0.3s forwards;
        }
    }
}

#wall-1 {
    grid-column: 1/2;
    grid-row: 1/2;
    background-image: url("../images/pic/wall_1.JPG");
    background-size: cover;
    background-repeat: no-repeat;
}

#wall-2 {
    grid-column: 2/3;
    grid-row: 1/2;
    background-image: url("../images/pic/wall_2.JPG");
    background-size: cover;
    background-position: 50% 12%;
    background-repeat: no-repeat;
}

#wall-3 {
    grid-column: 3/4;
    grid-row: 1/2;
    background-image: url("../images/pic/wall_3.JPG");
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
}

#wall-4 {
    grid-column: 4/5;
    grid-row: 1/2;
    background-image: url("../images/pic/wall_4.JPG");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 84%;
}

#wall-5 {
    grid-column: 1/2;
    grid-row: 2/3;
    background-image: url("../images/pic/wall_5.JPG");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 42%;
}

#wall-6 {
    grid-column: 2/3;
    grid-row: 2/3;
    background-image: url("../images/pic/wall_6.JPG");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 40%;
}

#wall-7{
    background-color: green;
    grid-column: 3/4;
    grid-row: 2/3;
}
#wall-8 {
    background-color: gray;
    grid-column: 4/5;
    grid-row: 2/3;
}

@keyframes touch {
    0% {
        
    }
    100% {
        transform: scale(1.1,1.1);
    }
}

footer {
    width: 100%;
    height: auto;
    overflow: hidden;
    background-color: #14213D;
}

#arrow3 {
    width: 103px;
    height: 59px;
    overflow: hidden;
    background-image: url("../images/pic/Path.png");
    margin: 363px auto 0 auto;
}

#left_bar {
    width: 86px;
    height: 86px;
    overflow: hidden;
    background-color: #fff;
    border-radius: 50px;
    position: fixed;
    top: 5%;
    left: 94%;
    &:hover {
        animation: push 0.5s ease forwards;
    }
    >a {
        width: 80px;
        height: 80px;
        background-color: aqua;
        display: block;
        border-radius: 50%;
        font-size: 20px;
        margin: 3px auto 0 auto;
        text-align: center;
        line-height: 80px;
        &:hover {
            color: #FF521C;
        }
    }
}

@keyframes push {
    0% {}
    100% {
        height: 418px;
    }
}

#down_bar {
    width: 651px;
    height: 155px;
    overflow: hidden;
    background-image: url("../images/pic/Group\ 74.png");
    float: right;
    margin: 52px 622px 0 0;
    >a {
        font-size: 22px;
        color: #fff;
        line-height: 210px;
        margin: 0 52px;
        &.down_1 {
            margin-left: 101px;
        }
    }
}