@font-face {
    font-family: FakePearl-Regular;
    src: url(https://cdn.jsdelivr.net/gh/max32002/FakePearl@1.1/webfont/FakePearl-Regular.woff2) format("woff2")
    , url(https://cdn.jsdelivr.net/gh/max32002/FakePearl@1.1/webfont/FakePearl-Regular.woff) format("woff");
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: FakePearl-Regular;
}

html,
body {
    width: 100%;
    height: 100%;
}

img {
    display: block;
}

header {
    width: 100%;
    height: 46.87vw;
    overflow: hidden;
    position: relative;  
}

#logo {
    width: 10vw;
    height: 10vw;
    position: absolute;
    border-radius: 50%;
    background-image: url("../images/pic/logo.png");
    background-size: 10vw 10vw;
    background-position: center;
    margin: 2vw 0 0 3vw;
    z-index: 3;
}
#top_video{
    width: 100%;
    height: 100%;
    position: relative;
    >video{
        width: 100%;
        height: auto;
    }
    >h1{
        position: absolute;
        left: 46%;
        top: 91%;
        font-size: 3.65vw;      
        color: rgb(255, 247, 247);
        line-height: 4vw;
        text-shadow: -0.26vw 0.26vw 0.1vw #ff754b;
        >span{
            font-size: 4.3vw;
        }
    } 
}

// #triangle{
//     width: 0;
//     height: 0;
//     position: absolute;
//     top: 63%;
//     left: 66%;
//     border-style: solid;
//     border-width: 0 0 450px 650px;
//     border-color: transparent transparent rgb(221, 188, 157) transparent; 
// }


#interview{
    width: 100%;
    height: 56.25vw;
    overflow: hidden;
    background-image: url("../images/pic/網頁背景修改.jpg");
    background-size: cover;
    position: relative;
}

#interview_txt{
    width: 15.625vw;
    height: 33.33vw;
    background-image: url("../images/pic/page3/採訪文字框.png");
    background-size: cover;
    position: absolute;
    top: -3%;
    left: 75%;
    transform-origin: top;
    opacity: 0;
    &.show{
        animation: txt_show 3s forwards ease-in-out;
    }
    >p{
        color: rgb(241, 241, 241);
        font-size: 1vw;
        font-weight: bold;
        padding-top: 114%;
        text-align: center;
        line-height: 2.3vw;
        &.hide{
            display: none;
        }
    }
}

@keyframes txt_show{
    0%{
        transform: rotate(-30deg);
        opacity: 0;
    }
    40%{
        transform: rotate(17deg);
        opacity: 1;
    }
    65%{
        transform: rotate(-5deg);
        opacity: 1;
    }
    80%{
        transform: rotate(3deg);
        opacity: 1;
    }
    92%{
        transform: rotate(-1deg);
        opacity: 1;
    }
    100%{
        transform: rotate(0deg);
        opacity: 1;
    }
}

#v1{
    width: 52.08vw;
    height: 52.08vw*9/16;
    position: absolute;
    top: 28%;
    left: 15%;
    z-index: 2;
}

#v2{
    width: 46.875vw;
    height: 46.875vw*9/16;
    position: absolute;
    top: 16%;
    left: 4%;
    z-index: 1;
}

.switch1{
    animation: up_back 0.8s forwards ease-in-out;
}
.switch2{
    animation: up_front 0.8s forwards ease-in-out;
}
.switch3{
    animation: down_front 0.8s forwards ease-in-out;
}
.switch4{
    animation: down_back 0.8s forwards ease-in-out;
}

@keyframes up_back{
    0%{
        width: 52.08vw;
        top: 28%;
        left: 15%;
        z-index: 2;
    }
    50%{
        top: 4%;
        z-index: 1;
    }
    100%{
        width: 46.875vw;
        top: 16%;
        left: 4%;
        z-index: 1;
    }
}

@keyframes up_front{
    0%{
        width: 46.875vw;
        top: 16%;
        left: 4%;
        z-index: 1;
    }
    50%{
        top: 4%;
        z-index: 2;
    }
    100%{
        width: 52.08vw;
        top: 28%;
        left: 15%;
        z-index: 2;
    }
}
@keyframes down_front{
    0%{
        width: 46.875vw;
        top: 16%;
        left: 4%;
        z-index: 1;
    }
    50%{
        top: 40%;
        z-index: 2;
    }
    100%{
        width: 52.08vw;
        top: 28%;
        left: 15%;
        z-index: 2;
    }
}
@keyframes down_back{
    0%{
        width: 52.08vw;
        top: 28%;
        left: 15%;
        z-index: 2;
    }
    50%{
        top: 40%;
        z-index: 1;
    }
    100%{
        
        width: 46.875vw;
        top: 16%;
        left: 4%;
        z-index: 1;
    }
}

#up_btn{
    width: calc(10.78vw*0.8);
    height: calc(9.84vw*0.8);
    position: absolute;  
    top:64%;
    left: 73%;  
    background-image: url("../images/pic/page3/採訪上鍵.png");
    background-size: cover;
}

#down_btn{
    width: calc(10.78vw*0.8);
    height: calc(9.84vw*0.8);
    position: absolute;  
    top:64%;
    left: 84%;  
    background-image: url("../images/pic/page3/採訪下鍵.png");
    background-size: cover;
}

#talk{
    width: 100%;
    height: 70.31vw;
    background-image: url("../images/pic/網頁背景修改.jpg");
    background-size: cover;
    background-position: 50% 26%;
    position: relative;
    >img{
        position: absolute;
        z-index: 1;
        opacity: 0;
        &.img1{
            width: calc(46.77vw*0.7);
            height: calc(59.375vw*0.7);
            top: 0%;
            left: 10%;
        }
        &.img2{
            width: calc(53.02vw*0.7);
            height: calc(57.24vw*0.7);
            top: 40%;
            right: 10%;
        }
    }
    >h1{
        font-size: 2.6vw;
        color: rgb(122, 86, 62);
        font-weight: bolder;
        z-index: 2;
        position: absolute;
        opacity: 0;
        &.txt1{
            top: 7%;
            left: 18%;
        }
        &.txt2{
            top: 51%;
            left: 56%;
        }
    }
}

.show_L{animation: talk_L 2s forwards;}
.show_R{animation: talk_R 2s forwards;}

@keyframes talk_L{
    0%{transform: translateX(-5.2vw);}
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes talk_R{
    0%{transform: translateX(5.2vw);}
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}


main {
    width: 100%;
    height: auto;
    overflow: hidden;
    background-image: url("../images/pic/網頁背景修改.jpg");
    background-size: cover;
    background-position: 50% 67%;
}

#wall {
    width: 90%;
    height: auto;
    display: grid;
    grid-template-columns: calc(100%/3) calc(100%/3) calc(100%/3);
    grid-template-rows: calc(100%/3) calc(100%/3) calc(100%/3);
    margin: 0 auto;
    >div {
        width: 21.77vw;
        height: 21.77vw;
        overflow: hidden;
        border-radius: 1.56vw;
        position: relative;
        margin: 3.9vw auto;
        &:hover{
            animation: touch 0.3s forwards;
            >a{animation: flyIn 0.6s forwards ease-out;}
            >h1{animation:flyIn2 0.6s forwards ease-out;}
        }
        >h1{
            width: 100%;
            display: block;
            font-size: 3.125vw;
            font-weight: bolder;
            color: #fff;
            background-color:rgb(245, 197, 94);
            line-height: 3.75vw;
            position: absolute;
            text-align: center;
            top: 110%;
            left: 0%;
            user-select: none;
        }
        >a{
            width: 25%;
            height: 10%;
            display: block;
            background-image: url("../images/pic/page3/九宮格\ 放大鍵.png");
            background-size: 102%;
            background-repeat: no-repeat;
            margin-top: -20%;
            margin-left: -1%;
            background-position: 140% 50%;
            &:hover{margin-left: 0%;}
        }
    }
}

@keyframes flyIn{
    0%{margin-top: -20%;}
    100%{margin-top: 25%;}
}
@keyframes flyIn2{
    100%{top:75%;}
}
#wall-1 {
    grid-column: 1/2;
    grid-row: 1/2;
    background-image: url("../images/pic/page3/九宮格圖片/狗狗1.jpg");
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

#wall-2 {
    grid-column: 2/3;
    grid-row: 1/2;
    background-image: url("../images/pic/page3/九宮格圖片/狗狗2.jpg");
    background-size: cover;
    background-position: 90% 0%;
    background-repeat: no-repeat;
}

#wall-3 {
    grid-column: 3/4;
    grid-row: 1/2;
    background-image: url("../images/pic/page3/九宮格圖片/狗狗3.jpg");
    background-size: cover;
    background-position: 50% 25%;
    background-repeat: no-repeat;
}

#wall-4 {
    grid-column: 1/2;
    grid-row: 2/3;
    background-image: url("../images/pic/page3/九宮格圖片/狗狗4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 66% 50%;
}

#wall-5 {
    grid-column: 2/3;
    grid-row: 2/3;
    background-image: url("../images/pic/page3/九宮格圖片/狗狗5.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

#wall-6 {
    grid-column: 3/4;
    grid-row: 2/3;
    background-image: url("../images/pic/page3/九宮格圖片/狗狗6.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

#wall-7{
    background-image: url("../images/pic/page3/九宮格圖片/狗狗7.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    grid-column: 1/2;
    grid-row: 3/4;
}
#wall-8 {
    background-image: url("../images/pic/page3/九宮格圖片/狗狗8.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0% 50%;
    grid-column: 2/3;
    grid-row: 3/4;
}

#wall-9 {
    background-image: url("../images/pic/page3/九宮格圖片/狗狗9.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0%;
    grid-column: 3/4;
    grid-row: 3/4;
}

@keyframes touch {
    0% {
        
    }
    100% {
        transform: scale(1.1,1.1);
        box-shadow: -0.78vw 0.52vw 0.52vw rgb(63, 63, 63);
    }
}

#infobox{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.295);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    &.hide{
        display: none;
    }
    >div{
        width: 78.96vw*0.7;
        height: 70.36vw*0.7;
        animation: info_show 0.6s forwards ease-out;
        background-image: url("../images/pic/page3/九宮格點擊後視窗.png");
        background-size: cover;
        margin:-2% auto 0 auto;
        position: relative;
        &.hide{
            display: none;
        }
        >a{
            width: 6.46vw;
            height: 6.04vw;
            display: block;
            position: absolute;
            top: 6%;
            left: 81%;
            &:hover{
                border: 3px solid rgb(116, 116, 116);
            }
        }
        >h1{
            font-size: 3.02vw;
            font-weight: bolder;
            letter-spacing: -0.15vw;
            line-height: 3.125vw;
            color: rgb(105, 105, 105);
            padding: 10% 59.5% 0 0;
            text-align: center;
        }
        >div{
            width: 15%;
            height: 26%;
            background-image: url("../images/pic/page3/重點2.png");
            background-size: cover;
            position: absolute;
            top: 64%;
            left: 73%;
            z-index: -1;
        }
        >p{
            font-size: 1.354vw;
            line-height: 2.5vw;
            font-weight: 800;
            color: #4e3626;
            padding: 7% 7% 0 4%;
            &.p5{line-height: 3.125vw;}
            >span{color: rgb(255, 92, 92);}
        }
    }
}

@keyframes info_show{
    0%{}
    100%{transform: translateY(2.5%);}
}

.about_hide{display: none;}
#aboutUs{
    width: 88.3vw*0.8;
    height: 49.4vw*0.8;
    background-image: url("../images/pic/page4/關於我們.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    position: fixed;
    top: 10%;
    left: 13%;
    z-index: 3;
    >a{
        width: 2.86vw;
        height: 2.6vw;
        display: block;
        position: absolute;
        &.about_hide{display: none;}
        &.esc_btn{
            top: 3.1%;
            left: 4.3%;
            &:hover{
                border: 0.1vw solid rgb(99, 99, 99);
            }
        }
        &.switch_btn1{
            width: 2.7vw;
            height: 2.7vw;
            top: 3.1%;
            left: 10%;
            border-radius: 50%;
            background-color: #27b9fd;
            font-weight: bolder;
            text-align: center;
            font-size: 1vw;
            color:rgb(37, 37, 37);
        }
        &.switch_btn2{
            width: 2.7vw;
            height: 2.7vw;
            top: 3.1%;
            left: 10%;
            border-radius: 50%;
            background-color:#fff;
            text-align: center;
            font-size: 1vw;
            color: rgb(37, 37, 37);
            font-weight: bolder;
        }
    }
    >div{
        width: 90%;
        height: 78%;
        position: absolute;
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: 50% 50%;
        top: 15%;
        left: 7%;
        >div{
            width: 13.54vw;
            height: 13.54vw;
            border-radius: 50%;
            background-size: cover;
            &.txt_left{
                width: 100%;
                grid-column: 1/3;
                grid-row: 1/3;
            }
            &.txt_right{
                width: 100%;
                grid-column: 3/5;
                grid-row: 1/3;
            }
            >p{
                padding: 5%;
            }
        }
        >h1{
            font-size: 1.56vw;
            font-weight: bolder;
            text-align: center;
            color: #152850;
            line-height: 3.125vw;
            padding-top:30%;
            text-shadow: -0.1vw 0.1vw #BDAEAE;
            .about_hide{display: none;}
        }
    }   
}

#member1{
    background-image: url("../images/pic/aboutUs/鍾.JPG");
    background-position: 36% 50%;
    margin: auto;
}
#member2{
    background-image: url("../images/pic/aboutUs/林.jpeg");
    background-position: 57% 50%;
    margin:auto 0 auto 15%;
}
#member3{
    background-image: url("../images/pic/aboutUs/蔡.JPG");
    background-position: 43% 50%;
    margin: auto;
}
#member4{
    background-image: url("../images/pic/aboutUs/趙.JPG");
    background-position: 69% 50%;
    margin:auto 0 auto 15%;
}

footer {
    width: 100%;
    height: auto;
    background-color: #14213D;
    >p{
        text-align: center;
        color: #fff;
        line-height: 2.08vw;
        font-size: 1vw;
    }
}


#left_bar {
    width: 4.48vw;
    height: 4.48vw;
    overflow: hidden;
    background-image: url("../images/pic/選單內底框.png");
    background-size: 100% 120%;
    background-position: 100% 50%;
    border-radius: 50px;
    position: fixed;
    top: 4%;
    left: 94%;
    z-index: 998;
    &:hover {
        animation: push 0.5s ease forwards;
    }
    >a {
        width: 4.16vw;
        height: 4.16vw;
        background-image: url("../images/pic/選單內灰園框.png");
        background-size: cover;
        background-position: 100%;
        display: block;
        border-radius: 50%;
        font-size: 1.04vw;
        font-weight: bolder;
        white-space: nowrap;
        color: #fff;
        margin: 0.15vw auto 0 auto;
        text-align: center;
        line-height: 4.16vw;
        &:hover {
            color: #ff754b;
        }
        &.left_1{
            background-image: url("../images/pic/選單.png");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 50% 50%;
        }
    }
}

@keyframes push {
    0% {}
    100% {
        height: 26.09vw;
    }
}

@media screen and(max-width:1700px) {
    #talk{
        >img{opacity: 1;}
        >h1{opacity: 1;}
    }
    .show_L{animation: none;}
    .show_R{animation: none;}
    #interview_txt{
        opacity: 1;
        &.show{
            animation: none;
        }
    }
}