* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

img {
    display: block;
}

header {
    width: 100%;
    height: 1080px;
    overflow: hidden;
    background-image: url("../images/pic/收容所.jpg");
    background-size: cover;
    position: relative;
    >a{
        position: absolute;
    }
}

#logo {
    width: 208px;
    height: 204px;
    background-image: url("../images/pic/logo.png");
    background-size: 208px 204px;
    margin: 27px 0 0 40px;
}

#pick1 {
    width: 300px;
    height: 330px;
    display: inline-block;
    top: 69%;
    left: 24%; 
}

#pick2 {
    width: 240px;
    height: 320px;
    display: inline-block; 
    top:67%;
    left: 46%; 
}

#pick3 {
    width: 440px;
    height: 350px;
    display: inline-block;
    top: 67%;
    left: 61%;
}

.click_in {
    animation: in 0.8s ease-in-out forwards;
}

#main_section {
    width: 300%;
    height: 1000px;
}

article {
    width: 100%;
    height: 1000px;
    background-image: url("../images/pic/網頁背景修改.jpg");
    background-size: cover;
    background-position: 50% 0%;
    position: absolute;
}

#story_1 {
    left: -100%;
}

#story_2 {
    left: 0%;
}

#story_3 {
    left: 100%;
}

article>div {
    position: absolute;
}

#chain {
    width: 78px;
    height: 1000px;
    background-image: url("../images/pic/page2/鍊子首端.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom 0px right 0px;
    margin-left: 100px;
}


#dogPic_bg,
#dogPic2_bg,
#dogPic3_bg{
    width: 1140px;
    height: 620px;  
    background-image: url("../images/pic/page1/故事框.png");
    background-size: 93%;
    background-repeat: no-repeat;
    background-position:center;
    position: absolute;
    top: 18.5%;
    left: 5.5%;
}

#dogPic,
#dogPic2,
#dogPic3 {
    width: 800px;
    height: 450px;
    position: absolute;
    border-radius: 15px;
    top:14%;
    left:20%;
    background-size: 100%;
}

.dog_pic1 {background-image: url("../images/pic/story/分支1/1.jpg");}
.dog_pic2 {background-image: url("../images/pic/story/分支1/2.jpg");}
.dog_pic3 {background-image: url("../images/pic/story/分支1/3.jpg");}
.dog_pic4 {background-image: url("../images/pic/story/分支1/4.jpg");}
.dog_pic5 {background-image: url("../images/pic/story/分支1/5.jpg");}
.dog_pic6 {background-image: url("../images/pic/story/分支1/6.jpg");}
.dog_pic7 {background-image: url("../images/pic/story/分支2/1.jpg");}
.dog_pic8 {background-image: url("../images/pic/story/分支2/2.jpg");}
.dog_pic9 {background-image: url("../images/pic/story/分支2/3.jpg");}
.dog_pic10 {background-image: url("../images/pic/story/分支2/4.jpg");}
.dog_pic11 {background-image: url("../images/pic/story/分支2/5.jpg");}
.dog_pic12 {background-image: url("../images/pic/story/分支3/1.jpg");}
.dog_pic13 {background-image: url("../images/pic/story/分支3/2.jpg");}
.dog_pic14 {background-image: url("../images/pic/story/分支3/3.jpg");}
.dog_pic15 {background-image: url("../images/pic/story/分支3/4.jpg");}
.dog_pic16 {background-image: url("../images/pic/story/分支3/5.jpg");}

#story_Fir, 
#story_Sec, 
#story_Thr {
    width: 600px;
    height: 700px;
    overflow: hidden;
    background-image: url("../images/pic/故事框右.png");
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    top: 15%;
    left:67%;
    >p {
        font-size: 24px;
        color: rgb(241, 241, 241);
        font-weight: bold;
        line-height: 48px;
        text-align: center;
        animation: word_show 0.5s ease-in forwards;
    }
}

#storyline_3,
#storyline_11{
    padding-top: 33%;
}
#storyline_1,
#storyline_10,
#storyline_12{
    padding-top: 37%;
}
#storyline_2,
#storyline_7,
#storyline_14,
#storyline_15,
#storyline_16{
    padding-top: 40%;
}
#storyline_4,
#storyline_5,
#storyline_6,
#storyline_8,
#storyline_9,
#storyline_13{
    padding-top: 45%;
}

@keyframes word_show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.hide {
    display: none;
}

#story_Fir>div,
#story_Sec>div,
#story_Thr>div {
    width: 92%;
    height: 10%;
    overflow: hidden;
    background-image: url("../images/pic/換頁鍵/故事換頁面底框.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 89%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 4%;
    top: 78%;
    >a {
        width: 50px;
        height: 50px;
        display: block;
        border-radius: 50%;
        background-size: cover;
        margin: 0 10px 0 10px;
        &:hover {
            width: 65px;
            height: 65px;
        }
        &.active{
            width: 65px;
            height: 65px;
        }
        &.btn1{background-image: url("../images/pic/換頁鍵/1.png");}
        &.btn2{background-image: url("../images/pic/換頁鍵/2.png");}
        &.btn3{background-image: url("../images/pic/換頁鍵/3.png");}
        &.btn4{background-image: url("../images/pic/換頁鍵/4.png");}
        &.btn5{background-image: url("../images/pic/換頁鍵/5.png");}
        &.btn6{background-image: url("../images/pic/換頁鍵/6.png");}
        &.btn7{background-image: url("../images/pic/換頁鍵/1.png");}
        &.btn8{background-image: url("../images/pic/換頁鍵/2.png");}
        &.btn9{background-image: url("../images/pic/換頁鍵/3.png");}
        &.btn10{background-image: url("../images/pic/換頁鍵/4.png");}
        &.btn11{background-image: url("../images/pic/換頁鍵/5.png");}
        &.btn12{background-image: url("../images/pic/換頁鍵/1.png");}
        &.btn13{background-image: url("../images/pic/換頁鍵/2.png");}
        &.btn14{background-image: url("../images/pic/換頁鍵/3.png");}
        &.btn15{background-image: url("../images/pic/換頁鍵/4.png");}
        &.btn16{background-image: url("../images/pic/換頁鍵/5.png");}
    }
}

#arrowDown1,
#arrowDown2,
#arrowDown3 {
    width: 103px;
    height: 59px;
    position: absolute;
    left: 49%;
    top: 90%;
    background-image: url("../images/pic/Path.png");
    background-repeat: no-repeat;
    animation: arrowMove 3s linear infinite;
    opacity: 0.5;
}

@keyframes arrowMove {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(120px);
    }
}


#abandon1,
#abandon2,
#abandon3 {
    width: 100%;
    height:0px;
    overflow: hidden;
    background-image: url("../images/pic/網頁背景修改.jpg");
    background-size: cover;
    background-position: 50% 24%;
    display: flex;
}

#chain2{
    width: 78px;
    height: 942px;
    display: inline-block;
    background-image: url("../images/pic/page2/鍊子2.png");
    background-repeat: no-repeat;
    background-size: 86%;
    background-position: bottom 10px right 7px;
    margin-left: 100px;
}

#info1,
#info2,
#info3{
    width: 1650px;
    height: 1100px;
    background-image: url("../images/pic/page2/知識點框.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    margin-left: 2%;
    position: relative;
    >div{
        width: 220px;
        height: 220px;
        position: absolute;
        top: 12%;
        left: 3%;
        background-repeat: no-repeat;
        &.white{
            background-image: url("../images/pic/page2/小白.png");
            background-size: 100%;
            background-position: center;
        }
        &.black{
            background-image: url("../images/pic/page2/小黑.png");
            background-size: 240%;
            background-position:60% 50%;
        }
        &.yellow{
            background-image: url("../images/pic/page2/小黃.png");
            background-size: 100%;
            background-position: center;
        }
    }
    >h1 {
        text-align: center;
        color: rgb(138, 136, 136);
        font-size: 60px;
        font-weight: bolder;
        padding: 18% 0 0 6%;
        span{
            font-size: 30px;
        }
    }
    >p {
        text-align: left;
        font-size: 24px;
        font-weight: bold;
        line-height: 45px;
        float: left;
        padding:1% 0 0 13%;
        &.p3{
            text-align: center;
            padding:5% 0 0 17%;
        }
        &.p1L{
            padding:1% 0 0 14%;
        }
        &.p1R{
            padding:1% 0 0 3%;
        }
    }
}

#story_end{
    width: 100%;
    height: 1180px;
    overflow: hidden;
    background-image: url("../images/pic/網頁背景修改.jpg");
    background-position: 50% 49.6%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    &.click1{height: 0px;}
    &.click2{height: 0px;}
    &.click3{height: 0px;}
    >h1{
        font-size: 4em;
        font-weight: bold;
        white-space: nowrap;
        overflow: hidden;
        position: absolute;
        color: rgb(241, 204, 151);
        text-shadow: -1px 2px rgb(56, 56, 56);
        width: 0;
        &.h1_type{
            width: 14em;
            border-right: 0.2rem solid transparent;
            animation: typing 4s steps(14),caret 1s steps(1) 4;
        }
        &.h2_type{
            width: 11em;
            border-right: 0.2rem solid transparent;
            color: transparent;
            text-shadow: none;
            animation: typing 3s steps(11) 4.5s,caret 1s steps(1) 4.5s 3,time_delay 1s 4.5s forwards;
        }
    }
    >div{
        width: 100%;
        height: 100%;
        background-image: url("../images/pic/page2/相框.png");
        background-size: 100%;
        background-position: 50% 128%;
        background-repeat: no-repeat;
        position: relative;
        >a{
            width: 56.3%;
            height: 48%;
            background-image: url("../images/pic/page2/三隻狗2.jpg");
            background-size: cover;
            position: absolute;
            top:0;
            left: 0;
            right: 0;
            bottom:-13.5%;
            margin:auto;
            &:hover{
                transform: scale(1.01);
            }
        }
    }
}

#p1{
    top:18%;
    left: 7%;
}
#p2{
    top:18%;
    left: 58%;
}

@keyframes typing{
    from{width: 0;}
}
@keyframes caret{
    50%{border-color: rgb(77, 77, 77);}
}
@keyframes time_delay{
    from{
        color: rgb(241, 204, 151);
        text-shadow: -1px 2px rgb(56, 56, 56);
    }
    to{
        color: rgb(241, 204, 151);
        text-shadow: -1px 2px rgb(56, 56, 56);
    }
}

footer {
    width: 100%;
    height: 100px;
    background-color: #14213D;
}

#left_bar {
    width: 86px;
    height: 86px;
    overflow: hidden;
    background-image: url("../images/pic/選單內底框.png");
    background-size: 100% 120%;
    background-position: 100%;
    border-radius: 50px;
    position: fixed;
    top: 4%;
    left: 94%;
    &:hover {
        animation: push 0.5s ease forwards;
    }
    >a {
        width: 80px;
        height: 80px;
        display: block;
        background-image: url("../images/pic/選單內灰園框.png");
        background-size: cover;
        background-position: 100%;
        border-radius: 50%;
        font-size: 20px;
        font-weight: bolder;
        color: #fff;
        margin: 3px auto 0 auto;
        text-align: center;
        line-height: 80px;
        &:hover {
            color: #ff754b;
        }
        &.left_1{
            background-image: url("../images/pic/選單.png");
            background-size: cover;
            background-position: 50% 50%;
        }
    }
}

@keyframes push {
    0% {}
    100% {
        height: 501px;
    }
}