* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

img {
    display: block;
}

header {
    width: 100%;
    height: 900px;
    overflow: hidden;
    display: flex;
    >h1{
        position: absolute;
        left: 75%;
        top: 65%;
        font-weight: bold;
        font-size: 60px;
        text-align: center;
        line-height: 100px;
        color: black;
    }    
}

#logo {
    width: 208px;
    height: 204px;
    position: absolute;
    background-image: url("../images/pic/logo.png");
    background-size: 208px 204px;
    margin: 27px 0 0 40px;
    z-index: 3;
}
#top_video{
    width: 100%;
    height: 100%;
    overflow: hidden;
    >video{
        width: 100%;
        height: auto;
    }
    >div{
        width: 100%;
        height: 900px;
        position: absolute;
        left: 0;
        top: 0;
        background-color: rgba(255, 177, 153, 0.8);
        mix-blend-mode: screen;
    }
}

#triangle{
    width: 0;
    height: 0;
    position: absolute;
    top: 11%;
    left: 58%;
    border-style: solid;
    border-width: 0 0 800px 800px;
    border-color: transparent transparent #fff transparent;
}


#interview{
    width: 100%;
    height: 1080px;
    overflow: hidden;
    background-image: url("../images/pic/網頁背景修改.jpg");
    background-size: cover;
    position: relative;
}

#interview_txt{
    width: 300px;
    height: 640px;
    background-image: url("../images/pic/page3/採訪文字框.png");
    background-size: cover;
    position: absolute;
    top: -3%;
    left: 75%;
    transform-origin: top;
    opacity: 0;
    &.show{
        animation: txt_show 3s forwards ease-in-out;
    }
    >p{
        color: rgb(59, 59, 59);
        font-size: 22px;
        font-weight: bolder;
        padding-top: 114%;
        text-align: center;
        line-height: 44px;
        &.hide{
            display: none;
        }
    }
}

@keyframes txt_show{
    0%{
        transform: rotate(-30deg);
        opacity: 0;
    }
    40%{
        transform: rotate(17deg);
        opacity: 1;
    }
    65%{
        transform: rotate(-5deg);
        opacity: 1;
    }
    80%{
        transform: rotate(3deg);
        opacity: 1;
    }
    92%{
        transform: rotate(-1deg);
        opacity: 1;
    }
    100%{
        transform: rotate(0deg);
        opacity: 1;
    }
}

#v1{
    width: 1000px;
    height: auto;
    position: absolute;
    top: 28%;
    left: 15%;
    z-index: 2;
}

#v2{
    width: 900px;
    height: auto;
    position: absolute;
    top: 16%;
    left: 4%;
    z-index: 1;
}

.switch1{
    animation: up_back 0.8s forwards ease-in-out;
}
.switch2{
    animation: up_front 0.8s forwards ease-in-out;
}
.switch3{
    animation: down_front 0.8s forwards ease-in-out;
}
.switch4{
    animation: down_back 0.8s forwards ease-in-out;
}

@keyframes up_back{
    0%{
        width: 1000px;
        top: 28%;
        left: 15%;
        z-index: 2;
    }
    50%{
        top: 4%;
        z-index: 1;
    }
    100%{
        width: 900px;
        top: 16%;
        left: 4%;
        z-index: 1;
    }
}

@keyframes up_front{
    0%{
        width: 900px;
        top: 16%;
        left: 4%;
        z-index: 1;
    }
    50%{
        top: 4%;
        z-index: 2;
    }
    100%{
        width: 1000px;
        top: 28%;
        left: 15%;
        z-index: 2;
    }
}
@keyframes down_front{
    0%{
        width: 900px;
        top: 16%;
        left: 4%;
        z-index: 1;
    }
    50%{
        top: 40%;
        z-index: 2;
    }
    100%{
        width: 1000px;
        top: 28%;
        left: 15%;
        z-index: 2;
    }
}
@keyframes down_back{
    0%{
        width: 1000px;
        top: 28%;
        left: 15%;
        z-index: 2;
    }
    50%{
        top: 40%;
        z-index: 1;
    }
    100%{
        
        width: 900px;
        top: 16%;
        left: 4%;
        z-index: 1;
    }
}

#up_btn{
    width: calc(207px*0.8);
    height: calc(189px*0.8);
    position: absolute;  
    top:64%;
    left: 73%;  
    background-image: url("../images/pic/page3/採訪上鍵.png");
    background-size: cover;
}

#down_btn{
    width: calc(207px*0.8);
    height: calc(189px*0.8);
    position: absolute;  
    top:64%;
    left: 84%;  
    background-image: url("../images/pic/page3/採訪下鍵.png");
    background-size: cover;
}


main {
    width: 100%;
    height: auto;
    overflow: hidden;
    background-image: url("../images/pic/網頁背景修改.jpg");
    background-size: cover;
    background-position: 50% 32%;
    >h1{
        font-size: 60px;
        text-align: center;
        padding: 5%;
        color: #817669;
    }
}

#wall {
    width: 90%;
    height: auto;
    display: grid;
    grid-template-columns: calc(100%/3) calc(100%/3) calc(100%/3);
    grid-template-rows: calc(100%/3) calc(100%/3) calc(100%/3);
    margin: 0 auto;
    >div {
        width: 418px;
        height: 418px;
        overflow: hidden;
        border-radius: 30px;
        margin: 75px auto;
        &:hover{
            animation: touch 0.3s forwards;
            >a{animation: flyIn 0.6s forwards ease-out;}
        }
        >a{
            width: 30%;
            height: 15%;
            display: block;
            background-image: url("../images/pic/page3/九宮格\ 放大鍵.png");
            background-size: cover;
            margin-top: -20%;
        }
    }
}

@keyframes flyIn{
    0%{margin-top: -20%;}
    100%{margin-top: 25%;}
}

#wall-1 {
    grid-column: 1/2;
    grid-row: 1/2;
    background-image: url("../images/pic/page3/九宮格子1.png");
    background-size: cover;
    background-repeat: no-repeat;
}

#wall-2 {
    grid-column: 2/3;
    grid-row: 1/2;
    background-image: url("../images/pic/page3/九宮格子1.png");
    background-size: cover;
    background-position: 50% 12%;
    background-repeat: no-repeat;
}

#wall-3 {
    grid-column: 3/4;
    grid-row: 1/2;
    background-image: url("../images/pic/page3/九宮格子1.png");
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
}

#wall-4 {
    grid-column: 1/2;
    grid-row: 2/3;
    background-image: url("../images/pic/page3/九宮格子2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 84%;
}

#wall-5 {
    grid-column: 2/3;
    grid-row: 2/3;
    background-image: url("../images/pic/page3/九宮格子2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 42%;
}

#wall-6 {
    grid-column: 3/4;
    grid-row: 2/3;
    background-image: url("../images/pic/page3/九宮格子2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 40%;
}

#wall-7{
    background-image: url("../images/pic/page3/九宮格子3.png");
    background-size: cover;
    grid-column: 1/2;
    grid-row: 3/4;
}
#wall-8 {
    background-image: url("../images/pic/page3/九宮格子3.png");
    background-size: cover;
    grid-column: 2/3;
    grid-row: 3/4;
}

#wall-9 {
    background-image: url("../images/pic/page3/九宮格子3.png");
    background-size: cover;
    grid-column: 3/4;
    grid-row: 3/4;
}

@keyframes touch {
    0% {
        
    }
    100% {
        transform: scale(1.1,1.1);
        box-shadow: -20px 10px 10px rgb(49, 49, 49);
    }
}

#infobox{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.295);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    &.hide{
        display: none;
    }
    >div{
        width: 780px;
        height: 781px;
        animation: info_show 0.6s forwards ease-out;
        background-image: url("../images/pic/page3/九宮格點擊後視窗.png");
        margin: 3% auto 0 auto;
        position: relative;
        &.hide{
            display: none;
        }
        >a{
            width: 140px;
            height: 140px;
            border-radius: 50%;
            display: block;
            position: absolute;
            top: 2%;
            left: 77.5%;
            &:hover{
                background-color:rgba(255, 234, 43, 0.5);
            }
        }
        >p{
            font-size: 24px;
            line-height: 44px;
            font-weight: 800;
            color: #4e3626;
            padding: 25% 4% 0 4%;
            >span{
                font-size: 66px;
                line-height: 50px;
                color: #2bdbc4;
            }
        }
    }
}

@keyframes info_show{
    0%{}
    100%{transform: translateY(3%);}
}

footer {
    width: 100%;
    height: 100px;
    background-color: #14213D;
}


#left_bar {
    width: 86px;
    height: 86px;
    overflow: hidden;
    background-image: url("../images/pic/選單內底框.png");
    background-size: cover;
    background-position: 100%;
    border-radius: 50px;
    position: fixed;
    top: 4%;
    left: 94%;
    &:hover {
        animation: push 0.5s ease forwards;
    }
    >a {
        width: 80px;
        height: 80px;
        display: block;
        background-image: url("../images/pic/選單內灰園框.png");
        background-size: cover;
        background-position: 100%;
        border-radius: 50%;
        font-size: 20px;
        font-weight: bolder;
        color: #fff;
        margin: 3px auto 0 auto;
        text-align: center;
        line-height: 80px;
        &:hover {
            color: #ff754b;
        }
        &.left_1{
            background-image: url("../images/pic/選單.png");
            background-size: cover;
        }
    }
}

@keyframes push {
    0% {}
    100% {
        height: 418px;
    }
}