@font-face {
    font-family: FakePearl-Regular;
    src: url(https://cdn.jsdelivr.net/gh/max32002/FakePearl@1.1/webfont/FakePearl-Regular.woff2) format("woff2")
    , url(https://cdn.jsdelivr.net/gh/max32002/FakePearl@1.1/webfont/FakePearl-Regular.woff) format("woff");
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: FakePearl-Regular;
}

html,
body {
    width: 100%;
    height: 100%;
}

img {
    display: block;
}

header {
    width: 100%;
    height: 44.27vw;
    background-color: #ffa958;
    >h1{
        font-size: 2.08vw;
        font-weight: bolder;
        color: #fff;
        padding: 16% 0 0 1%;
        line-height: 3.646vw;
        >span{
            font-size: 5vw;
        }
    }  
}

// #logo {
//     width: 208px;
//     height: 204px;
//     position: absolute;
//     border-radius: 45%;
//     background-image: url("../images/pic/logo.png");
//     background-size: 208px 204px;
//     margin: 27px 0 0 40px;
//     z-index: 3;
// }

#top{
    width: 100%;
    height: 17.34vw;
    position: relative;
    background-image: url("../images/pic/page4/照片鍊子上層.png");
    background-repeat: no-repeat;
    background-size: cover;
    >img{
        position: absolute;
        &.pic1{
            width: 32%;
            top: 56%;
            left: 2%;
        }
        &.pic2{
            width: 27.5%;
            top: 64%;
            left: 36%;
        }
        &.pic3{
            width: 34%;
            top: 84%;
            left: 65%;
        }
    }
}

#section_bg{
    width: 100%;
    height: auto;
    overflow: hidden;
    background-image: url("../images/pic/網頁背景修改.jpg");
    background-size: cover;
}

#section_1{
    width: 100%;
    height: 26.04vw;
    padding-top: 5.2vw;
    position: relative;
    >div{
        width: 35.41vw;
        height: 15.625vw;
        background-image: url("../images/pic/page4/左選單1.png");
        background-repeat: no-repeat;
        background-position: 100%;
        background-size: cover;
        margin-left: -12%;
        position: relative;
        &.in{animation: in_left 1s forwards ease-out;}
        &.out{animation: out_left 1s forwards ease-out;}
        >a{
            width: 15.625vw;
            height: 15.625vw;
            border-radius: 50%;
            display: block;
            position: absolute;
            background-image: url("../images/pic/page4/寵物認養.png");
            background-size: cover;
            top:-5%;
            left: 25%;
            &:hover{transform: rotate(5deg) scale(1.2);}
        }
    }
    >h1{
        position: absolute;
        color: #242424;
        font-size: 4.16vw;
        font-weight: bolder;
        top: 31%;
        left: 49%;
        opacity: 0;
        &.word_show{animation: show 1s forwards ease-in-out;}
        &.word_hide{animation: hide 1s forwards ease-in-out;}
    }
    >p{
        position: absolute;
        color: #242424;
        font-size: 2.08vw;
        font-weight: bold;
        top: 49%;
        left: 59%;
        opacity: 0;
        &.word_show{animation: show 1s forwards ease-in-out;}
        &.word_hide{animation: hide 1s forwards ease-in-out;}
    }
}

@keyframes in_left {
    0%{}
    100%{transform: translateX(30%);}
}
@keyframes out_left {
    0%{transform: translateX(30%);}
    100%{transform: translateX(0%);}
}
@keyframes in_right {
    0%{}
    100%{transform: translateX(-30%);}
}
@keyframes out_right {
    0%{transform: translateX(-30%);}
    100%{transform: translateX(0%);}
}
@keyframes show {
    0%{opacity: 0;}
    100%{opacity: 1;}
}
@keyframes hide {
    0%{opacity: 1;}
    100%{opacity: 0;}
}

#section_2{
    width: 100%;
    height: 26.04vw;
    padding-top: 5.2vw;
    position: relative;
    >div{
        width: 35.41vw;
        height: 15.625vw;
        background-image: url("../images/pic/page4/右選單1.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 0%;
        position: relative;
        margin-left: 77%;
        &.in{animation: in_right 1s forwards ease-out;}
        &.out{animation: out_right 1s forwards ease-out;}
        >a{
            width: 15.625vw;
            height: 15.625vw;
            border-radius: 50%;
            display: block;
            position: absolute;
            background-image: url("../images/pic/page4/志工招募.png");
            background-size: 115%;
            top: -11%;
            left: 20%;
            &:hover{transform: rotate(5deg) scale(1.2);}
        }
    }
    >h1{
        position: absolute;
        color: #242424;
        font-size: 4.16vw;
        font-weight: bolder;
        top: 31%;
        left: 18%;
        opacity: 0;
        &.word_show{animation: show 1s forwards ease-in-out;}
        &.word_hide{animation: hide 1s forwards ease-in-out;}
    }
    >p{
        position: absolute;
        color: #242424;
        font-size: 2.08vw;
        font-weight: bold;
        top: 49%;
        left: 29%;
        opacity: 0;
        &.word_show{animation: show 1s forwards ease-in-out;}
        &.word_hide{animation: hide 1s forwards ease-in-out;}
    }
}

#section_3{
    width: 100%;
    height: 26.04vw;
    padding-top: 5.2vw;
    position: relative;
    >div{
        width: 35.41vw;
        height: 15.625vw;
        background-image: url("../images/pic/page4/左選單1.png");
        background-repeat: no-repeat;
        background-position: 100%;
        background-size: cover;
        position: relative;
        margin-left: -12%;
        &.in{animation: in_left 1s forwards ease-out;}
        &.out{animation: out_left 1s forwards ease-out;}
        >a{
            width: 15.625vw;
            height: 15.625vw;
            border-radius: 50%;
            display: block;
            background-image: url("../images/pic/page4/線上捐款.png");
            background-size: 115%;
            position: absolute;
            top:-9%;
            left: 22%;
            &:hover{transform: rotate(5deg) scale(1.2);}
        }      
    }
    >h1{
        position: absolute;
        color: #242424;
        font-size: 4.16vw;
        font-weight: bolder;
        top: 31%;
        left: 49%;
        opacity: 0;
        &.word_show{animation: show 1s forwards ease-in-out;}
        &.word_hide{animation: hide 1s forwards ease-in-out;}
    }
    >p{
        position: absolute;
        color: #242424;
        font-size: 2.08vw;
        font-weight: bold;
        top: 49%;
        left: 59%;
        opacity: 0;
        &.word_show{animation: show 1s forwards ease-in-out;}
        &.word_hide{animation: hide 1s forwards ease-in-out;}
    }
}

#section_4{
    width: 100%;
    height: 26.04vw;
    padding-top: 5.2vw;
    position: relative;
    >div{
        width: 35.41vw;
        height: 15.625vw;
        background-image: url("../images/pic/page4/右選單1.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 0%;
        position: relative;
        margin-left: 77%;
        &.in{animation: in_right 1s forwards ease-out;}
        &.out{animation: out_right 1s forwards ease-out;}
        >a{
            width: 15.625vw;
            height: 15.625vw;
            display: block;
            border-radius: 50%;
            position: absolute;
            background-image: url("../images/pic/page4/寵物陪睡.png");
            background-size: 113%;
            top: -11%;
            left: 20%;
            &:hover{transform: rotate(5deg) scale(1.2);}
        }
    }
    >h1{
        position: absolute;
        color: #242424;
        font-size: 4.16vw;
        font-weight: bolder;
        top: 31%;
        left: 18%;
        opacity: 0;
        &.word_show{animation: show 1s forwards ease-in-out;}
        &.word_hide{animation: hide 1s forwards ease-in-out;}
    }
    >p{
        position: absolute;
        color: #242424;
        font-size: 2.08vw;
        font-weight: bold;
        top: 49%;
        left: 29%;
        opacity: 0;
        &.word_show{animation: show 1s forwards ease-in-out;}
        &.word_hide{animation: hide 1s forwards ease-in-out;}
    }
}

#section_5{
    width: 100%;
    height: 26.04vw;
    padding-top: 5.2vw;
    position: relative;
    >div{
        width: 35.41vw;
        height: 15.625vw;
        background-image: url("../images/pic/page4/左選單1.png");
        background-repeat: no-repeat;
        background-position: 100%;
        background-size: cover;
        position: relative;
        margin-left: -12%;
        &.in{animation: in_left 1s forwards ease-out;}
        &.out{animation: out_left 1s forwards ease-out;}
        >a{
            width: 15.625vw;
            height: 15.625vw;
            border-radius: 50%;
            display: block;
            background-image: url("../images/pic/page4/贊助商品.png");
            background-size: cover;
            position: absolute;
            top:-5%;
            left: 25%;
            &:hover{transform: rotate(5deg) scale(1.2);}
        }    
    }
    >h1{
        position: absolute;
        color: #242424;
        font-size: 4.16vw;
        font-weight: bolder;
        top: 31%;
        left: 49%;
        opacity: 0;
        &.word_show{animation: show 1s forwards ease-in-out;}
        &.word_hide{animation: hide 1s forwards ease-in-out;}
    }
    >p{
        position: absolute;
        color: #242424;
        font-size: 2.08vw;
        font-weight: bold;
        top: 49%;
        left: 59%;
        opacity: 0;
        &.word_show{animation: show 1s forwards ease-in-out;}
        &.word_hide{animation: hide 1s forwards ease-in-out;}
    }
}


#info{
    width: 100%;
    height: auto;
    background-image: url("../images/pic/網頁背景修改.jpg");
    background-size: cover;
    background-position: 50% 54%;
    >img{
        width: 100%;
        height: auto;
        margin: 0 auto;
    }
    >div{
        width: 100%;
        height:auto;
        display: grid;
        grid-template-columns: calc(100%/3) calc(100%/3) calc(100%/3);
        grid-template-rows: 100%;
        >div{
            width: 25.91vw;
            height: 35.07vw;
            background-size: 99%;
            background-repeat: no-repeat;
            position: relative;
            margin:5vw auto;
            &.info1{background-image: url("../images/pic/page4/流浪動物救援協會.png");}
            &.info2{background-image: url("../images/pic/page4/民雄.png");}
            &.info3{background-image: url("../images/pic/page4/嘉義市.png");}
            >a.a1{
                width: 3.28vw;
                height: 3.4vw;
                display: block;
                background-image: url("../images/pic/page4/導航.png");
                background-size: cover;
                position: absolute;
                top:60%;
                left: 80%;
                &:hover{
                    transform: rotate(10deg);
                }
            }
            >h1{
                font-size: 1.56vw;
                font-weight: bolder;
                text-align: center;
                color: #3E8E7E;
                padding: 69% 5% 7.5% 5%;
                &.p1{
                    text-align:left;
                    padding: 66% 5% 3.5% 5% ;
                }
            }
            >p{
                font-size: 1.04vw;
                line-height: 1.56vw;
                font-weight: bold;
                color: rgb(71, 71, 71);
                padding: 0 9%;
            }
            >a.a2{
                display:block;
                position: absolute;
                width: 8.17vw;
                height: 2.76vw;
                color: #CCD1E4;
                text-align: center;
                font-size: 1.25vw;
                line-height: 2.6vw;
                background-image: url("../images/pic/page4/收容所-按鈕.png");
                background-size: 100%;
                background-repeat: no-repeat;
                top:88%;
                left: 34%;
                &:hover{
                    color: #fff;
                }
            }
        }
    }
}


#last{
    width: 100%;
    height: 62.5vw;
    background-image: url("../images/pic/page4/結尾圖滿版.png");
    background-size: cover;
    background-position: 50% 55%;
    >h1{
        text-align: center;
        font-size: 2.6vw;
        color: #4ff5d4;
        padding-top: 10%;
        text-shadow: -0.31vw 0.36vw 0.05vw #3E8E7E;
        >span{font-size: 3.64vw;}
    }
}


#aboutUs{
    width: 88.3vw*0.8;
    height: 49.4vw*0.8;
    background-image: url("../images/pic/page4/關於我們.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    position: fixed;
    top: 10%;
    left: 13%;
    z-index: 3;
    &.about_hide{display: none;}
    >a{
        width: 2.86vw;
        height: 2.6vw;
        display: block;
        position: absolute;
        top: 3.1%;
        left: 4.3%;
        &:hover{
            border: 0.1vw solid rgb(99, 99, 99);
        }
    }
    >div{
        width: 90%;
        height: 78%;
        position: absolute;
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: 50% 50%;
        top: 15%;
        left: 7%;
        >div{
            width: 13.54vw;
            height: 13.54vw;
            border-radius: 50%;
            background-size: cover;
        }
        >h1{
            display: block;
            font-size: 1.56vw;
            font-weight: bolder;
            text-align: center;
            color: #152850;
            line-height: 3.125vw;
            padding-top:30%;
            text-shadow: -0.1vw 0.1vw #BDAEAE;
        }
    }   
}

#member1{
    background-image: url("../images/pic/aboutUs/鍾.JPG");
    background-position: 36% 50%;
    margin: auto;
}
#member2{
    background-image: url("../images/pic/aboutUs/林.jpeg");
    background-position: 57% 50%;
    margin:auto 0 auto 15%;
}
#member3{
    background-image: url("../images/pic/aboutUs/蔡.JPG");
    background-position: 43% 50%;
    margin: auto;
}
#member4{
    background-image: url("../images/pic/aboutUs/趙.JPG");
    background-position: 69% 50%;
    margin:auto 0 auto 15%;
}

footer {
    width: 100%;
    height: auto;
    background-color: #14213D;
    >p{
        text-align: center;
        color: #fff;
        line-height: 2.08vw;
    }
}

#left_bar {
    width: 4.48vw;
    height: 4.48vw;
    overflow: hidden;
    background-image: url("../images/pic/選單內底框.png");
    background-size: 100% 120%;
    background-position: 100% 50%;
    border-radius: 50px;
    position: fixed;
    top: 4%;
    left: 94%;
    z-index: 998;
    &:hover {
        animation: push 0.5s ease forwards;
    }
    >a {
        width: 4.16vw;
        height: 4.16vw;
        background-image: url("../images/pic/選單內灰園框.png");
        background-size: cover;
        background-position: 100%;
        display: block;
        border-radius: 50%;
        font-size: 1.04vw;
        font-weight: bolder;
        white-space: nowrap;
        color: #fff;
        margin: 0.15vw auto 0 auto;
        text-align: center;
        line-height: 4.16vw;
        &:hover {
            color: #ff754b;
        }
        &.left_1{
            background-image: url("../images/pic/選單.png");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 50% 50%;
        }
    }
}

@keyframes push {
    0% {}
    100% {
        height: 26.09vw;
    }
}

@media screen and(max-width:1700px) {
    #section_1{
        >div{
            transform: translateX(30%);
            &.in{animation: none;}
            &.out{animation: none;}
        }
        >h1{
            opacity: 1;
            &.word_show{animation: none;}
            &.word_hide{animation: none;}
        }
        >p{
            opacity:1;
            &.word_show{animation:none;}
            &.word_hide{animation:none;}
        }
    }
    #section_2{
        >div{
            transform: translateX(-30%);
            &.in{animation: none;}
            &.out{animation: none;}
        }
        >h1{
            opacity: 1;
            &.word_show{animation: none;}
            &.word_hide{animation: none;}
        }
        >p{
            opacity:1;
            &.word_show{animation:none;}
            &.word_hide{animation:none;}
        }
    }
    #section_3{
        >div{
            transform: translateX(30%);
            &.in{animation: none;}
            &.out{animation: none;}
        }
        >h1{
            opacity: 1;
            &.word_show{animation: none;}
            &.word_hide{animation: none;}
        }
        >p{
            opacity:1;
            &.word_show{animation:none;}
            &.word_hide{animation:none;}
        }
    }
    #section_4{
        >div{
            transform: translateX(-30%);
            &.in{animation: none;}
            &.out{animation: none;}
        }
        >h1{
            opacity: 1;
            &.word_show{animation: none;}
            &.word_hide{animation: none;}
        }
        >p{
            opacity:1;
            &.word_show{animation:none;}
            &.word_hide{animation:none;}
        }
    }
    #section_5{
        >div{
            transform: translateX(30%);
            &.in{animation: none;}
            &.out{animation: none;}
        }
        >h1{
            opacity: 1;
            &.word_show{animation: none;}
            &.word_hide{animation: none;}
        }
        >p{
            opacity:1;
            &.word_show{animation:none;}
            &.word_hide{animation:none;}
        }
    }
}
@media screen and(max-width:1050px) {
    #info{
        >div{
            grid-template-columns: calc(100%/2) calc(100%/2);
            grid-template-rows: 50%;
            >div{
                width: 35vw;
                height: 47.37vw;
                >a.a1{
                    width:4.43vw;
                    height: 4.59vw;
                }
                >h1{font-size: 2.1vw;}
                >p{
                    font-size: 1.4vw;
                    line-height: 2.1vw;
                }
                >a.a2{
                    width: 11.03vw;
                    height: 3.72vw;
                    font-size: 1.68vw;
                    line-height: 3.51vw;
                }
            }
        }
    }
}
@media screen and(max-width:800px) {
    #info{
        >div{
            grid-template-columns: 100%;
            grid-template-rows: calc(100%/3);
            >div{
                width: 50vw;
                height: 67.67vw;
                >a.a1{
                    width:6.328vw;
                    height: 6.55vw;
                }
                >h1{font-size: 3vw;}
                >p{
                    font-size: 2vw;
                    line-height: 3vw;
                }
                >a.a2{
                    width: 15.75vw;
                    height: 5.31vw;
                    font-size: 2.4vw;
                    line-height: 5.01vw;
                }
            }
        }
    }
}