* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

img {
    display: block;
}

header {
    width: 100%;
    height: 900px;
    overflow: hidden;
    display: flex;    
}

#logo {
    width: 208px;
    height: 204px;
    position: absolute;
    border-radius: 45%;
    background-image: url("../images/pic/logo.png");
    background-size: 208px 204px;
    margin: 27px 0 0 40px;
    z-index: 3;
}
#top_video{
    width: 100%;
    height: 100%;
    overflow: hidden;
    >video{
        width: 100%;
        height: auto;
    }
    >div{
        width: 100%;
        height: 900px;
        position: absolute;
        left: 0;
        top: 0;
        background-color: rgba(255, 255, 255, 0.3);
        mix-blend-mode: screen;
    }
    >h1{
        width: 100%;
        position: absolute;
        left: 0;
        top: 80%;
        font-weight: bolder;
        font-size: 90px;
        text-align: center;
        line-height: 100px;
        color: black;
    }
}


#street {
    width: 100%;
    height: auto;
    overflow: hidden;
    >div {
        width: 100%;
        height: 1080px;
        background-image: url("../images/pic/街頭.jpg");
        background-size: cover;
        position: relative;
    }
}

#infopic_1 {
    position: absolute;
    width: 230px;
    height: 500px;
    display: inline-block;
    top: 43%;
    left: 26%;
}

#infopic_2 {
    position: absolute;
    width: 300px;
    height: 500px;
    display: inline-block;
    top: 46%;
    left: 43%;
}

#infopic_3 {
    position: absolute;
    width: 200px;
    height: 480px;
    display: inline-block;
    top: 46%;
    left: 65%;
}

#info_1 {
    width: calc(736px*0.6);
    height: calc(921px*0.6);
    background-image: url("../images/pic/page1/新視窗.png");
    background-size: cover;
    background-position: 50% 50%;
    display: inline-block;
    position: absolute;
    top: 23%;
    left: 41%;
    opacity: 0;
    z-index: -1;
    &.show{
        animation: show 1s forwards;
    }
    >a{
        width: 50px;
        height: 50px;
        display: block;
        margin: 15px 0 0 346px;
        &:hover{border: solid 2px rgb(68, 68, 68);}
    }
    >div{
        width: 110px;
        height: 110px;
        border-radius: 50%;
        background-image: url("../images/pic/page1/小黑.png");
        background-repeat: no-repeat;
        background-size: 245%;
        background-position: 57% 110%;
        position: absolute;
        top: 19.5%;
        left: 8.5%;
    }
    >h1{
        color: black;
        font-size: 40px;
        font-weight: bolder;
        padding: 72px 0 45px 160px;
    }
    >p{
        padding: 0 20px;
        font-size: 20px;
        line-height: 30px;
        font-weight: bold;
        color: #14213D;
    }
}

#info_2 {
    width: calc(736px*0.6);
    height: calc(921px*0.6);
    background-image: url("../images/pic/page1/新視窗.png");
    background-size: cover;
    display: block;
    position: absolute;
    top: 12%;
    left: 54%;
    opacity: 0;
    z-index: -1;
    &.show{
        animation: show 1s forwards;
    }
    >a{
        width: 50px;
        height: 50px;
        display: inline-block;
        margin: 15px 0 0 346px;
        &:hover{border: solid 2px rgb(68, 68, 68);}
    }
    >div{
        width: 110px;
        height: 110px;
        border-radius: 50%;
        background-image: url("../images/pic/page1/小黃.png");
        background-repeat: no-repeat;
        background-size: 95%;
        background-position: 50% 50%;
        position: absolute;
        top: 19.5%;
        left: 8.5%;
    }
    >h1{
        color: black;
        font-size: 40px;
        font-weight: bolder;
        padding: 72px 0 45px 160px;
    }
    >p{
        padding: 0 20px;
        font-size: 20px;
        line-height: 30px;
        font-weight: bold;
        color: #14213D;
    }
}

#info_3 {
    width: calc(736px*0.6);
    height: calc(921px*0.6);
    background-image: url("../images/pic/page1/新視窗.png");
    background-size: cover;
    display:block;
    position: absolute;
    top: 25%;
    left: 34%;
    opacity: 0;
    z-index: -1;
    &.show{
        animation: show 1s forwards;
    }
    >a{
        width: 50px;
        height: 50px;
        display: inline-block;
        margin: 15px 0 0 346px;
        &:hover{border: solid 2px rgb(68, 68, 68);}
    }
    >div{
        width: 110px;
        height: 110px;
        border-radius: 50%;
        background-image: url("../images/pic/page1/小白.png");
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: 50% 85%;
        position: absolute;
        top: 19.5%;
        left: 8.5%;
    }
    >h1{
        color: black;
        font-size: 40px;
        font-weight: bolder;
        padding: 72px 0 45px 160px;
    }
    >p{
        padding: 0 20px;
        font-size: 20px;
        line-height: 30px;
        font-weight: bold;
        color: #14213D;
    }
}

@keyframes show {
    0% {}
    100% {
        opacity: 1;
        z-index: 1;
    }
}

aside {
    width: 100%;
    height: auto;
    overflow: hidden;
    background-image: url("../images/pic/dog_3.JPG");
    background-size: cover;
    opacity: 0.8;
    >div {
        width: 100%;
        height: auto;
        overflow: hidden;
        padding: 450px 0 150px 75px;
        > {
            div {
                width: 20px;
                height: 76px;
                background-color: #FFBA08;
                float: left;
            }
            h2 {
                font-size: 50px;
                color: #fff;
                padding-left: 50px;
            }
        }
    }
}

#aside2 {
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
    background-image: url("../images/pic/網頁背景修改.jpg");
    text-align: center;
    >p {
        -webkit-user-select: none;
        user-select: none;
        -moz-user-select: none;
        font-size: 50px;
        font-weight: bold;
        color: #BDAEAE;
        padding: 400px 0 178px 0;
        opacity: 0;
    }
}

#left_part{
    width: 362px;
    height: auto;
    position: absolute;
}

#chain_box{
    width: 100%;
    height: 335px;
    background-image: url("../images/pic/page1/拉桿箱.png");
}

#chain_circle{
    width: calc(153px*0.5);
    height: calc(249px*0.5);
    background-image: url("../images/pic/page1/778.png");
    background-size: 300%;
    background-position: -13% 150%;
    position: absolute;
    top:9%;
    left: 67%;
}

#chain_rod{
    width: 145px;
    height: 125px;
    background-image: url("../images/pic/page1/777.png");
    background-size: cover;
    position: absolute;
    top: 3.3%;
    left: 76%;
    animation: rod_spin 5s infinite ease-in-out;
    transform-origin: bottom left;
    
}

@keyframes rod_spin{
    0%{
        transform: rotate(10deg);
    }
    50%{
        transform: rotate(45deg);
    }
    100%{
        transform: rotate(10deg);
    }
}

#chain{
    width: 78px;
    height: 942px;
    background-image: url("../images/pic/page1/鍊子首端.png");
    margin: -32.5% auto 0 auto;
}

.in {
    animation: right 2s;
    animation-fill-mode: forwards;
}

.out {
    animation: left 2s;
    animation-fill-mode: forwards;
}

@keyframes right {
    0% {
        transform: translateX(-150px);
    }
    100% {
        transform: translateX(50px);
        opacity: 1;
    }
}

@keyframes left {
    0% {
        transform: translateX(50px);
        opacity: 1;
    }
    100% {
        transform: translateX(-150px);
        opacity: 0;
    }
}

article {
    width: 100%;
    height: auto;
    overflow: hidden;
    background-image: url("../images/pic/網頁背景修改.jpg");
    background-size: cover;
    background-position: 50% 29%;
    background-repeat: no-repeat;
    position: relative;
}

#left_part2{
    width: 78px;
    height: 894px;
    background-image: url("../images/pic/page1/鍊子第二段.png");
    background-repeat: no-repeat;
    background-position: bottom -1px right 5px;
    margin-left: 138px;
}

#dogPic_bg{
    width: 1140px;
    height: 620px;  
    background-image: url("../images/pic/page1/故事框.png");
    background-size: 93%;
    background-repeat: no-repeat;
    background-position:center;
    position: absolute;
    top: 19%;
    left: 7.5%;
}

#dogPic {
    width: 800px;
    height: 450px;
    position: absolute;
    border-radius: 15px;
    top:14%;
    left:20%;
    background-size: 100%;
}

.dog_pic1 {background-image: url("../images/pic/story/1.jpg");}
.dog_pic2 {background-image: url("../images/pic/story/2.jpg");}
.dog_pic3 {background-image: url("../images/pic/story/3.jpg");}
.dog_pic4 {background-image: url("../images/pic/story/4.jpg");}
.dog_pic5 {background-image: url("../images/pic/story/5.jpg");}
.dog_pic6 {background-image: url("../images/pic/story/6.jpg");}
.dog_pic7 {background-image: url("../images/pic/story/7.jpg");}

#story {
    width: 600px;
    height: 700px;
    overflow: hidden;
    background-image: url("../images/pic/故事框右.png");
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    top: 16%;
    left:67%;
    >p {
        font-size: 24px;
        text-align: center;
        color: rgb(241, 241, 241);
        font-weight: bold;
        line-height: 48px;
        padding-top: 47%;
        animation: word_show 0.5s ease-in forwards;
    }
}

@keyframes word_show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.hide {
    display: none;
}

#story>div {
    width: 72%;
    height: 10%;
    overflow: hidden;
    background-image: url("../images/pic/換頁鍵/故事換頁面底框.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    top: 78%;
    left: 14%;
    display: flex;
    justify-content: center;
    align-items: center;
    >a {
        width: 50px;
        height: 50px;
        display: block;
        border-radius: 50%;
        background-size: cover;
        margin: 0 10px 0 10px;
        &:hover {
            width: 65px;
            height: 65px;
        }
        &.active{
            width: 65px;
            height: 65px;
        }
        &.btn1{background-image: url("../images/pic/換頁鍵/1.png");}
        &.btn2{background-image: url("../images/pic/換頁鍵/2.png");}
        &.btn3{background-image: url("../images/pic/換頁鍵/3.png");}
    }
}

#aside3 {
    width: 100%;
    height: auto;
    overflow: hidden;
    background-image: url("../images/pic/網頁背景修改.jpg");
    background-position: 50% 50%;
    background-size: cover;
    position: relative;
    >div{
        display: inline-block;
        width: 78px;
        height: 800px;
        background-image: url("../images/pic/page1/鍊子第三段.png");
        background-repeat: no-repeat;
        background-position: bottom 0px right 5px;
        margin-left: 138px;
    }
    >p {
        -webkit-user-select: none;
        user-select: none;
        -moz-user-select: none;
        display: inline-block;
        font-size: 50px;
        font-weight: bold;
        color: #BDAEAE;
        text-align: center;
        opacity: 0;
        position: absolute;
        top: 40%;
        left: 31%;
    }
}

#article2 {
    width: 100%;
    height: auto;
    overflow: hidden;
    background-image: url("../images/pic/網頁背景修改.jpg");
    background-size: cover;
    background-position: 50% 85%;
    background-repeat: no-repeat;
    position: relative;
}

#left_part3{
    width: 78px;
    height: 894px;
    background-image: url("../images/pic/page1/鍊子第四段.png");
    background-repeat: no-repeat;
    background-position: bottom 8px right 5px;
    margin-left: 138px;
}

#collar{
    width: 140px;
    height: 259px;
    background-image: url("../images/pic/page1/項圈.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    position: absolute;
    top: 73.4%;
    left: 6%;
}

#dogPic2_bg{
    width: 1140px;
    height: 620px;  
    background-image: url("../images/pic/page1/故事框.png");
    background-size: 93%;
    background-repeat: no-repeat;
    background-position:center;
    position: absolute;
    top: 14%;
    left: 7.5%;
}

#dogPic2 {
    width: 800px;
    height: 450px;
    position: absolute;
    border-radius: 15px;
    top:14%;
    left:20%;
    background-size: 100%;
}

#story2 {
    width: 600px;
    height: 700px;
    overflow: hidden;
    background-image: url("../images/pic/故事框右.png");
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    top: 12%;
    left:67%;
    >p {
        font-size: 24px;
        text-align: center;
        color: rgb(241, 241, 241);
        font-weight: bold;
        line-height: 48px;
        animation: word_show 0.5s ease-in forwards;
    }      
}
#storyline_4{
    padding-top: 45%;
}
#storyline_6,
#storyline_7{
    padding-top: 37%;
}
#storyline_5{
    padding-top: 33%;
}

#story2>div {
    width: 78%;
    height: 10%;
    overflow: hidden;
    background-image: url("../images/pic/換頁鍵/故事換頁面底框.png");
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 11%;
    top: 78%;
    >a {
        width: 50px;
        height: 50px;
        display: block;
        border-radius: 50%;
        background-size: cover;
        margin: 0 10px 0 10px;
        &:hover {
            width: 65px;
            height: 65px;
        }
        &.active{
            width: 65px;
            height: 65px;
        }
        &.btn4{background-image: url("../images/pic/換頁鍵/1.png");}
        &.btn5{background-image: url("../images/pic/換頁鍵/2.png");}
        &.btn6{background-image: url("../images/pic/換頁鍵/3.png");}
        &.btn7{background-image: url("../images/pic/換頁鍵/4.png");}
    }
}

#page2_btn {
    width: 112px;
    height: 112px;
    display: block;
    background-image: url("../images/pic/往下箭頭.png");
    background-size: cover;
    border-radius: 50%;
    margin: 0 0 8% 79%;
}

#black {
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    text-align: center;
    >p {
        user-select: none;
        color: #fff;
        font-size: 28px;
        font-weight: 450;
        line-height: 150px;
        opacity: 0;
    }
}

.line_1 {
    padding-top: 20px;
    animation: word_show 1.2s forwards 0.5s;
}

.line_2 {
    animation: word_show 1.2s forwards 2.4s;
}

.line_3 {
    animation: word_show 1.2s forwards 4.6s;
}

#black> {
    a {
        display: inline-block;
        color: #fff;
        font-size: 28px;
        margin-top: 180px;
        opacity: 0;
        animation: word_show 1.2s forwards 6.4s;
        &:hover{
            color: #ffd13b;
        }
    }
    #back_btn {
        margin: 1% 0 0 90%;   
    }
}

footer {
    width: 100%;
    height: 100px;
    background-color: #14213D;
}

#left_bar {
    width: 86px;
    height: 86px;
    overflow: hidden;
    background-image: url("../images/pic/選單內底框.png");
    background-size: 100% 120%;
    background-position: 100% 50%;
    border-radius: 50px;
    position: fixed;
    top: 4%;
    left: 94%;
    z-index: 998;
    &:hover {
        animation: push 0.5s ease forwards;
    }
    >a {
        width: 80px;
        height: 80px;
        background-image: url("../images/pic/選單內灰園框.png");
        background-size: cover;
        background-position: 100%;
        display: block;
        border-radius: 50%;
        font-size: 20px;
        font-weight: bolder;
        color: #fff;
        margin: 3px auto 0 auto;
        text-align: center;
        line-height: 80px;
        &:hover {
            color: #ff754b;
        }
        &.left_1{
            background-image: url("../images/pic/選單.png");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 50% 50%;
        }
    }
}

@keyframes push {
    0% {}
    100% {
        height: 501px;
    }
}