* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

img {
    display: block;
}

header {
    width: 100%;
    height: 1080px;
    overflow: hidden;
    background-image: url("../images/pic/收容所.jpg");
    background-size: cover;
    position: relative;
    >a{
        position: absolute;
    }
}

#logo {
    width: 208px;
    height: 204px;
    background-image: url("../images/pic/logo.png");
    background-size: 208px 204px;
    margin: 27px 0 0 40px;
}

#pick1 {
    width: 300px;
    height: 330px;
    display: inline-block;
    top: 69%;
    left: 24%; 
}

#pick2 {
    width: 240px;
    height: 320px;
    display: inline-block; 
    top:67%;
    left: 46%; 
}

#pick3 {
    width: 440px;
    height: 350px;
    display: inline-block;
    top: 67%;
    left: 61%;
}

.click_in {
    animation: in 0.8s ease-in-out forwards;
}

#main_section {
    width: 300%;
    height: 1000px;
}

article {
    width: 100%;
    height: 1000px;
    background-image: url("../images/pic/網頁背景.png");
    position: absolute;
}

#story_1 {
    left: -100%;
}

#story_2 {
    left: 0%;
}

#story_3 {
    left: 100%;
}

article>div {
    position: absolute;
}

#chain {
    width: 78px;
    height: 1000px;
    background-image: url("../images/pic/page2/鍊子首端.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom 0px right 0px;
    margin-left: 100px;
}


#dogPic_bg,
#dogPic2_bg,
#dogPic3_bg{
    width: 1140px;
    height: 620px;  
    background-image: url("../images/pic/page1/故事框.png");
    background-size: 93%;
    background-repeat: no-repeat;
    background-position:center;
    position: absolute;
    top: 18.5%;
    left: 5.5%;
}

#dogPic,
#dogPic2,
#dogPic3 {
    width: 800px;
    height: 450px;
    position: absolute;
    border-radius: 15px;
    top:12%;
    left:20%;
    background-size: 100%;
}

.dog_pic1 {background-image: url("../images/pic/story/6.jpg");}
.dog_pic2 {background-image: url("../images/pic/story/握手1.jpg");}
.dog_pic3 {background-image: url("../images/pic/story/被欺負.jpg");}
.dog_pic4 {background-image: url("../images/pic/story/電線杆.jpg");}
.dog_pic5 {background-image: url("../images/pic/story/6.jpg");}
.dog_pic6 {background-image: url("../images/pic/story/握手1.jpg");}
.dog_pic7 {background-image: url("../images/pic/story/被欺負.jpg");}
.dog_pic8 {background-image: url("../images/pic/story/6.jpg");}
.dog_pic9 {background-image: url("../images/pic/story/被欺負.jpg");}
.dog_pic10 {background-image: url("../images/pic/story/電線杆.jpg");}

#story_Fir, 
#story_Sec, 
#story_Thr {
    width: 600px;
    height: 700px;
    overflow: hidden;
    background-image: url("../images/pic/故事框右.png");
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    top: 15%;
    left:67%;
    >p {
        font-size: 23px;
        text-align: center;
        padding-top: 30%;
        animation: word_show 0.5s ease-in forwards;
    }
}

@keyframes word_show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.hide {
    display: none;
}

#story_Fir>div,
#story_Sec>div,
#story_Thr>div {
    width: 72%;
    height: 10%;
    overflow: hidden;
    background-image: url("../images/pic/換頁鍵/故事換頁面底框.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 15%;
    top: 78%;
    >a {
        width: 50px;
        height: 50px;
        display: block;
        border-radius: 50%;
        background-size: cover;
        margin: 0 10px 0 10px;
        &:hover {
            width: 65px;
            height: 65px;
        }
        &.active{
            width: 65px;
            height: 65px;
        }
        &.btn1{background-image: url("../images/pic/換頁鍵/1.png");}
        &.btn2{background-image: url("../images/pic/換頁鍵/2.png");}
        &.btn3{background-image: url("../images/pic/換頁鍵/3.png");}
        &.btn4{background-image: url("../images/pic/換頁鍵/4.png");}
        &.btn5{background-image: url("../images/pic/換頁鍵/1.png");}
        &.btn6{background-image: url("../images/pic/換頁鍵/2.png");}
        &.btn7{background-image: url("../images/pic/換頁鍵/3.png");}
        &.btn8{background-image: url("../images/pic/換頁鍵/1.png");}
        &.btn9{background-image: url("../images/pic/換頁鍵/2.png");}
        &.btn10{background-image: url("../images/pic/換頁鍵/3.png");}
    }
}


#arrowDown1,
#arrowDown2,
#arrowDown3 {
    width: 103px;
    height: 59px;
    position: absolute;
    left: 49%;
    top: 90%;
    background-image: url("../images/pic/Path.png");
    background-repeat: no-repeat;
    animation: arrowMove 3s linear infinite;
    opacity: 0.5;
}

@keyframes arrowMove {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(120px);
    }
}


#abandon1,
#abandon2,
#abandon3 {
    width: 100%;
    height:0px;
    overflow: hidden;
    background-image: url("../images/pic/網頁背景.png");
    background-size: cover;
    background-position: center;
}

#chain2{
    width: 78px;
    height: 942px;
    display: inline-block;
    background-image: url("../images/pic/page2/鍊子2.png");
    background-repeat: no-repeat;
    background-size: 86%;
    background-position: bottom 10px right 7px;
    margin-left: 100px;
}

#info1,
#info2,
#info3{
    width: 1325px;
    height: 1000px;
    background-image: url("../images/pic/page2/知識點框.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    display: inline-block;
    margin-left: 8%;
    >h1 {
        display: inline-block;
        color: rgb(138, 136, 136);
        font-size: 60px;
        padding: 10% 7%;
        >span {}
    }
    >p {
        text-align: center;
        font-size: 30px;
        line-height: 45px;
    }
}

#story_end{
    width: 100%;
    height: 1080px;
    background-image: url("../images/pic/相框.png");
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    &.click1{height: 0px;}
    &.click2{height: 0px;}
    &.click3{height: 0px;}
}

footer {
    width: 100%;
    height: 100px;
    background-color: #14213D;
}

#left_bar {
    width: 86px;
    height: 86px;
    overflow: hidden;
    background-image: url("../images/pic/選單內底框.png");
    background-size: cover;
    background-position: 100%;
    border-radius: 50px;
    position: fixed;
    top: 4%;
    left: 94%;
    &:hover {
        animation: push 0.5s ease forwards;
    }
    >a {
        width: 80px;
        height: 80px;
        display: block;
        background-image: url("../images/pic/選單內灰園框.png");
        background-size: cover;
        background-position: 100%;
        border-radius: 50%;
        font-size: 20px;
        font-weight: bolder;
        color: #fff;
        margin: 3px auto 0 auto;
        text-align: center;
        line-height: 80px;
        &:hover {
            color: #ff754b;
        }
        &.left_1{
            background-image: url("../images/pic/選單.png");
            background-size: cover;
            background-position: 50% 50%;
        }
    }
}

@keyframes push {
    0% {}
    100% {
        height: 418px;
    }
}