* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

img {
    display: block;
}

header {
    width: 100%;
    height: auto;
    overflow: hidden;
    background-image: url("../images/pic_old/dog_pic/dog_1.JPG");
    background-size: cover;   
}

#logo {
    width: 208px;
    height: 204px;
    position: absolute;
    border-radius: 45%;
    background-image: url("../images/pic/logo.png");
    background-size: 208px 204px;
    margin: 27px 0 0 40px;
    z-index: 3;
}
#top{
    width: 100%;
    height: 900px;   
    >h1{
        font-weight: bold;
        font-size: 70px;
        text-align: center;
        padding-top: 35%;
        color: #fff;
    }
}

#section_1{
    width: 100%;
    height: 700px;
    overflow: hidden;
    >div{
        width: 880px;
        height: 470px;
        background-color: #FFE81D;
        margin-top: 100px;
        >div{
            width: 470px;
            height: 100%;
            border-radius: 50%;
            background-color: #FFE81D;
            margin-left: 73%;
        }
    }
}

#section_2{
    width: 100%;
    height: 700px;
    overflow: hidden;
    >div{
        width: 880px;
        height: 470px;
        background-color: #FFE81D;
        margin-top: 100px;
        margin-left: 1040px;
        >div{
            width: 470px;
            height: 100%;
            border-radius: 50%;
            background-color: #FFE81D;
            margin-left: -26%;
        }
    }
}


footer {
    width: 100%;
    height: auto;
    overflow: hidden;
    background-color: #14213D;
}

#arrow3 {
    width: 103px;
    height: 59px;
    overflow: hidden;
    background-image: url("../images/pic/Path.png");
    margin: 200px auto 0 auto;
}

#left_bar {
    width: 86px;
    height: 86px;
    overflow: hidden;
    background-color: #fff;
    border-radius: 50px;
    position: fixed;
    top: 5%;
    left: 94%;
    z-index: 999;
    &:hover {
        animation: push 0.5s ease forwards;
    }
    >a {
        width: 80px;
        height: 80px;
        background-color: aqua;
        display: block;
        border-radius: 50%;
        font-size: 20px;
        margin: 3px auto 0 auto;
        text-align: center;
        line-height: 80px;
        &:hover {
            color: #FF521C;
        }
        &.left_1{
            background-image: url("../images/pic/選單.png");
            background-size: cover;
        }
    }
}

@keyframes push {
    0% {}
    100% {
        height: 418px;
    }
}