@charset "UTF-8";
@font-face {
  font-family: FakePearl-Regular;
  src: url(https://cdn.jsdelivr.net/gh/max32002/FakePearl@1.1/webfont/FakePearl-Regular.woff2) format("woff2"), url(https://cdn.jsdelivr.net/gh/max32002/FakePearl@1.1/webfont/FakePearl-Regular.woff) format("woff");
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: FakePearl-Regular;
}

html,
body {
  width: 100%;
  height: 100%;
}

img {
  display: block;
}

header {
  width: 100%;
  height: 56.25vw;
  overflow: hidden;
  background-image: url("../images/pic/收容所.jpg");
  background-size: cover;
  position: relative;
}

header > a {
  position: absolute;
}

#logo {
  width: 10vw;
  height: 10vw;
  background-image: url("../images/pic/logo.png");
  background-size: 10vw 10vw;
  background-position: center;
  margin: 2vw 0 0 3vw;
}

#pick1 {
  width: 16.66vw;
  height: 18.23vw;
  display: inline-block;
  top: 67%;
  left: 23%;
}

#pick1:hover > img {
  display: block;
}

#pick1 > img {
  width: 15%;
  margin: -36% 0 0 8%;
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
  cursor: default;
  display: none;
}

#pick2 {
  width: 12.5vw;
  height: 16.66vw;
  display: inline-block;
  top: 67%;
  left: 46%;
}

#pick2:hover > img {
  display: block;
}

#pick2 > img {
  width: 9%;
  margin: -44% 0 0 78%;
  -webkit-transform: rotate(12deg);
          transform: rotate(12deg);
  cursor: default;
  display: none;
}

#pick3 {
  width: 22.9vw;
  height: 18.23vw;
  display: inline-block;
  top: 67%;
  left: 61%;
}

#pick3:hover > img {
  display: block;
}

#pick3 > img {
  width: 8%;
  margin: -36% 0 0 42%;
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
  cursor: default;
  display: none;
}

.click_in {
  -webkit-animation: in 0.8s ease-in-out forwards;
          animation: in 0.8s ease-in-out forwards;
}

#main_section {
  width: 100%;
  height: 49.06vw;
}

article {
  width: 100%;
  height: 49.06vw;
  background-image: url("../images/pic/網頁背景修改.jpg");
  background-size: cover;
  background-position: 50% 0%;
  position: absolute;
}

#story_1 {
  left: -100%;
}

#story_2 {
  left: 0%;
}

#story_3 {
  left: 100%;
}

article > div {
  position: absolute;
}

#chain {
  width: 4vw;
  height: 49.06vw;
  background-image: url("../images/pic/page2/鍊子首端.png");
  background-size: 103%;
  background-repeat: no-repeat;
  background-position: bottom 0vw right 0vw;
  margin-left: 5.21vw;
}

#dogPic_bg,
#dogPic2_bg,
#dogPic3_bg {
  width: 59.375vw;
  height: 32.3vw;
  background-image: url("../images/pic/page1/故事框.png");
  background-size: 93%;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 22%;
  left: 5.5%;
}

#dogPic,
#dogPic2,
#dogPic3 {
  width: 41.66vw;
  height: 23.44vw;
  position: absolute;
  border-radius: 0.78vw;
  top: 14%;
  left: 20%;
  background-size: 100%;
}

.dog_pic1 {
  background-image: url("../images/pic/story/分支1/1.jpg");
}

.dog_pic2 {
  background-image: url("../images/pic/story/分支1/2.jpg");
}

.dog_pic3 {
  background-image: url("../images/pic/story/分支1/3.jpg");
}

.dog_pic4 {
  background-image: url("../images/pic/story/分支1/4.jpg");
}

.dog_pic5 {
  background-image: url("../images/pic/story/分支1/5.jpg");
}

.dog_pic6 {
  background-image: url("../images/pic/story/分支1/6.jpg");
}

.dog_pic7 {
  background-image: url("../images/pic/story/分支2/1.jpg");
}

.dog_pic8 {
  background-image: url("../images/pic/story/分支2/2.jpg");
}

.dog_pic9 {
  background-image: url("../images/pic/story/分支2/3.jpg");
}

.dog_pic10 {
  background-image: url("../images/pic/story/分支2/4.jpg");
}

.dog_pic11 {
  background-image: url("../images/pic/story/分支2/5.jpg");
}

.dog_pic12 {
  background-image: url("../images/pic/story/分支3/1.jpg");
}

.dog_pic13 {
  background-image: url("../images/pic/story/分支3/2.jpg");
}

.dog_pic14 {
  background-image: url("../images/pic/story/分支3/3.jpg");
}

.dog_pic15 {
  background-image: url("../images/pic/story/分支3/4.jpg");
}

.dog_pic16 {
  background-image: url("../images/pic/story/分支3/5.jpg");
}

#story_Fir,
#story_Sec,
#story_Thr {
  width: 31.25vw;
  height: 36.46vw;
  overflow: hidden;
  background-image: url("../images/pic/故事框右.png");
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
  top: 15%;
  left: 67%;
}

#story_Fir > p,
#story_Sec > p,
#story_Thr > p {
  font-size: 1.25vw;
  color: #f1f1f1;
  line-height: 2.5vw;
  font-weight: bold;
  text-align: center;
  -webkit-animation: word_show 0.5s ease-in forwards;
          animation: word_show 0.5s ease-in forwards;
}

#storyline_3,
#storyline_11 {
  padding-top: 33%;
}

#storyline_1,
#storyline_10,
#storyline_12 {
  padding-top: 37%;
}

#storyline_2,
#storyline_7,
#storyline_14,
#storyline_15,
#storyline_16 {
  padding-top: 40%;
}

#storyline_4,
#storyline_5,
#storyline_6,
#storyline_8,
#storyline_9,
#storyline_13 {
  padding-top: 45%;
}

@-webkit-keyframes word_show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes word_show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.hide {
  display: none;
}

#story_Fir > div,
#story_Sec > div,
#story_Thr > div {
  width: 92%;
  height: 10%;
  overflow: hidden;
  background-image: url("../images/pic/換頁鍵/故事換頁面底框.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 89%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 4%;
  top: 78%;
}

#story_Fir > div > a,
#story_Sec > div > a,
#story_Thr > div > a {
  width: 2.6vw;
  height: 2.6vw;
  display: block;
  border-radius: 50%;
  background-size: cover;
  margin: 0 0.52vw 0 0.52vw;
}

#story_Fir > div > a:hover,
#story_Sec > div > a:hover,
#story_Thr > div > a:hover {
  width: 3.38vw;
  height: 3.38vw;
}

#story_Fir > div > a.active,
#story_Sec > div > a.active,
#story_Thr > div > a.active {
  width: 3.38vw;
  height: 3.38vw;
}

#story_Fir > div > a.btn1,
#story_Sec > div > a.btn1,
#story_Thr > div > a.btn1 {
  background-image: url("../images/pic/換頁鍵/1.png");
}

#story_Fir > div > a.btn2,
#story_Sec > div > a.btn2,
#story_Thr > div > a.btn2 {
  background-image: url("../images/pic/換頁鍵/2.png");
}

#story_Fir > div > a.btn3,
#story_Sec > div > a.btn3,
#story_Thr > div > a.btn3 {
  background-image: url("../images/pic/換頁鍵/3.png");
}

#story_Fir > div > a.btn4,
#story_Sec > div > a.btn4,
#story_Thr > div > a.btn4 {
  background-image: url("../images/pic/換頁鍵/4.png");
}

#story_Fir > div > a.btn5,
#story_Sec > div > a.btn5,
#story_Thr > div > a.btn5 {
  background-image: url("../images/pic/換頁鍵/5.png");
}

#story_Fir > div > a.btn6,
#story_Sec > div > a.btn6,
#story_Thr > div > a.btn6 {
  background-image: url("../images/pic/換頁鍵/6.png");
}

#story_Fir > div > a.btn7,
#story_Sec > div > a.btn7,
#story_Thr > div > a.btn7 {
  background-image: url("../images/pic/換頁鍵/1.png");
}

#story_Fir > div > a.btn8,
#story_Sec > div > a.btn8,
#story_Thr > div > a.btn8 {
  background-image: url("../images/pic/換頁鍵/2.png");
}

#story_Fir > div > a.btn9,
#story_Sec > div > a.btn9,
#story_Thr > div > a.btn9 {
  background-image: url("../images/pic/換頁鍵/3.png");
}

#story_Fir > div > a.btn10,
#story_Sec > div > a.btn10,
#story_Thr > div > a.btn10 {
  background-image: url("../images/pic/換頁鍵/4.png");
}

#story_Fir > div > a.btn11,
#story_Sec > div > a.btn11,
#story_Thr > div > a.btn11 {
  background-image: url("../images/pic/換頁鍵/5.png");
}

#story_Fir > div > a.btn12,
#story_Sec > div > a.btn12,
#story_Thr > div > a.btn12 {
  background-image: url("../images/pic/換頁鍵/1.png");
}

#story_Fir > div > a.btn13,
#story_Sec > div > a.btn13,
#story_Thr > div > a.btn13 {
  background-image: url("../images/pic/換頁鍵/2.png");
}

#story_Fir > div > a.btn14,
#story_Sec > div > a.btn14,
#story_Thr > div > a.btn14 {
  background-image: url("../images/pic/換頁鍵/3.png");
}

#story_Fir > div > a.btn15,
#story_Sec > div > a.btn15,
#story_Thr > div > a.btn15 {
  background-image: url("../images/pic/換頁鍵/4.png");
}

#story_Fir > div > a.btn16,
#story_Sec > div > a.btn16,
#story_Thr > div > a.btn16 {
  background-image: url("../images/pic/換頁鍵/5.png");
}

#arrowDown1,
#arrowDown2,
#arrowDown3 {
  width: 5.36vw;
  height: 3.07vw;
  position: absolute;
  left: 49%;
  top: 90%;
  background-image: url("../images/pic/Path.png");
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-animation: arrowMove 3s linear infinite;
          animation: arrowMove 3s linear infinite;
  opacity: 0.5;
}

@-webkit-keyframes arrowMove {
  0% {
    -webkit-transform: translateY(0vw);
            transform: translateY(0vw);
  }
  100% {
    -webkit-transform: translateY(6.25vw);
            transform: translateY(6.25vw);
  }
}

@keyframes arrowMove {
  0% {
    -webkit-transform: translateY(0vw);
            transform: translateY(0vw);
  }
  100% {
    -webkit-transform: translateY(6.25vw);
            transform: translateY(6.25vw);
  }
}

#abandon1,
#abandon2,
#abandon3 {
  width: 100%;
  height: 0vw;
  overflow: hidden;
  background-image: url("../images/pic/網頁背景修改.jpg");
  background-size: cover;
  background-position: 50% 24%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#abandon1 > img,
#abandon2 > img,
#abandon3 > img {
  height: 5.2vw;
  width: 5.2vw;
  border-radius: 50%;
}

#chain2 {
  width: 4vw;
  height: 49.02vw;
  display: inline-block;
  background-image: url("../images/pic/page2/鍊子2.png");
  background-repeat: no-repeat;
  background-size: 88%;
  background-position: bottom 0.8vw right 0.36vw;
  margin-left: 5.2vw;
}

#info1,
#info2,
#info3 {
  width: 85.94vw;
  height: 57.3vw;
  background-image: url("../images/pic/page2/知識點框.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  margin-left: 2%;
  position: relative;
}

#info1 > div,
#info2 > div,
#info3 > div {
  width: 14.06vw;
  height: 14.06vw;
  position: absolute;
  top: 10%;
  left: 1.5%;
  background-repeat: no-repeat;
}

#info1 > div.white,
#info2 > div.white,
#info3 > div.white {
  background-image: url("../images/pic/page2/小白.png");
  background-size: 110%;
  background-position: 75% 100%;
}

#info1 > div.black,
#info2 > div.black,
#info3 > div.black {
  background-image: url("../images/pic/page2/小黑.png");
  background-size: 250%;
  background-position: 59% 120%;
}

#info1 > div.yellow,
#info2 > div.yellow,
#info3 > div.yellow {
  background-image: url("../images/pic/page2/小黃.png");
  background-size: 100%;
  background-position: 50% 50%;
}

#info1 > div.p2,
#info1 div.p1,
#info1 div.p3,
#info2 > div.p2,
#info2 div.p1,
#info2 div.p3,
#info3 > div.p2,
#info3 div.p1,
#info3 div.p3 {
  width: 83%;
  height: 46%;
  background-image: url("../images/pic/page2/領養結紮兩區.png");
  background-size: 100%;
  position: absolute;
  top: 39%;
  left: 12%;
}

#info1 > div.p2.p3,
#info1 div.p1.p3,
#info1 div.p3.p3,
#info2 > div.p2.p3,
#info2 div.p1.p3,
#info2 div.p3.p3,
#info3 > div.p2.p3,
#info3 div.p1.p3,
#info3 div.p3.p3 {
  background-image: url("../images/pic/page2/棄養.png");
  background-size: 86%;
  background-position: 50% 50%;
}

#info1 > div.p2 > p,
#info1 div.p1 > p,
#info1 div.p3 > p,
#info2 > div.p2 > p,
#info2 div.p1 > p,
#info2 div.p3 > p,
#info3 > div.p2 > p,
#info3 div.p1 > p,
#info3 div.p3 > p {
  display: block;
  float: left;
  width: 46%;
  height: 90%;
  font-size: 1.25vw;
  font-weight: bold;
  line-height: 2.34vw;
  margin-top: 1%;
  overflow: scroll;
  overflow-x: hidden;
}

#info1 > div.p2 > p.p3,
#info1 div.p1 > p.p3,
#info1 div.p3 > p.p3,
#info2 > div.p2 > p.p3,
#info2 div.p1 > p.p3,
#info2 div.p3 > p.p3,
#info3 > div.p2 > p.p3,
#info3 div.p1 > p.p3,
#info3 div.p3 > p.p3 {
  text-align: center;
  padding: 0 2%;
  width: 80%;
  margin-left: 10.5%;
  margin-top: 2%;
}

#info1 > div.p2 > p.p1L,
#info1 div.p1 > p.p1L,
#info1 div.p3 > p.p1L,
#info2 > div.p2 > p.p1L,
#info2 div.p1 > p.p1L,
#info2 div.p3 > p.p1L,
#info3 > div.p2 > p.p1L,
#info3 div.p1 > p.p1L,
#info3 div.p3 > p.p1L {
  padding: 0 1% 0 2%;
}

#info1 > div.p2 > p.p1R,
#info1 div.p1 > p.p1R,
#info1 div.p3 > p.p1R,
#info2 > div.p2 > p.p1R,
#info2 div.p1 > p.p1R,
#info2 div.p3 > p.p1R,
#info3 > div.p2 > p.p1R,
#info3 div.p1 > p.p1R,
#info3 div.p3 > p.p1R {
  margin-left: 6.5%;
  padding: 0 1% 0 2%;
}

#info1 > div.p2 > p.p2L,
#info1 div.p1 > p.p2L,
#info1 div.p3 > p.p2L,
#info2 > div.p2 > p.p2L,
#info2 div.p1 > p.p2L,
#info2 div.p3 > p.p2L,
#info3 > div.p2 > p.p2L,
#info3 div.p1 > p.p2L,
#info3 div.p3 > p.p2L {
  padding: 0 1% 0 2%;
}

#info1 > div.p2 > p.p2R,
#info1 div.p1 > p.p2R,
#info1 div.p3 > p.p2R,
#info2 > div.p2 > p.p2R,
#info2 div.p1 > p.p2R,
#info2 div.p3 > p.p2R,
#info3 > div.p2 > p.p2R,
#info3 div.p1 > p.p2R,
#info3 div.p3 > p.p2R {
  margin-left: 6.5%;
  padding: 0 1% 0 2%;
}

#info1 > div.p2 > p > span,
#info1 div.p1 > p > span,
#info1 div.p3 > p > span,
#info2 > div.p2 > p > span,
#info2 div.p1 > p > span,
#info2 div.p3 > p > span,
#info3 > div.p2 > p > span,
#info3 div.p1 > p > span,
#info3 div.p3 > p > span {
  color: #ff754b;
}

#info1 > h1,
#info2 > h1,
#info3 > h1 {
  width: 100%;
  height: 6.2vw;
  display: block;
  margin: 18% 0 0% 4%;
  background-image: url("../images/pic/page2/小知識標題.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  text-align: center;
  color: #8a8888;
  line-height: 6.2vw;
  font-size: 2.71vw;
  font-weight: bolder;
}

#story_end {
  width: 100%;
  height: 61.46vw;
  overflow: hidden;
  background-image: url("../images/pic/網頁背景修改.jpg");
  background-position: 50% 49.6%;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

#story_end.click1 {
  height: 0px;
}

#story_end.click2 {
  height: 0px;
}

#story_end.click3 {
  height: 0px;
}

#story_end > h1 {
  font-size: 3.2vw;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  top: 25%;
  color: #f1cc97;
  text-shadow: -0.05vw 0.1vw #383838;
  width: 0;
}

#story_end > h1.h1_type {
  width: 14em;
  border-right: 0.2rem solid transparent;
  -webkit-animation: typing 3s steps(14), caret 1s steps(1) 3;
          animation: typing 3s steps(14), caret 1s steps(1) 3;
}

#story_end > h1.h2_type {
  width: 11em;
  border-right: 0.2rem solid transparent;
  color: transparent;
  text-shadow: none;
  -webkit-animation: typing 2s steps(11) 3.5s, caret 1s steps(1) 3.5s 2, time_delay 1s 3.5s forwards;
          animation: typing 2s steps(11) 3.5s, caret 1s steps(1) 3.5s 2, time_delay 1s 3.5s forwards;
}

#story_end > div {
  width: 100%;
  height: 100%;
  background-image: url("../images/pic/page2/相框.png");
  background-size: 100%;
  background-position: 50% 100%;
  background-repeat: no-repeat;
  position: relative;
}

#story_end > div > a {
  width: 56.3%;
  height: 48%;
  background-image: url("../images/pic/page2/三隻狗2.jpg");
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 1%;
  bottom: -30.5%;
  margin: auto;
}

#story_end > div > a:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

#p1 {
  top: 18%;
  left: 7%;
}

#p2 {
  top: 18%;
  left: 58%;
}

@-webkit-keyframes typing {
  from {
    width: 0;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
}

@-webkit-keyframes caret {
  50% {
    border-color: #4d4d4d;
  }
}

@keyframes caret {
  50% {
    border-color: #4d4d4d;
  }
}

@-webkit-keyframes time_delay {
  from {
    color: #f1cc97;
    text-shadow: -0.05vw 0.1vw #383838;
  }
  to {
    color: #f1cc97;
    text-shadow: -0.05vw 0.1vw #383838;
  }
}

@keyframes time_delay {
  from {
    color: #f1cc97;
    text-shadow: -0.05vw 0.1vw #383838;
  }
  to {
    color: #f1cc97;
    text-shadow: -0.05vw 0.1vw #383838;
  }
}

.about_hide {
  display: none;
}

#aboutUs {
  width: 70.64vw;
  height: 39.52vw;
  background-image: url("../images/pic/page4/關於我們.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  position: fixed;
  top: 10%;
  left: 13%;
  z-index: 3;
}

#aboutUs > a {
  width: 2.86vw;
  height: 2.6vw;
  display: block;
  position: absolute;
}

#aboutUs > a.about_hide {
  display: none;
}

#aboutUs > a.esc_btn {
  top: 3.1%;
  left: 4.3%;
}

#aboutUs > a.esc_btn:hover {
  border: 0.1vw solid #636363;
}

#aboutUs > a.switch_btn1 {
  width: 2.7vw;
  height: 2.7vw;
  top: 3.1%;
  left: 10%;
  border-radius: 50%;
  background-color: #27b9fd;
  font-weight: bolder;
  text-align: center;
  font-size: 1vw;
  color: #252525;
}

#aboutUs > a.switch_btn2 {
  width: 2.7vw;
  height: 2.7vw;
  top: 3.1%;
  left: 10%;
  border-radius: 50%;
  background-color: #fff;
  text-align: center;
  font-size: 1vw;
  color: #252525;
  font-weight: bolder;
}

#aboutUs > div {
  width: 90%;
  height: 78%;
  position: absolute;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 25% 25% 25%;
      grid-template-columns: 25% 25% 25% 25%;
  -ms-grid-rows: 50% 50%;
      grid-template-rows: 50% 50%;
  top: 15%;
  left: 7%;
}

#aboutUs > div > div {
  width: 13.54vw;
  height: 13.54vw;
  border-radius: 50%;
  background-size: cover;
}

#aboutUs > div > div.txt_left {
  width: 100%;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
}

#aboutUs > div > div.txt_right {
  width: 100%;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3/5;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
}

#aboutUs > div > div > p {
  padding: 5%;
}

#aboutUs > div > h1 {
  font-size: 1.56vw;
  font-weight: bolder;
  text-align: center;
  color: #152850;
  line-height: 3.125vw;
  padding-top: 30%;
  text-shadow: -0.1vw 0.1vw #BDAEAE;
}

#aboutUs > div > h1 .about_hide {
  display: none;
}

#member1 {
  background-image: url("../images/pic/aboutUs/鍾.JPG");
  background-position: 36% 50%;
  margin: auto;
}

#member2 {
  background-image: url("../images/pic/aboutUs/林.jpeg");
  background-position: 57% 50%;
  margin: auto 0 auto 15%;
}

#member3 {
  background-image: url("../images/pic/aboutUs/蔡.JPG");
  background-position: 43% 50%;
  margin: auto;
}

#member4 {
  background-image: url("../images/pic/aboutUs/趙.JPG");
  background-position: 69% 50%;
  margin: auto 0 auto 15%;
}

footer {
  width: 100%;
  height: auto;
  background-color: #14213D;
}

footer > p {
  text-align: center;
  color: #fff;
  line-height: 2.08vw;
  font-size: 1vw;
}

#left_bar {
  width: 4.48vw;
  height: 4.48vw;
  overflow: hidden;
  background-image: url("../images/pic/選單內底框.png");
  background-size: 100% 120%;
  background-position: 100% 50%;
  border-radius: 50px;
  position: fixed;
  top: 4%;
  left: 94%;
}

#left_bar:hover {
  -webkit-animation: push 0.5s ease forwards;
          animation: push 0.5s ease forwards;
}

#left_bar > a {
  width: 4.16vw;
  height: 4.16vw;
  background-image: url("../images/pic/選單內灰園框.png");
  background-size: cover;
  background-position: 100%;
  display: block;
  border-radius: 50%;
  font-size: 1.04vw;
  font-weight: bolder;
  white-space: nowrap;
  color: #fff;
  margin: 0.15vw auto 0 auto;
  text-align: center;
  line-height: 4.16vw;
}

#left_bar > a:hover {
  color: #ff754b;
}

#left_bar > a.left_1 {
  background-image: url("../images/pic/選單.png");
  background-size: cover;
  background-position: 50% 50%;
}

#down_bar {
  width: 4.17vw;
  height: 4.17vw;
  position: fixed;
  top: 85%;
  left: 94%;
  border-radius: 50%;
  background-image: url("../images/pic/往上箭頭.png");
  background-size: cover;
}

@-webkit-keyframes push {
  0% {
  }
  100% {
    height: 26.09vw;
  }
}

@keyframes push {
  0% {
  }
  100% {
    height: 26.09vw;
  }
}
