@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

img {
  display: block;
}

header {
  width: 100%;
  height: 900px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header > h1 {
  position: absolute;
  left: 75%;
  top: 65%;
  font-weight: bold;
  font-size: 60px;
  text-align: center;
  line-height: 100px;
  color: black;
}

#logo {
  width: 208px;
  height: 204px;
  position: absolute;
  background-image: url("../images/pic/logo.png");
  background-size: 208px 204px;
  margin: 27px 0 0 40px;
  z-index: 3;
}

#top_video {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#top_video > video {
  width: 100%;
  height: auto;
}

#top_video > div {
  width: 100%;
  height: 900px;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(255, 177, 153, 0.8);
  mix-blend-mode: screen;
}

#triangle {
  width: 0;
  height: 0;
  position: absolute;
  top: 11%;
  left: 58%;
  border-style: solid;
  border-width: 0 0 800px 800px;
  border-color: transparent transparent #fff transparent;
}

#interview {
  width: 100%;
  height: 1080px;
  overflow: hidden;
  background-image: url("../images/pic/網頁背景.png");
  position: relative;
}

#v1 {
  width: 1000px;
  height: auto;
  position: absolute;
  top: 28%;
  left: 15%;
  z-index: 2;
}

#v2 {
  width: 900px;
  height: auto;
  position: absolute;
  top: 16%;
  left: 4%;
  z-index: 1;
}

.switch1 {
  -webkit-animation: up_back 0.8s forwards ease-in-out;
          animation: up_back 0.8s forwards ease-in-out;
}

.switch2 {
  -webkit-animation: up_front 0.8s forwards ease-in-out;
          animation: up_front 0.8s forwards ease-in-out;
}

.switch3 {
  -webkit-animation: down_front 0.8s forwards ease-in-out;
          animation: down_front 0.8s forwards ease-in-out;
}

.switch4 {
  -webkit-animation: down_back 0.8s forwards ease-in-out;
          animation: down_back 0.8s forwards ease-in-out;
}

@-webkit-keyframes up_back {
  0% {
    width: 1000px;
    top: 28%;
    left: 15%;
    z-index: 2;
  }
  50% {
    top: 4%;
    z-index: 1;
  }
  100% {
    width: 900px;
    top: 16%;
    left: 4%;
    z-index: 1;
  }
}

@keyframes up_back {
  0% {
    width: 1000px;
    top: 28%;
    left: 15%;
    z-index: 2;
  }
  50% {
    top: 4%;
    z-index: 1;
  }
  100% {
    width: 900px;
    top: 16%;
    left: 4%;
    z-index: 1;
  }
}

@-webkit-keyframes up_front {
  0% {
    width: 900px;
    top: 16%;
    left: 4%;
    z-index: 1;
  }
  50% {
    top: 4%;
    z-index: 2;
  }
  100% {
    width: 1000px;
    top: 28%;
    left: 15%;
    z-index: 2;
  }
}

@keyframes up_front {
  0% {
    width: 900px;
    top: 16%;
    left: 4%;
    z-index: 1;
  }
  50% {
    top: 4%;
    z-index: 2;
  }
  100% {
    width: 1000px;
    top: 28%;
    left: 15%;
    z-index: 2;
  }
}

@-webkit-keyframes down_front {
  0% {
    width: 900px;
    top: 16%;
    left: 4%;
    z-index: 1;
  }
  50% {
    top: 40%;
    z-index: 2;
  }
  100% {
    width: 1000px;
    top: 28%;
    left: 15%;
    z-index: 2;
  }
}

@keyframes down_front {
  0% {
    width: 900px;
    top: 16%;
    left: 4%;
    z-index: 1;
  }
  50% {
    top: 40%;
    z-index: 2;
  }
  100% {
    width: 1000px;
    top: 28%;
    left: 15%;
    z-index: 2;
  }
}

@-webkit-keyframes down_back {
  0% {
    width: 1000px;
    top: 28%;
    left: 15%;
    z-index: 2;
  }
  50% {
    top: 40%;
    z-index: 1;
  }
  100% {
    width: 900px;
    top: 16%;
    left: 4%;
    z-index: 1;
  }
}

@keyframes down_back {
  0% {
    width: 1000px;
    top: 28%;
    left: 15%;
    z-index: 2;
  }
  50% {
    top: 40%;
    z-index: 1;
  }
  100% {
    width: 900px;
    top: 16%;
    left: 4%;
    z-index: 1;
  }
}

#up_btn {
  width: 200px;
  height: 80px;
  display: inline-block;
  position: absolute;
  top: 10%;
  left: 70%;
  background-image: url("../images/pic/Polygon 1.png");
  background-size: 200px 80px;
}

#down_btn {
  width: 200px;
  height: 80px;
  display: inline-block;
  position: absolute;
  top: 20%;
  left: 70%;
  background-image: url("../images/pic/Polygon 2.png");
  background-size: 200px 80px;
}

main {
  width: 100%;
  height: auto;
  overflow: hidden;
  background-image: url("../images/pic/網頁背景.png");
  background-size: cover;
}

#wall {
  width: 90%;
  height: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: calc(100%/3) calc(100%/3) calc(100%/3);
      grid-template-columns: calc(100%/3) calc(100%/3) calc(100%/3);
  -ms-grid-rows: calc(100%/3) calc(100%/3) calc(100%/3);
      grid-template-rows: calc(100%/3) calc(100%/3) calc(100%/3);
  margin: 0 auto;
}

#wall > div {
  width: 418px;
  height: 418px;
  overflow: hidden;
  border-radius: 10px;
  margin: 75px auto;
}

#wall > div:hover {
  -webkit-animation: touch 0.3s forwards;
          animation: touch 0.3s forwards;
}

#wall > div:hover > a {
  -webkit-animation: flyIn 0.6s forwards ease-out;
          animation: flyIn 0.6s forwards ease-out;
}

#wall > div > a {
  width: 30%;
  height: 15%;
  display: block;
  background-image: url("../images/pic/page3/九宮格 放大鍵.png");
  background-size: cover;
  margin-top: -20%;
}

@-webkit-keyframes flyIn {
  0% {
    margin-top: -20%;
  }
  100% {
    margin-top: 25%;
  }
}

@keyframes flyIn {
  0% {
    margin-top: -20%;
  }
  100% {
    margin-top: 25%;
  }
}

#wall-1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  background-image: url("../images/pic/page3/九宮格子1.png");
  background-size: cover;
  background-repeat: no-repeat;
}

#wall-2 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  background-image: url("../images/pic/page3/九宮格子1.png");
  background-size: cover;
  background-position: 50% 12%;
  background-repeat: no-repeat;
}

#wall-3 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  background-image: url("../images/pic/page3/九宮格子1.png");
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
}

#wall-4 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  background-image: url("../images/pic/page3/九宮格子2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 84%;
}

#wall-5 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  background-image: url("../images/pic/page3/九宮格子2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 42%;
}

#wall-6 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  background-image: url("../images/pic/page3/九宮格子2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 40%;
}

#wall-7 {
  background-image: url("../images/pic/page3/九宮格子3.png");
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

#wall-8 {
  background-image: url("../images/pic/page3/九宮格子3.png");
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

#wall-9 {
  background-image: url("../images/pic/page3/九宮格子3.png");
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

@-webkit-keyframes touch {
  0% {
  }
  100% {
    -webkit-transform: scale(1.1, 1.1);
            transform: scale(1.1, 1.1);
  }
}

@keyframes touch {
  0% {
  }
  100% {
    -webkit-transform: scale(1.1, 1.1);
            transform: scale(1.1, 1.1);
  }
}

footer {
  width: 100%;
  height: auto;
  overflow: hidden;
  background-color: #14213D;
}

#arrow3 {
  width: 103px;
  height: 59px;
  overflow: hidden;
  background-image: url("../images/pic/Path.png");
  margin: 300px auto 0 auto;
}

#left_bar {
  width: 86px;
  height: 86px;
  overflow: hidden;
  background-image: url("../images/pic/選單內底框.png");
  background-size: cover;
  background-position: 100%;
  border-radius: 50px;
  position: fixed;
  top: 5%;
  left: 94%;
}

#left_bar:hover {
  -webkit-animation: push 0.5s ease forwards;
          animation: push 0.5s ease forwards;
}

#left_bar > a {
  width: 80px;
  height: 80px;
  display: block;
  background-image: url("../images/pic/選單內灰園框.png");
  background-size: cover;
  background-position: 100%;
  border-radius: 50%;
  font-size: 20px;
  margin: 3px auto 0 auto;
  text-align: center;
  line-height: 80px;
}

#left_bar > a:hover {
  color: #FF521C;
}

#left_bar > a.left_1 {
  background-image: url("../images/pic/選單.png");
  background-size: cover;
}

@-webkit-keyframes push {
  0% {
  }
  100% {
    height: 418px;
  }
}

@keyframes push {
  0% {
  }
  100% {
    height: 418px;
  }
}
