@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

img {
  display: block;
}

header {
  width: 100%;
  height: 1080px;
  overflow: hidden;
  background-image: url("../images/pic/收容所.jpg");
  background-size: cover;
  position: relative;
}

header > a {
  position: absolute;
}

#logo {
  width: 208px;
  height: 204px;
  background-image: url("../images/pic/logo.png");
  background-size: 208px 204px;
  margin: 27px 0 0 40px;
}

#pick1 {
  width: 300px;
  height: 330px;
  display: inline-block;
  top: 69%;
  left: 24%;
}

#pick2 {
  width: 240px;
  height: 320px;
  display: inline-block;
  top: 67%;
  left: 46%;
}

#pick3 {
  width: 440px;
  height: 350px;
  display: inline-block;
  top: 67%;
  left: 61%;
}

.click_in {
  -webkit-animation: in 0.8s ease-in-out forwards;
          animation: in 0.8s ease-in-out forwards;
}

#main_section {
  width: 300%;
  height: 1000px;
}

article {
  width: 100%;
  height: 1000px;
  background-image: url("../images/pic/網頁背景修改.jpg");
  background-size: cover;
  background-position: 50% 0%;
  position: absolute;
}

#story_1 {
  left: -100%;
}

#story_2 {
  left: 0%;
}

#story_3 {
  left: 100%;
}

article > div {
  position: absolute;
}

#chain {
  width: 78px;
  height: 1000px;
  background-image: url("../images/pic/page2/鍊子首端.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom 0px right 0px;
  margin-left: 100px;
}

#dogPic_bg,
#dogPic2_bg,
#dogPic3_bg {
  width: 1140px;
  height: 620px;
  background-image: url("../images/pic/page1/故事框.png");
  background-size: 93%;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 18.5%;
  left: 5.5%;
}

#dogPic,
#dogPic2,
#dogPic3 {
  width: 800px;
  height: 450px;
  position: absolute;
  border-radius: 15px;
  top: 14%;
  left: 20%;
  background-size: 100%;
}

.dog_pic1 {
  background-image: url("../images/pic/story/分支1/1.jpg");
}

.dog_pic2 {
  background-image: url("../images/pic/story/分支1/2.jpg");
}

.dog_pic3 {
  background-image: url("../images/pic/story/分支1/3.jpg");
}

.dog_pic4 {
  background-image: url("../images/pic/story/分支1/4.jpg");
}

.dog_pic5 {
  background-image: url("../images/pic/story/分支1/5.jpg");
}

.dog_pic6 {
  background-image: url("../images/pic/story/分支1/6.jpg");
}

.dog_pic7 {
  background-image: url("../images/pic/story/分支2/1.jpg");
}

.dog_pic8 {
  background-image: url("../images/pic/story/分支2/2.jpg");
}

.dog_pic9 {
  background-image: url("../images/pic/story/分支2/3.jpg");
}

.dog_pic10 {
  background-image: url("../images/pic/story/分支2/4.jpg");
}

.dog_pic11 {
  background-image: url("../images/pic/story/分支2/5.jpg");
}

.dog_pic12 {
  background-image: url("../images/pic/story/分支3/1.jpg");
}

.dog_pic13 {
  background-image: url("../images/pic/story/分支3/2.jpg");
}

.dog_pic14 {
  background-image: url("../images/pic/story/分支3/3.jpg");
}

.dog_pic15 {
  background-image: url("../images/pic/story/分支3/4.jpg");
}

.dog_pic16 {
  background-image: url("../images/pic/story/分支3/5.jpg");
}

#story_Fir,
#story_Sec,
#story_Thr {
  width: 600px;
  height: 700px;
  overflow: hidden;
  background-image: url("../images/pic/故事框右.png");
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
  top: 15%;
  left: 67%;
}

#story_Fir > p,
#story_Sec > p,
#story_Thr > p {
  font-size: 24px;
  color: #f1f1f1;
  font-weight: bold;
  line-height: 48px;
  text-align: center;
  -webkit-animation: word_show 0.5s ease-in forwards;
          animation: word_show 0.5s ease-in forwards;
}

#storyline_3,
#storyline_11 {
  padding-top: 33%;
}

#storyline_1,
#storyline_10,
#storyline_12 {
  padding-top: 37%;
}

#storyline_2,
#storyline_7,
#storyline_14,
#storyline_15,
#storyline_16 {
  padding-top: 40%;
}

#storyline_4,
#storyline_5,
#storyline_6,
#storyline_8,
#storyline_9,
#storyline_13 {
  padding-top: 45%;
}

@-webkit-keyframes word_show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes word_show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.hide {
  display: none;
}

#story_Fir > div,
#story_Sec > div,
#story_Thr > div {
  width: 92%;
  height: 10%;
  overflow: hidden;
  background-image: url("../images/pic/換頁鍵/故事換頁面底框.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 89%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 4%;
  top: 78%;
}

#story_Fir > div > a,
#story_Sec > div > a,
#story_Thr > div > a {
  width: 50px;
  height: 50px;
  display: block;
  border-radius: 50%;
  background-size: cover;
  margin: 0 10px 0 10px;
}

#story_Fir > div > a:hover,
#story_Sec > div > a:hover,
#story_Thr > div > a:hover {
  width: 65px;
  height: 65px;
}

#story_Fir > div > a.active,
#story_Sec > div > a.active,
#story_Thr > div > a.active {
  width: 65px;
  height: 65px;
}

#story_Fir > div > a.btn1,
#story_Sec > div > a.btn1,
#story_Thr > div > a.btn1 {
  background-image: url("../images/pic/換頁鍵/1.png");
}

#story_Fir > div > a.btn2,
#story_Sec > div > a.btn2,
#story_Thr > div > a.btn2 {
  background-image: url("../images/pic/換頁鍵/2.png");
}

#story_Fir > div > a.btn3,
#story_Sec > div > a.btn3,
#story_Thr > div > a.btn3 {
  background-image: url("../images/pic/換頁鍵/3.png");
}

#story_Fir > div > a.btn4,
#story_Sec > div > a.btn4,
#story_Thr > div > a.btn4 {
  background-image: url("../images/pic/換頁鍵/4.png");
}

#story_Fir > div > a.btn5,
#story_Sec > div > a.btn5,
#story_Thr > div > a.btn5 {
  background-image: url("../images/pic/換頁鍵/5.png");
}

#story_Fir > div > a.btn6,
#story_Sec > div > a.btn6,
#story_Thr > div > a.btn6 {
  background-image: url("../images/pic/換頁鍵/6.png");
}

#story_Fir > div > a.btn7,
#story_Sec > div > a.btn7,
#story_Thr > div > a.btn7 {
  background-image: url("../images/pic/換頁鍵/1.png");
}

#story_Fir > div > a.btn8,
#story_Sec > div > a.btn8,
#story_Thr > div > a.btn8 {
  background-image: url("../images/pic/換頁鍵/2.png");
}

#story_Fir > div > a.btn9,
#story_Sec > div > a.btn9,
#story_Thr > div > a.btn9 {
  background-image: url("../images/pic/換頁鍵/3.png");
}

#story_Fir > div > a.btn10,
#story_Sec > div > a.btn10,
#story_Thr > div > a.btn10 {
  background-image: url("../images/pic/換頁鍵/4.png");
}

#story_Fir > div > a.btn11,
#story_Sec > div > a.btn11,
#story_Thr > div > a.btn11 {
  background-image: url("../images/pic/換頁鍵/5.png");
}

#story_Fir > div > a.btn12,
#story_Sec > div > a.btn12,
#story_Thr > div > a.btn12 {
  background-image: url("../images/pic/換頁鍵/1.png");
}

#story_Fir > div > a.btn13,
#story_Sec > div > a.btn13,
#story_Thr > div > a.btn13 {
  background-image: url("../images/pic/換頁鍵/2.png");
}

#story_Fir > div > a.btn14,
#story_Sec > div > a.btn14,
#story_Thr > div > a.btn14 {
  background-image: url("../images/pic/換頁鍵/3.png");
}

#story_Fir > div > a.btn15,
#story_Sec > div > a.btn15,
#story_Thr > div > a.btn15 {
  background-image: url("../images/pic/換頁鍵/4.png");
}

#story_Fir > div > a.btn16,
#story_Sec > div > a.btn16,
#story_Thr > div > a.btn16 {
  background-image: url("../images/pic/換頁鍵/5.png");
}

#arrowDown1,
#arrowDown2,
#arrowDown3 {
  width: 103px;
  height: 59px;
  position: absolute;
  left: 49%;
  top: 90%;
  background-image: url("../images/pic/Path.png");
  background-repeat: no-repeat;
  -webkit-animation: arrowMove 3s linear infinite;
          animation: arrowMove 3s linear infinite;
  opacity: 0.5;
}

@-webkit-keyframes arrowMove {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(120px);
            transform: translateY(120px);
  }
}

@keyframes arrowMove {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(120px);
            transform: translateY(120px);
  }
}

#abandon1,
#abandon2,
#abandon3 {
  width: 100%;
  height: 0px;
  overflow: hidden;
  background-image: url("../images/pic/網頁背景修改.jpg");
  background-size: cover;
  background-position: 50% 24%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#chain2 {
  width: 78px;
  height: 942px;
  display: inline-block;
  background-image: url("../images/pic/page2/鍊子2.png");
  background-repeat: no-repeat;
  background-size: 86%;
  background-position: bottom 10px right 7px;
  margin-left: 100px;
}

#info1,
#info2,
#info3 {
  width: 1500px;
  height: 1080px;
  background-image: url("../images/pic/page2/知識點框.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  margin-left: 8%;
  position: relative;
}

#info1 > div,
#info2 > div,
#info3 > div {
  width: 180px;
  height: 180px;
  position: absolute;
  top: 9%;
  left: -3%;
  background-repeat: no-repeat;
}

#info1 > div.white,
#info2 > div.white,
#info3 > div.white {
  background-image: url("../images/pic/page2/小白.png");
  background-size: 100%;
  background-position: center;
}

#info1 > div.black,
#info2 > div.black,
#info3 > div.black {
  background-image: url("../images/pic/page2/小黑.png");
  background-size: 240%;
  background-position: 60% 50%;
}

#info1 > div.yellow,
#info2 > div.yellow,
#info3 > div.yellow {
  background-image: url("../images/pic/page2/小黃.png");
  background-size: 100%;
  background-position: center;
}

#info1 > h1,
#info2 > h1,
#info3 > h1 {
  text-align: center;
  color: #8a8888;
  font-size: 60px;
  font-weight: bolder;
  padding: 15% 0 0 0;
}

#info1 > h1 span,
#info2 > h1 span,
#info3 > h1 span {
  font-size: 30px;
}

#info1 > p,
#info2 > p,
#info3 > p {
  text-align: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 45px;
  float: left;
  padding: 1% 0 0 5%;
}

#info1 > p.p3,
#info2 > p.p3,
#info3 > p.p3 {
  text-align: center;
  padding: 5% 0 0 10%;
}

#story_end {
  width: 100%;
  height: 980px;
  background-image: url("../images/pic/網頁背景修改.jpg");
  background-position: 50% 49.6%;
  background-size: cover;
  background-repeat: no-repeat;
}

#story_end.click1 {
  height: 0px;
}

#story_end.click2 {
  height: 0px;
}

#story_end.click3 {
  height: 0px;
}

#story_end > div {
  width: 100%;
  height: 100%;
  background-image: url("../images/pic/page2/相框.png");
  background-size: 100%;
  background-position: 50% 100%;
  background-repeat: no-repeat;
  position: relative;
}

#story_end > div > div {
  width: 56.3%;
  height: 58%;
  background-image: url("../images/pic/page2/三隻狗2.jpg");
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 18.5%;
  margin: auto;
}

footer {
  width: 100%;
  height: 100px;
  background-color: #14213D;
}

#left_bar {
  width: 86px;
  height: 86px;
  overflow: hidden;
  background-image: url("../images/pic/選單內底框.png");
  background-size: cover;
  background-position: 100%;
  border-radius: 50px;
  position: fixed;
  top: 4%;
  left: 94%;
}

#left_bar:hover {
  -webkit-animation: push 0.5s ease forwards;
          animation: push 0.5s ease forwards;
}

#left_bar > a {
  width: 80px;
  height: 80px;
  display: block;
  background-image: url("../images/pic/選單內灰園框.png");
  background-size: cover;
  background-position: 100%;
  border-radius: 50%;
  font-size: 20px;
  font-weight: bolder;
  color: #fff;
  margin: 3px auto 0 auto;
  text-align: center;
  line-height: 80px;
}

#left_bar > a:hover {
  color: #ff754b;
}

#left_bar > a.left_1 {
  background-image: url("../images/pic/選單.png");
  background-size: cover;
  background-position: 50% 50%;
}

@-webkit-keyframes push {
  0% {
  }
  100% {
    height: 501px;
  }
}

@keyframes push {
  0% {
  }
  100% {
    height: 501px;
  }
}
