* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

img {
  display: block;
}

header {
  width: 100%;
  height: auto;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#logo {
  width: 208px;
  height: 204px;
  position: absolute;
  border-radius: 45%;
  background-image: url("../images/pic/logo.png");
  background-size: cover;
  margin: 27px 0 0 40px;
  z-index: 3;
}

#top_video {
  width: 100%;
  height: 900px;
  background-image: url("../images/pic_old/dog_pic/dog_1.JPG");
  background-size: cover;
}

#top_video > div {
  width: 100%;
  height: 100%;
  background-color: #ff511c9d;
}

#top_video > div > h1 {
  font-weight: bold;
  font-size: 700px;
  text-align: center;
  line-height: 100vh;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  padding-top: 35%;
}

#street {
  width: 100%;
  height: 1000px;
  background-color: #F1EFED;
}

#street > div {
  width: 1344px;
  height: 756px;
  overflow: hidden;
  background-image: url("../images/pic/1.jpg");
  background-size: cover;
  margin: 0 auto;
  top: 12%;
  position: relative;
  border-radius: 13%;
}

#infopic_1 {
  position: absolute;
  width: 240px;
  height: 360px;
  background-image: url("../images/pic/street1.png");
  background-position: -15% 125%;
  background-size: 210%;
  background-repeat: no-repeat;
  top: 45%;
  left: 20%;
  z-index: 1;
}

#infopic_2 {
  position: absolute;
  width: 240px;
  height: 360px;
  background-image: url("../images/pic/street2.png");
  background-position: 34% 125%;
  background-repeat: no-repeat;
  background-size: 250%;
  top: 45%;
  left: 40%;
  z-index: 1;
}

#infopic_3 {
  position: absolute;
  width: 240px;
  height: 360px;
  background-image: url("../images/pic/street3.png");
  background-position: 96% 133%;
  background-size: 240%;
  background-repeat: no-repeat;
  top: 45%;
  left: 60%;
  z-index: 1;
}

#info_1 {
  width: 50px;
  height: 50px;
  overflow: hidden;
  background-color: #fff;
  border-radius: 50%;
  line-height: 30px;
  display: inline-block;
  position: absolute;
  color: #fff;
  padding: 0 15px;
  top: 58%;
  left: 28%;
  z-index: 0;
}

#info_2 {
  width: 50px;
  height: 50px;
  overflow: hidden;
  background-color: #fff;
  border-radius: 50%;
  line-height: 30px;
  display: inline-block;
  position: absolute;
  color: #fff;
  padding: 0 15px;
  top: 58%;
  left: 48%;
  z-index: 0;
}

#info_3 {
  width: 50px;
  height: 50px;
  overflow: hidden;
  background-color: #fff;
  border-radius: 50%;
  line-height: 30px;
  display: inline-block;
  position: absolute;
  color: #fff;
  padding: 0 15px;
  top: 58%;
  left: 67%;
  z-index: 0;
}

#info_1 > h1,
#info_2 > h1,
#info_3 > h1 {
  padding: 10px 0;
}

#infopic_1:hover ~ #info_1,
#infopic_2:hover ~ #info_2,
#infopic_3:hover ~ #info_3 {
  -webkit-animation: show 0.6s forwards;
          animation: show 0.6s forwards;
}

@-webkit-keyframes show {
  0% {
    opacity: 0;
  }
  99% {
    color: #fff;
  }
  100% {
    opacity: 1;
    width: 400px;
    height: 300px;
    border-radius: 15px;
    -webkit-box-shadow: -6px 6px rgba(255, 132, 132, 0.7);
            box-shadow: -6px 6px rgba(255, 132, 132, 0.7);
    -webkit-transform: translateX(-200px) translateY(-400px);
            transform: translateX(-200px) translateY(-400px);
    color: black;
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }
  99% {
    color: #fff;
  }
  100% {
    opacity: 1;
    width: 400px;
    height: 300px;
    border-radius: 15px;
    -webkit-box-shadow: -6px 6px rgba(255, 132, 132, 0.7);
            box-shadow: -6px 6px rgba(255, 132, 132, 0.7);
    -webkit-transform: translateX(-200px) translateY(-400px);
            transform: translateX(-200px) translateY(-400px);
    color: black;
  }
}

aside {
  width: 100%;
  height: auto;
  overflow: hidden;
  background-image: url("../images/pic_old/dog_pic/dog_3.JPG");
  background-size: cover;
}

aside > div {
  width: 100%;
  height: auto;
  overflow: hidden;
  padding-top: 257px;
  padding-bottom: 197px;
  padding-left: 75px;
}

aside > div > div {
  width: 20px;
  height: 76px;
  background-color: #FFBA08;
  float: left;
}

aside > div > h2 {
  font-size: 50px;
  color: #fff;
  padding-left: 50px;
}

#icon1 {
  width: 111px;
  height: 111px;
  overflow: hidden;
  background-image: url("../images/pic/circle.png");
  background-repeat: no-repeat;
  padding: 0;
  margin: 0 auto 122px auto;
}

#aside2 {
  width: 100%;
  height: auto;
  overflow: hidden;
  background-color: #F1EFED;
  text-align: center;
}

#aside2 > p {
  font-size: 50px;
  color: #BDAEAE;
  padding: 300px 0 300px 0;
  opacity: 0;
}

.in {
  -webkit-animation: right 1.5s;
          animation: right 1.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.out {
  -webkit-animation: left 1.5s;
          animation: left 1.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes right {
  0% {
    -webkit-transform: translateX(-150px);
            transform: translateX(-150px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes right {
  0% {
    -webkit-transform: translateX(-150px);
            transform: translateX(-150px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
}

@-webkit-keyframes left {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-150px);
            transform: translateX(-150px);
    opacity: 0;
  }
}

@keyframes left {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-150px);
            transform: translateX(-150px);
    opacity: 0;
  }
}

article {
  width: 100%;
  height: 1500px;
  overflow: hidden;
  background-color: #14213D;
  position: relative;
}

article > div {
  position: absolute;
}

#arrow1 {
  width: 103px;
  height: 59px;
  overflow: hidden;
  background-image: url("../images/pic/Path.png");
  margin: 0 auto;
  position: initial;
  margin: 110px auto;
}

#dogPic {
  width: 1280px;
  height: 720px;
  overflow: hidden;
  background-size: cover;
  margin: 100px 0 0 100px;
  z-index: 1;
  border-radius: 12%;
}

.dog_pic1 {
  background-image: url("../images/pic/2.jpg");
}

.dog_pic2 {
  background-image: url("../images/pic/3.jpg");
}

.dog_pic3 {
  background-image: url("../images/pic/5.jpg");
}

.dog_pic4 {
  background-image: url("../images/pic/6.jpg");
}

.dog_pic5 {
  background-image: url("../images/pic/7.jpg");
}

.dog_pic6 {
  background-image: url("../images/pic/8.jpg");
}

.dog_pic7,
.dog_pic8 {
  background-image: url("../images/pic/9.jpg");
}

#story {
  position: relative;
  width: 700px;
  height: 450px;
  overflow: hidden;
  background-color: #fff;
  z-index: 2;
  margin: 330px 0 0 1000px;
  border-radius: 12%;
}

#story > p {
  font-size: 23px;
  text-align: center;
  padding-top: 30%;
  -webkit-animation: word_show 0.5s ease-in forwards;
          animation: word_show 0.5s ease-in forwards;
}

@-webkit-keyframes word_show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes word_show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.hide {
  display: none;
}

#story > div {
  position: absolute;
  width: 215px;
  height: 120px;
  overflow: hidden;
  background-color: black;
  left: 41%;
  top: 83%;
  border-radius: 40%;
}

#story > div > a {
  font-size: 27px;
  color: #fff;
  line-height: 102px;
  margin: 0 10px 0 10px;
}

#story > div > a:hover {
  color: #ff6e6e;
}

#story > div > a.active {
  color: #ff6e6e;
}

#story > div > a.btn1 {
  margin-left: 61px;
}

#arrow2 {
  width: 103px;
  height: 59px;
  overflow: hidden;
  background-image: url("../images/pic/Path.png");
  margin: 0 auto;
  margin: 15% 0 0 47%;
}

#aside3 {
  width: 100%;
  height: auto;
  overflow: hidden;
  background-color: #F1EFED;
}

#aside3 > p {
  font-size: 50px;
  color: #BDAEAE;
  padding: 250px 0;
  text-align: center;
}

#aside4 {
  width: 100%;
  height: auto;
  overflow: hidden;
  background-color: #14213D;
}

#aside4 > div {
  width: 103px;
  height: 59px;
  overflow: hidden;
  background-image: url("../images/pic/Path.png");
  margin: 170px auto;
}

#article2 {
  height: 1050px;
}

#dogPic2 {
  width: 1280px;
  height: 720px;
  overflow: hidden;
  background-size: cover;
  margin: 100px 0 0 100px;
  z-index: 1;
  border-radius: 12%;
}

#story2 {
  position: relative;
  width: 700px;
  height: 450px;
  overflow: hidden;
  background-color: #fff;
  z-index: 2;
  margin: 280px 0 0 1000px;
  border-radius: 12%;
}

#story2 > p {
  font-size: 23px;
  text-align: center;
  padding-top: 20%;
  -webkit-animation: word_show 0.5s ease-in forwards;
          animation: word_show 0.5s ease-in forwards;
  line-height: 60px;
}

#story2 > div {
  position: absolute;
  width: 215px;
  height: 120px;
  overflow: hidden;
  background-color: black;
  left: 36%;
  top: 83%;
  border-radius: 40%;
}

#story2 > div > a {
  font-size: 27px;
  color: #fff;
  line-height: 102px;
  margin: 0 10px 0 10px;
}

#story2 > div > a:hover {
  color: #ff6e6e;
}

#story2 > div > a.btn1 {
  margin-left: 61px;
}

#story2 > div > a.active {
  color: #ff6e6e;
}

.btn4 {
  padding-left: 15px;
}

#page2_btn {
  width: 112px;
  height: 112px;
  display: block;
  background-image: url("../images/pic_old/up_button.png");
  border-radius: 50%;
  float: right;
  margin: 150px 70px 0 0;
}

#black {
  width: 100%;
  height: 100%;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  text-align: center;
}

#black > p {
  color: #fff;
  font-size: 28px;
  line-height: 150px;
  opacity: 0;
}

.line_1 {
  padding-top: 20px;
  -webkit-animation: word_show 1.2s forwards 0.5s;
          animation: word_show 1.2s forwards 0.5s;
}

.line_2 {
  -webkit-animation: word_show 1.2s forwards 2.4s;
          animation: word_show 1.2s forwards 2.4s;
}

.line_3 {
  -webkit-animation: word_show 1.2s forwards 4.6s;
          animation: word_show 1.2s forwards 4.6s;
}

#black > a {
  display: inline-block;
  color: #fff;
  font-size: 28px;
  margin-top: 180px;
  opacity: 0;
  -webkit-animation: word_show 1.2s forwards 6.4s;
          animation: word_show 1.2s forwards 6.4s;
}

#black > #back_btn {
  width: 112px;
  height: 112px;
  background-image: url("../images/pic_old/blue_arrow.png");
  margin: 1% 0 0 90%;
  border-radius: 50%;
}

footer {
  width: 100%;
  height: auto;
  overflow: hidden;
  background-color: #14213D;
}

#arrow3 {
  width: 103px;
  height: 59px;
  overflow: hidden;
  background-image: url("../images/pic/Path.png");
  margin: 200px auto 0 auto;
}

#left_bar {
  width: 86px;
  height: 86px;
  overflow: hidden;
  background-color: #fff;
  border-radius: 50px;
  position: fixed;
  top: 5%;
  left: 94%;
  z-index: 999;
}

#left_bar:hover {
  -webkit-animation: push 0.5s ease forwards;
          animation: push 0.5s ease forwards;
}

#left_bar > a {
  width: 80px;
  height: 80px;
  background-color: aqua;
  display: block;
  border-radius: 50%;
  font-size: 20px;
  margin: 3px auto 0 auto;
  text-align: center;
  line-height: 80px;
}

#left_bar > a:hover {
  color: #FF521C;
}

@-webkit-keyframes push {
  0% {
  }
  100% {
    height: 418px;
  }
}

@keyframes push {
  0% {
  }
  100% {
    height: 418px;
  }
}

#down_bar {
  width: 651px;
  height: 155px;
  overflow: hidden;
  background-image: url("../images/pic/Group 74.png");
  float: right;
  margin: 52px 622px 0 0;
}

#down_bar > a {
  font-size: 22px;
  color: #fff;
  line-height: 210px;
  margin: 0 52px;
}

#down_bar > a.down_1 {
  margin-left: 101px;
}
