@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

img {
  display: block;
}

header {
  width: 100%;
  height: 900px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#logo {
  width: 208px;
  height: 204px;
  position: absolute;
  border-radius: 45%;
  background-image: url("../images/pic/logo.png");
  background-size: 208px 204px;
  margin: 27px 0 0 40px;
  z-index: 3;
}

#top_video {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#top_video > video {
  width: 100%;
  height: auto;
}

#top_video > div {
  width: 100%;
  height: 900px;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(255, 177, 153, 0.8);
  mix-blend-mode: screen;
}

#top_video > h1 {
  width: 100%;
  position: absolute;
  left: 0;
  top: 80%;
  font-weight: bold;
  font-size: 90px;
  text-align: center;
  line-height: 100px;
  color: black;
}

#street {
  width: 100%;
  height: auto;
  overflow: hidden;
  background-image: url("../images/pic/網頁背景.png");
}

#street > img {
  margin: 0 auto;
  padding-top: 5%;
}

#street > div {
  width: 100%;
  height: 1080px;
  overflow: hidden;
  background-image: url("../images/pic/街頭.jpg");
  background-size: cover;
  margin: 5% auto 5% auto;
  position: relative;
}

#infopic_1 {
  position: absolute;
  width: 240px;
  height: 360px;
  top: 45%;
  left: 20%;
  z-index: 1;
}

#infopic_2 {
  position: absolute;
  width: 240px;
  height: 360px;
  top: 45%;
  left: 40%;
  z-index: 1;
}

#infopic_3 {
  position: absolute;
  width: 240px;
  height: 360px;
  top: 45%;
  left: 60%;
  z-index: 1;
}

#info_1 {
  width: 60px;
  height: 50px;
  overflow: hidden;
  background-image: url("../images/pic/狗背景視窗.png");
  background-size: cover;
  background-position: 50% 50%;
  line-height: 30px;
  display: inline-block;
  position: absolute;
  color: #fff;
  padding: 0 15px;
  top: 58%;
  left: 28%;
  z-index: 0;
}

#info_2 {
  width: 60px;
  height: 50px;
  overflow: hidden;
  background-image: url("../images/pic/狗背景視窗.png");
  background-size: cover;
  line-height: 30px;
  display: inline-block;
  position: absolute;
  color: #fff;
  padding: 0 15px;
  top: 58%;
  left: 48%;
  z-index: 0;
}

#info_3 {
  width: 60px;
  height: 50px;
  overflow: hidden;
  background-image: url("../images/pic/狗背景視窗.png");
  background-size: cover;
  line-height: 30px;
  display: inline-block;
  position: absolute;
  color: #fff;
  padding: 0 15px;
  top: 58%;
  left: 67%;
  z-index: 0;
}

#info_1 > h1,
#info_2 > h1,
#info_3 > h1 {
  padding: 10px 0;
}

#infopic_1:hover ~ #info_1,
#infopic_2:hover ~ #info_2,
#infopic_3:hover ~ #info_3 {
  -webkit-animation: show 0.6s forwards;
          animation: show 0.6s forwards;
}

@-webkit-keyframes show {
  0% {
    opacity: 0;
  }
  99% {
    color: #fff;
  }
  100% {
    opacity: 1;
    width: 400px;
    height: 300px;
    -webkit-transform: translateX(-200px) translateY(-400px);
            transform: translateX(-200px) translateY(-400px);
    color: black;
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }
  99% {
    color: #fff;
  }
  100% {
    opacity: 1;
    width: 400px;
    height: 300px;
    -webkit-transform: translateX(-200px) translateY(-400px);
            transform: translateX(-200px) translateY(-400px);
    color: black;
  }
}

aside {
  width: 100%;
  height: auto;
  overflow: hidden;
  background-image: url("../images/pic_old/dog_pic/dog_3.JPG");
  background-size: cover;
  opacity: 0.8;
}

aside > div {
  width: 100%;
  height: auto;
  overflow: hidden;
  padding-top: 257px;
  padding-bottom: 197px;
  padding-left: 75px;
}

aside > div > div {
  width: 20px;
  height: 76px;
  background-color: #FFBA08;
  float: left;
}

aside > div > h2 {
  font-size: 50px;
  color: #fff;
  padding-left: 50px;
}

#icon1 {
  width: 111px;
  height: 111px;
  overflow: hidden;
  background-image: url("../images/pic/circle.png");
  background-repeat: no-repeat;
  padding: 0;
  margin: 0 auto 122px auto;
}

#aside2 {
  width: 100%;
  height: auto;
  overflow: hidden;
  background-image: url("../images/pic/網頁背景.png");
  text-align: center;
}

#aside2 > p {
  font-size: 50px;
  color: #BDAEAE;
  padding: 300px 0 300px 0;
  opacity: 0;
}

.in {
  -webkit-animation: right 2s;
          animation: right 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.out {
  -webkit-animation: left 2s;
          animation: left 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes right {
  0% {
    -webkit-transform: translateX(-150px);
            transform: translateX(-150px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes right {
  0% {
    -webkit-transform: translateX(-150px);
            transform: translateX(-150px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
}

@-webkit-keyframes left {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-150px);
            transform: translateX(-150px);
    opacity: 0;
  }
}

@keyframes left {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-150px);
            transform: translateX(-150px);
    opacity: 0;
  }
}

article {
  width: 100%;
  height: auto;
  overflow: hidden;
  background-image: url(../images/pic/網頁背景.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

#arrow1 {
  width: 200px;
  height: 200px;
  background-image: url("../images/pic/往下箭頭.png");
  background-size: 98%;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto  100px auto;
}

#dogPic_bg {
  width: 100%;
  height: 900px;
  background-image: url("../images/pic/故事框左.png");
  background-size: 93%;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

#dogPic {
  width: 800px;
  height: 450px;
  position: absolute;
  top: 40%;
  left: 9%;
  background-size: cover;
}

.dog_pic1 {
  background-image: url("../images/pic/story/2.jpg");
}

.dog_pic2 {
  background-image: url("../images/pic/story/3.jpg");
}

.dog_pic3 {
  background-image: url("../images/pic/story/5.jpg");
}

.dog_pic4 {
  background-image: url("../images/pic/story/6.jpg");
}

.dog_pic5 {
  background-image: url("../images/pic/story/7.jpg");
}

.dog_pic6 {
  background-image: url("../images/pic/story/8.jpg");
}

.dog_pic7,
.dog_pic8 {
  background-image: url("../images/pic/9.jpg");
}

#story {
  width: 640px;
  height: 700px;
  overflow: hidden;
  background-image: url("../images/pic/故事框右.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 31%;
  left: 64%;
}

#story > p {
  font-size: 23px;
  text-align: center;
  padding-top: 30%;
  -webkit-animation: word_show 0.5s ease-in forwards;
          animation: word_show 0.5s ease-in forwards;
}

@-webkit-keyframes word_show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes word_show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.hide {
  display: none;
}

#story > div {
  width: 72%;
  height: 10%;
  overflow: hidden;
  background-image: url("../images/pic/換頁鍵/故事換頁面底框.png");
  background-position: center;
  background-size: 100%;
  margin: 55% auto 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#story > div > a {
  width: 50px;
  height: 50px;
  display: block;
  border-radius: 50%;
  background-size: cover;
  margin: 0 10px 0 10px;
}

#story > div > a:hover {
  width: 65px;
  height: 65px;
}

#story > div > a.active {
  width: 65px;
  height: 65px;
}

#story > div > a.btn1 {
  background-image: url("../images/pic/換頁鍵/1.png");
}

#story > div > a.btn2 {
  background-image: url("../images/pic/換頁鍵/2.png");
}

#story > div > a.btn3 {
  background-image: url("../images/pic/換頁鍵/3.png");
}

#arrow2 {
  width: 200px;
  height: 200px;
  overflow: hidden;
  background-image: url("../images/pic/往下箭頭.png");
  background-repeat: no-repeat;
  background-size: 98%;
  background-position: center;
  margin: 100px auto;
}

#aside3 {
  width: 100%;
  height: auto;
  overflow: hidden;
  background-image: url("../images/pic/文案-背景灰.png");
  background-size: cover;
}

#aside3 > img {
  display: inline-block;
  margin-left: 15%;
}

#aside3 > p {
  display: inline-block;
  margin-left: 10%;
  padding-bottom: 250px;
  font-size: 50px;
  color: #BDAEAE;
  text-align: center;
  opacity: 0;
}

#article2 {
  width: 100%;
  height: auto;
  overflow: hidden;
  background-image: url(../images/pic/網頁背景.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

#dogPic2_bg {
  width: 100%;
  height: 900px;
  background-image: url("../images/pic/故事框左.png");
  background-size: 93%;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

#dogPic2 {
  width: 800px;
  height: 450px;
  position: absolute;
  top: 40%;
  left: 9%;
  background-size: cover;
}

#story2 {
  width: 640px;
  height: 700px;
  overflow: hidden;
  background-image: url("../images/pic/故事框右.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 16.5%;
  left: 64%;
}

#story2 > p {
  font-size: 23px;
  text-align: center;
  padding-top: 20%;
  -webkit-animation: word_show 0.5s ease-in forwards;
          animation: word_show 0.5s ease-in forwards;
  line-height: 60px;
}

#story2 > div {
  width: 72%;
  height: 10%;
  overflow: hidden;
  background-image: url("../images/pic/換頁鍵/故事換頁面底框.png");
  background-position: center;
  background-size: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 15%;
  top: 82%;
}

#story2 > div > a {
  width: 50px;
  height: 50px;
  display: block;
  border-radius: 50%;
  background-size: cover;
  margin: 0 10px 0 10px;
}

#story2 > div > a:hover {
  width: 65px;
  height: 65px;
}

#story2 > div > a.active {
  width: 65px;
  height: 65px;
}

#story2 > div > a.btn4 {
  background-image: url("../images/pic/換頁鍵/1.png");
}

#story2 > div > a.btn5 {
  background-image: url("../images/pic/換頁鍵/2.png");
}

#story2 > div > a.btn6 {
  background-image: url("../images/pic/換頁鍵/3.png");
}

#story2 > div > a.btn7 {
  background-image: url("../images/pic/換頁鍵/4.png");
}

#story2 > div > a.btn8 {
  background-image: url("../images/pic/換頁鍵/5.png");
}

#page2_btn {
  width: 112px;
  height: 112px;
  display: block;
  background-image: url("../images/pic/往下箭頭.png");
  background-size: cover;
  border-radius: 50%;
  margin: 3% 0 3% 79%;
}

#black {
  width: 100%;
  height: 100%;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  text-align: center;
}

#black > p {
  color: #fff;
  font-size: 28px;
  line-height: 150px;
  opacity: 0;
}

.line_1 {
  padding-top: 20px;
  -webkit-animation: word_show 1.2s forwards 0.5s;
          animation: word_show 1.2s forwards 0.5s;
}

.line_2 {
  -webkit-animation: word_show 1.2s forwards 2.4s;
          animation: word_show 1.2s forwards 2.4s;
}

.line_3 {
  -webkit-animation: word_show 1.2s forwards 4.6s;
          animation: word_show 1.2s forwards 4.6s;
}

#black > a {
  display: inline-block;
  color: #fff;
  font-size: 28px;
  margin-top: 180px;
  opacity: 0;
  -webkit-animation: word_show 1.2s forwards 6.4s;
          animation: word_show 1.2s forwards 6.4s;
}

#black > a:hover {
  color: #ffd13b;
}

#black > #back_btn {
  margin: 1% 0 0 90%;
}

footer {
  width: 100%;
  height: auto;
  overflow: hidden;
  background-color: #14213D;
}

#arrow3 {
  width: 103px;
  height: 59px;
  overflow: hidden;
  background-image: url("../images/pic/Path.png");
  margin: 200px auto 0 auto;
}

#left_bar {
  width: 86px;
  height: 86px;
  overflow: hidden;
  background-image: url("../images/pic/選單內底框.png");
  background-size: cover;
  background-position: 100%;
  border-radius: 50px;
  position: fixed;
  top: 5%;
  left: 94%;
  z-index: 998;
}

#left_bar:hover {
  -webkit-animation: push 0.5s ease forwards;
          animation: push 0.5s ease forwards;
}

#left_bar > a {
  width: 80px;
  height: 80px;
  background-image: url("../images/pic/選單內灰園框.png");
  background-size: cover;
  background-position: 100%;
  display: block;
  border-radius: 50%;
  font-size: 20px;
  margin: 3px auto 0 auto;
  text-align: center;
  line-height: 80px;
}

#left_bar > a:hover {
  color: #FF521C;
}

#left_bar > a.left_1 {
  background-image: url("../images/pic/選單.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

@-webkit-keyframes push {
  0% {
  }
  100% {
    height: 418px;
  }
}

@keyframes push {
  0% {
  }
  100% {
    height: 418px;
  }
}
