@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

img {
  display: block;
}

header {
  width: 100%;
  height: 850px;
  background-color: #ffa958;
}

header > h1 {
  font-size: 40px;
  font-weight: bolder;
  color: #fff;
  padding: 16% 0 0 1%;
  line-height: 70px;
}

header > h1 > span {
  font-size: 96px;
}

#top {
  width: 100%;
  height: 333px;
  position: relative;
  background-image: url("../images/pic/page4/照片鍊子上層.png");
}

#top > img {
  position: absolute;
}

#top > img.pic1 {
  top: 56%;
  left: 2%;
}

#top > img.pic2 {
  top: 64%;
  left: 36%;
}

#top > img.pic3 {
  top: 84%;
  left: 65%;
}

#section_bg {
  width: 100%;
  height: auto;
  overflow: hidden;
  background-image: url("../images/pic/網頁背景.png");
}

#section_1 {
  width: 100%;
  height: 500px;
  padding-top: 100px;
  position: relative;
}

#section_1 > div {
  width: 680px;
  height: 300px;
  background-image: url("../images/pic/page4/左選單1.png");
  background-repeat: no-repeat;
  background-position: 100%;
  background-size: cover;
  margin-left: -12%;
}

#section_1 > div.in {
  -webkit-animation: in_left 1s forwards ease-out;
          animation: in_left 1s forwards ease-out;
}

#section_1 > div.out {
  -webkit-animation: out_left 1s forwards ease-out;
          animation: out_left 1s forwards ease-out;
}

#section_1 > div > img {
  width: 350px;
  height: 350px;
  border-radius: 5%;
  margin: -3% auto 0 auto;
}

#section_1 > h1 {
  position: absolute;
  color: #242424;
  font-size: 80px;
  font-weight: bolder;
  top: 31%;
  left: 49%;
  opacity: 0;
}

#section_1 > h1.word_show {
  -webkit-animation: show 1s forwards ease-in-out;
          animation: show 1s forwards ease-in-out;
}

#section_1 > h1.word_hide {
  -webkit-animation: hide 1s forwards ease-in-out;
          animation: hide 1s forwards ease-in-out;
}

#section_1 > p {
  position: absolute;
  color: #242424;
  font-size: 40px;
  font-weight: bold;
  top: 49%;
  left: 59%;
  opacity: 0;
}

#section_1 > p.word_show {
  -webkit-animation: show 1s forwards ease-in-out;
          animation: show 1s forwards ease-in-out;
}

#section_1 > p.word_hide {
  -webkit-animation: hide 1s forwards ease-in-out;
          animation: hide 1s forwards ease-in-out;
}

@-webkit-keyframes in_left {
  0% {
  }
  100% {
    -webkit-transform: translateX(30%);
            transform: translateX(30%);
  }
}

@keyframes in_left {
  0% {
  }
  100% {
    -webkit-transform: translateX(30%);
            transform: translateX(30%);
  }
}

@-webkit-keyframes out_left {
  0% {
    -webkit-transform: translateX(30%);
            transform: translateX(30%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes out_left {
  0% {
    -webkit-transform: translateX(30%);
            transform: translateX(30%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@-webkit-keyframes in_right {
  0% {
  }
  100% {
    -webkit-transform: translateX(-30%);
            transform: translateX(-30%);
  }
}

@keyframes in_right {
  0% {
  }
  100% {
    -webkit-transform: translateX(-30%);
            transform: translateX(-30%);
  }
}

@-webkit-keyframes out_right {
  0% {
    -webkit-transform: translateX(-30%);
            transform: translateX(-30%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes out_right {
  0% {
    -webkit-transform: translateX(-30%);
            transform: translateX(-30%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@-webkit-keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#section_2 {
  width: 100%;
  height: 500px;
  padding-top: 100px;
  position: relative;
}

#section_2 > div {
  width: 680px;
  height: 300px;
  background-image: url("../images/pic/page4/右選單1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0%;
  margin-left: 77%;
}

#section_2 > div.in {
  -webkit-animation: in_right 1s forwards ease-out;
          animation: in_right 1s forwards ease-out;
}

#section_2 > div.out {
  -webkit-animation: out_right 1s forwards ease-out;
          animation: out_right 1s forwards ease-out;
}

#section_2 > div > img {
  width: 350px;
  height: 350px;
  border-radius: 5%;
  margin: -3% auto 0 auto;
}

#section_2 > h1 {
  position: absolute;
  color: #242424;
  font-size: 80px;
  font-weight: bolder;
  top: 31%;
  left: 18%;
  opacity: 0;
}

#section_2 > h1.word_show {
  -webkit-animation: show 1s forwards ease-in-out;
          animation: show 1s forwards ease-in-out;
}

#section_2 > h1.word_hide {
  -webkit-animation: hide 1s forwards ease-in-out;
          animation: hide 1s forwards ease-in-out;
}

#section_2 > p {
  position: absolute;
  color: #242424;
  font-size: 40px;
  font-weight: bold;
  top: 49%;
  left: 29%;
  opacity: 0;
}

#section_2 > p.word_show {
  -webkit-animation: show 1s forwards ease-in-out;
          animation: show 1s forwards ease-in-out;
}

#section_2 > p.word_hide {
  -webkit-animation: hide 1s forwards ease-in-out;
          animation: hide 1s forwards ease-in-out;
}

#section_3 {
  width: 100%;
  height: 500px;
  padding-top: 100px;
  position: relative;
}

#section_3 > div {
  width: 680px;
  height: 300px;
  background-image: url("../images/pic/page4/左選單1.png");
  background-repeat: no-repeat;
  background-position: 100%;
  background-size: cover;
  margin-left: -12%;
}

#section_3 > div.in {
  -webkit-animation: in_left 1s forwards ease-out;
          animation: in_left 1s forwards ease-out;
}

#section_3 > div.out {
  -webkit-animation: out_left 1s forwards ease-out;
          animation: out_left 1s forwards ease-out;
}

#section_3 > div > img {
  width: 350px;
  height: 350px;
  border-radius: 5%;
  margin: -3% auto 0 auto;
}

#section_3 > h1 {
  position: absolute;
  color: #242424;
  font-size: 80px;
  font-weight: bolder;
  top: 31%;
  left: 49%;
  opacity: 0;
}

#section_3 > h1.word_show {
  -webkit-animation: show 1s forwards ease-in-out;
          animation: show 1s forwards ease-in-out;
}

#section_3 > h1.word_hide {
  -webkit-animation: hide 1s forwards ease-in-out;
          animation: hide 1s forwards ease-in-out;
}

#section_3 > p {
  position: absolute;
  color: #242424;
  font-size: 40px;
  font-weight: bold;
  top: 49%;
  left: 59%;
  opacity: 0;
}

#section_3 > p.word_show {
  -webkit-animation: show 1s forwards ease-in-out;
          animation: show 1s forwards ease-in-out;
}

#section_3 > p.word_hide {
  -webkit-animation: hide 1s forwards ease-in-out;
          animation: hide 1s forwards ease-in-out;
}

#section_4 {
  width: 100%;
  height: 500px;
  padding-top: 100px;
  position: relative;
}

#section_4 > div {
  width: 680px;
  height: 300px;
  background-image: url("../images/pic/page4/右選單1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0%;
  margin-left: 77%;
}

#section_4 > div.in {
  -webkit-animation: in_right 1s forwards ease-out;
          animation: in_right 1s forwards ease-out;
}

#section_4 > div.out {
  -webkit-animation: out_right 1s forwards ease-out;
          animation: out_right 1s forwards ease-out;
}

#section_4 > div > img {
  width: 350px;
  height: 350px;
  border-radius: 5%;
  margin: -3% auto 0 auto;
}

#section_4 > h1 {
  position: absolute;
  color: #242424;
  font-size: 80px;
  font-weight: bolder;
  top: 31%;
  left: 18%;
  opacity: 0;
}

#section_4 > h1.word_show {
  -webkit-animation: show 1s forwards ease-in-out;
          animation: show 1s forwards ease-in-out;
}

#section_4 > h1.word_hide {
  -webkit-animation: hide 1s forwards ease-in-out;
          animation: hide 1s forwards ease-in-out;
}

#section_4 > p {
  position: absolute;
  color: #242424;
  font-size: 40px;
  font-weight: bold;
  top: 49%;
  left: 29%;
  opacity: 0;
}

#section_4 > p.word_show {
  -webkit-animation: show 1s forwards ease-in-out;
          animation: show 1s forwards ease-in-out;
}

#section_4 > p.word_hide {
  -webkit-animation: hide 1s forwards ease-in-out;
          animation: hide 1s forwards ease-in-out;
}

#section_5 {
  width: 100%;
  height: 500px;
  padding-top: 100px;
  position: relative;
}

#section_5 > div {
  width: 680px;
  height: 300px;
  background-image: url("../images/pic/page4/左選單1.png");
  background-repeat: no-repeat;
  background-position: 100%;
  background-size: cover;
  margin-left: -12%;
}

#section_5 > div.in {
  -webkit-animation: in_left 1s forwards ease-out;
          animation: in_left 1s forwards ease-out;
}

#section_5 > div.out {
  -webkit-animation: out_left 1s forwards ease-out;
          animation: out_left 1s forwards ease-out;
}

#section_5 > div > img {
  width: 350px;
  height: 350px;
  border-radius: 5%;
  margin: -3% auto 0 auto;
}

#section_5 > h1 {
  position: absolute;
  color: #242424;
  font-size: 80px;
  font-weight: bolder;
  top: 31%;
  left: 49%;
  opacity: 0;
}

#section_5 > h1.word_show {
  -webkit-animation: show 1s forwards ease-in-out;
          animation: show 1s forwards ease-in-out;
}

#section_5 > h1.word_hide {
  -webkit-animation: hide 1s forwards ease-in-out;
          animation: hide 1s forwards ease-in-out;
}

#section_5 > p {
  position: absolute;
  color: #242424;
  font-size: 40px;
  font-weight: bold;
  top: 49%;
  left: 59%;
  opacity: 0;
}

#section_5 > p.word_show {
  -webkit-animation: show 1s forwards ease-in-out;
          animation: show 1s forwards ease-in-out;
}

#section_5 > p.word_hide {
  -webkit-animation: hide 1s forwards ease-in-out;
          animation: hide 1s forwards ease-in-out;
}

#last {
  width: 100%;
  height: 1080px;
  background-image: url("../images/pic/網頁背景.png");
  position: relative;
}

#last > img {
  position: absolute;
  left: 0;
  top: 20%;
}

#info {
  width: 100%;
  height: 700px;
  background-image: url("../images/pic/網頁背景.png");
}

#info > div {
  width: 100%;
  height: 90%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: calc(100%/3) calc(100%/3) calc(100%/3);
      grid-template-columns: calc(100%/3) calc(100%/3) calc(100%/3);
  -ms-grid-rows: 100%;
      grid-template-rows: 100%;
}

#info > div > div {
  width: 434px;
  height: 520px;
  background-image: url("../images/pic/page4/收容所框架.png");
  margin: auto;
}

#info > div > div > a {
  display: inline-block;
  width: 157px;
  height: 53px;
  background-image: url("../images/pic/page4/收容所-按鈕.png");
  margin: 100% 0 0 32%;
}

#aboutUs {
  width: 100%;
  height: auto;
  overflow: hidden;
  background-image: url("../images/pic/網頁背景.png");
  background-repeat: no-repeat;
  background-size: cover;
}

#aboutUs > div {
  width: 85%;
  height: 900px;
  background-image: url("../images/pic/page4/關於我們.png");
  background-size: cover;
  margin: 3% auto;
}

footer {
  width: 100%;
  height: 100px;
  background-color: #14213D;
}

#left_bar {
  width: 86px;
  height: 86px;
  overflow: hidden;
  background-image: url("../images/pic/選單內底框.png");
  background-size: cover;
  background-position: 100%;
  border-radius: 50px;
  position: fixed;
  top: 4%;
  left: 94%;
  z-index: 999;
}

#left_bar:hover {
  -webkit-animation: push 0.5s ease forwards;
          animation: push 0.5s ease forwards;
}

#left_bar > a {
  width: 80px;
  height: 80px;
  background-image: url("../images/pic/選單內灰園框.png");
  background-size: cover;
  background-position: 100%;
  display: block;
  border-radius: 50%;
  font-size: 20px;
  font-weight: bolder;
  color: #fff;
  margin: 3px auto 0 auto;
  text-align: center;
  line-height: 80px;
}

#left_bar > a:hover {
  color: #ff754b;
}

#left_bar > a.left_1 {
  background-image: url("../images/pic/選單.png");
  background-size: cover;
}

@-webkit-keyframes push {
  0% {
  }
  100% {
    height: 418px;
  }
}

@keyframes push {
  0% {
  }
  100% {
    height: 418px;
  }
}
