* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

img {
  display: block;
}

header {
  width: 100%;
  height: auto;
  overflow: hidden;
}

header > div {
  width: 100%;
  height: auto;
  overflow: hidden;
  background-image: url("../images/pic_old/dog_pic/dog_1.JPG");
  background-size: cover;
}

header > div > div {
  width: auto;
  height: auto;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#logo {
  width: 208px;
  height: 204px;
  border-radius: 45%;
  background-image: url("../images/pic_old/logo.png");
  background-size: cover;
  display: block;
  margin: 27px 60px 0 60px;
}

header > div > div > p {
  font-size: 40px;
  color: #fff;
  line-height: 231px;
  letter-spacing: 8px;
}

header > div > h1 {
  font-size: 90px;
  color: #fff;
  letter-spacing: 6px;
  text-align: center;
  padding-top: 45%;
  padding-bottom: 5%;
}

#interview {
  width: 100%;
  height: 1080px;
  overflow: hidden;
  background-color: #fff;
  position: relative;
}

#v1 {
  width: 1000px;
  height: auto;
  position: absolute;
  top: 28%;
  left: 15%;
  z-index: 2;
}

#v2 {
  width: 900px;
  height: auto;
  position: absolute;
  top: 16%;
  left: 4%;
  z-index: 1;
}

.switch1 {
  -webkit-animation: up_back 0.8s forwards ease-in-out;
          animation: up_back 0.8s forwards ease-in-out;
}

.switch2 {
  -webkit-animation: up_front 0.8s forwards ease-in-out;
          animation: up_front 0.8s forwards ease-in-out;
}

.switch3 {
  -webkit-animation: down_front 0.8s forwards ease-in-out;
          animation: down_front 0.8s forwards ease-in-out;
}

.switch4 {
  -webkit-animation: down_back 0.8s forwards ease-in-out;
          animation: down_back 0.8s forwards ease-in-out;
}

@-webkit-keyframes up_back {
  0% {
    width: 1000px;
    top: 28%;
    left: 15%;
    z-index: 2;
  }
  50% {
    top: 4%;
    z-index: 1;
  }
  100% {
    width: 900px;
    top: 16%;
    left: 4%;
    z-index: 1;
  }
}

@keyframes up_back {
  0% {
    width: 1000px;
    top: 28%;
    left: 15%;
    z-index: 2;
  }
  50% {
    top: 4%;
    z-index: 1;
  }
  100% {
    width: 900px;
    top: 16%;
    left: 4%;
    z-index: 1;
  }
}

@-webkit-keyframes up_front {
  0% {
    width: 900px;
    top: 16%;
    left: 4%;
    z-index: 1;
  }
  50% {
    top: 4%;
    z-index: 2;
  }
  100% {
    width: 1000px;
    top: 28%;
    left: 15%;
    z-index: 2;
  }
}

@keyframes up_front {
  0% {
    width: 900px;
    top: 16%;
    left: 4%;
    z-index: 1;
  }
  50% {
    top: 4%;
    z-index: 2;
  }
  100% {
    width: 1000px;
    top: 28%;
    left: 15%;
    z-index: 2;
  }
}

@-webkit-keyframes down_front {
  0% {
    width: 900px;
    top: 16%;
    left: 4%;
    z-index: 1;
  }
  50% {
    top: 40%;
    z-index: 2;
  }
  100% {
    width: 1000px;
    top: 28%;
    left: 15%;
    z-index: 2;
  }
}

@keyframes down_front {
  0% {
    width: 900px;
    top: 16%;
    left: 4%;
    z-index: 1;
  }
  50% {
    top: 40%;
    z-index: 2;
  }
  100% {
    width: 1000px;
    top: 28%;
    left: 15%;
    z-index: 2;
  }
}

@-webkit-keyframes down_back {
  0% {
    width: 1000px;
    top: 28%;
    left: 15%;
    z-index: 2;
  }
  50% {
    top: 40%;
    z-index: 1;
  }
  100% {
    width: 900px;
    top: 16%;
    left: 4%;
    z-index: 1;
  }
}

@keyframes down_back {
  0% {
    width: 1000px;
    top: 28%;
    left: 15%;
    z-index: 2;
  }
  50% {
    top: 40%;
    z-index: 1;
  }
  100% {
    width: 900px;
    top: 16%;
    left: 4%;
    z-index: 1;
  }
}

#up_btn {
  width: 200px;
  height: 80px;
  display: inline-block;
  position: absolute;
  top: 10%;
  left: 70%;
  background-image: url("../images/pic/Polygon 1.png");
  background-size: 200px 80px;
}

#down_btn {
  width: 200px;
  height: 80px;
  display: inline-block;
  position: absolute;
  top: 20%;
  left: 70%;
  background-image: url("../images/pic/Polygon 2.png");
  background-size: 200px 80px;
}

main {
  width: 100%;
  height: auto;
  overflow: hidden;
  background-color: #30DFF4;
}

main > div {
  width: 1440px;
  height: 720px;
  margin: 10% auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 25% 25% 25%;
      grid-template-columns: 25% 25% 25% 25%;
  -ms-grid-rows: 50% 50%;
      grid-template-rows: 50% 50%;
  background-color: #f3a954;
}

main > div > a {
  border-radius: 10px;
}

#wall-1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  background-image: url("../images/pic/wall_1.JPG");
  background-size: cover;
  background-repeat: no-repeat;
}

#wall-2 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  background-image: url("../images/pic/wall_2.JPG");
  background-size: cover;
  background-position: 50% 12%;
  background-repeat: no-repeat;
}

#wall-3 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  background-image: url("../images/pic/wall_3.JPG");
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
}

#wall-4 {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  background-image: url("../images/pic/wall_4.JPG");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 84%;
}

#wall-5 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  background-image: url("../images/pic/wall_5.JPG");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 42%;
}

#wall-6 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  background-image: url("../images/pic/wall_6.JPG");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 40%;
}

#wall-7 {
  background-color: green;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

#wall-8 {
  background-color: gray;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

main > div > a:hover {
  -webkit-animation: touch 0.3s forwards;
          animation: touch 0.3s forwards;
}

@-webkit-keyframes touch {
  0% {
  }
  100% {
    -webkit-transform: scale(1.1, 1.1);
            transform: scale(1.1, 1.1);
  }
}

@keyframes touch {
  0% {
  }
  100% {
    -webkit-transform: scale(1.1, 1.1);
            transform: scale(1.1, 1.1);
  }
}

footer {
  width: 100%;
  height: auto;
  overflow: hidden;
  background-color: #14213D;
}

#arrow3 {
  width: 103px;
  height: 59px;
  overflow: hidden;
  background-image: url("../images/pic/Path.png");
  margin: 363px auto 0 auto;
}

#left_bar {
  width: 86px;
  height: 86px;
  overflow: hidden;
  background-color: #fff;
  border-radius: 50px;
  position: fixed;
  top: 5%;
  left: 94%;
}

#left_bar:hover {
  -webkit-animation: push 0.5s ease forwards;
          animation: push 0.5s ease forwards;
}

#left_bar > a {
  width: 80px;
  height: 80px;
  background-color: aqua;
  display: block;
  border-radius: 50%;
  font-size: 20px;
  margin: 3px auto 0 auto;
  text-align: center;
  line-height: 80px;
}

#left_bar > a:hover {
  color: #FF521C;
}

@-webkit-keyframes push {
  0% {
  }
  100% {
    height: 418px;
  }
}

@keyframes push {
  0% {
  }
  100% {
    height: 418px;
  }
}

#down_bar {
  width: 651px;
  height: 155px;
  overflow: hidden;
  background-image: url("../images/pic/Group 74.png");
  float: right;
  margin: 52px 622px 0 0;
}

#down_bar > a {
  font-size: 22px;
  color: #fff;
  line-height: 210px;
  margin: 0 52px;
}

#down_bar > a.down_1 {
  margin-left: 101px;
}
