* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

img {
  display: block;
}

header {
  width: 100%;
  height: auto;
  overflow: hidden;
  background-image: url("../images/pic_old/dog_pic/dog_1.JPG");
  background-size: cover;
}

#logo {
  width: 208px;
  height: 204px;
  position: absolute;
  border-radius: 45%;
  background-image: url("../images/pic/logo.png");
  background-size: cover;
  margin: 27px 0 0 40px;
  z-index: 3;
}

#top {
  width: 100%;
  height: 900px;
}

#top > h1 {
  font-weight: bold;
  font-size: 70px;
  text-align: center;
  padding-top: 35%;
  color: #fff;
}

#section_1 {
  width: 100%;
  height: 700px;
  overflow: hidden;
}

#section_1 > div {
  width: 880px;
  height: 470px;
  background-color: #FFE81D;
  margin-top: 100px;
}

#section_1 > div > div {
  width: 470px;
  height: 100%;
  border-radius: 50%;
  background-color: #FFE81D;
  margin-left: 73%;
}

#section_2 {
  width: 100%;
  height: 700px;
  overflow: hidden;
}

#section_2 > div {
  width: 880px;
  height: 470px;
  background-color: #FFE81D;
  margin-top: 100px;
  margin-left: 1040px;
}

#section_2 > div > div {
  width: 470px;
  height: 100%;
  border-radius: 50%;
  background-color: #FFE81D;
  margin-left: -26%;
}

footer {
  width: 100%;
  height: auto;
  overflow: hidden;
  background-color: #14213D;
}

#arrow3 {
  width: 103px;
  height: 59px;
  overflow: hidden;
  background-image: url("../images/pic/Path.png");
  margin: 200px auto 0 auto;
}

#left_bar {
  width: 86px;
  height: 86px;
  overflow: hidden;
  background-color: #fff;
  border-radius: 50px;
  position: fixed;
  top: 5%;
  left: 94%;
  z-index: 999;
}

#left_bar:hover {
  -webkit-animation: push 0.5s ease forwards;
          animation: push 0.5s ease forwards;
}

#left_bar > a {
  width: 80px;
  height: 80px;
  background-color: aqua;
  display: block;
  border-radius: 50%;
  font-size: 20px;
  margin: 3px auto 0 auto;
  text-align: center;
  line-height: 80px;
}

#left_bar > a:hover {
  color: #FF521C;
}

@-webkit-keyframes push {
  0% {
  }
  100% {
    height: 418px;
  }
}

@keyframes push {
  0% {
  }
  100% {
    height: 418px;
  }
}

#down_bar {
  width: 651px;
  height: 155px;
  overflow: hidden;
  background-image: url("../images/pic/Group 74.png");
  float: right;
  margin: 52px 622px 0 0;
}

#down_bar > a {
  font-size: 22px;
  color: #fff;
  line-height: 210px;
  margin: 0 52px;
}

#down_bar > a.down_1 {
  margin-left: 101px;
}
