@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

img {
  display: block;
}

header {
  width: 100%;
  height: auto;
  overflow: hidden;
  background-image: url("../images/pic_old/dog_pic/dog_1.JPG");
  background-size: cover;
}

#logo {
  width: 208px;
  height: 204px;
  position: absolute;
  border-radius: 45%;
  background-image: url("../images/pic/logo.png");
  background-size: 208px 204px;
  margin: 27px 0 0 40px;
  z-index: 3;
}

#top {
  width: 100%;
  height: 900px;
}

#top > h1 {
  font-weight: bold;
  font-size: 70px;
  text-align: center;
  padding-top: 35%;
  color: #fff;
}

#section_1 {
  width: 100%;
  height: 500px;
  background-image: url("../images/pic/網頁背景.png");
  padding-top: 100px;
}

#section_1 > div {
  width: 680px;
  height: 300px;
  background-image: url("../images/pic/page4/左選單1.png");
  background-repeat: no-repeat;
  background-position: 100%;
  background-size: cover;
}

#section_2 {
  width: 100%;
  height: 500px;
  background-image: url("../images/pic/網頁背景.png");
  padding-top: 100px;
}

#section_2 > div {
  width: 680px;
  height: 300px;
  background-image: url("../images/pic/page4/右選單1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0%;
  margin-left: 65%;
}

#section_3 {
  width: 100%;
  height: 500px;
  background-image: url("../images/pic/網頁背景.png");
  padding-top: 100px;
}

#section_3 > div {
  width: 680px;
  height: 300px;
  background-image: url("../images/pic/page4/左選單1.png");
  background-repeat: no-repeat;
  background-position: 100%;
  background-size: cover;
}

#section_4 {
  width: 100%;
  height: 500px;
  background-image: url("../images/pic/網頁背景.png");
  padding-top: 100px;
}

#section_4 > div {
  width: 680px;
  height: 300px;
  background-image: url("../images/pic/page4/右選單1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0%;
  margin-left: 65%;
}

#section_5 {
  width: 100%;
  height: 500px;
  background-image: url("../images/pic/網頁背景.png");
  padding-top: 100px;
}

#section_5 > div {
  width: 680px;
  height: 300px;
  background-image: url("../images/pic/page4/左選單1.png");
  background-repeat: no-repeat;
  background-position: 100%;
  background-size: cover;
}

#last {
  width: 100%;
  height: 1080px;
  background-image: url("../images/pic/網頁背景.png");
  position: relative;
}

#last > img {
  position: absolute;
  left: 0;
  top: 20%;
}

#info {
  width: 100%;
  height: 900px;
  background-image: url("../images/pic/網頁背景.png");
}

#info > div {
  width: 100%;
  height: 70%;
  background-image: url("../images/pic/page4/收容所背景底色.png");
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: calc(100%/3) calc(100%/3) calc(100%/3);
      grid-template-columns: calc(100%/3) calc(100%/3) calc(100%/3);
  -ms-grid-rows: 100%;
      grid-template-rows: 100%;
}

#info > div > div {
  width: 434px;
  height: 520px;
  background-image: url("../images/pic/page4/收容所框架.png");
  margin: auto;
}

#info > div > div > a {
  display: inline-block;
  width: 157px;
  height: 53px;
  background-image: url("../images/pic/page4/收容所-按鈕.png");
  margin: 100% 0 0 32%;
}

footer {
  width: 100%;
  height: auto;
  overflow: hidden;
  background-color: #14213D;
}

#arrow3 {
  width: 103px;
  height: 59px;
  overflow: hidden;
  background-image: url("../images/pic/Path.png");
  margin: 200px auto 0 auto;
}

#left_bar {
  width: 86px;
  height: 86px;
  overflow: hidden;
  background-image: url("../images/pic/選單內底框.png");
  background-size: cover;
  background-position: 100%;
  border-radius: 50px;
  position: fixed;
  top: 5%;
  left: 94%;
  z-index: 999;
}

#left_bar:hover {
  -webkit-animation: push 0.5s ease forwards;
          animation: push 0.5s ease forwards;
}

#left_bar > a {
  width: 80px;
  height: 80px;
  background-image: url("../images/pic/選單內灰園框.png");
  background-size: cover;
  background-position: 100%;
  display: block;
  border-radius: 50%;
  font-size: 20px;
  margin: 3px auto 0 auto;
  text-align: center;
  line-height: 80px;
}

#left_bar > a:hover {
  color: #FF521C;
}

#left_bar > a.left_1 {
  background-image: url("../images/pic/選單.png");
  background-size: cover;
}

@-webkit-keyframes push {
  0% {
  }
  100% {
    height: 418px;
  }
}

@keyframes push {
  0% {
  }
  100% {
    height: 418px;
  }
}
